<tr>
          <td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin -->
   
<div align="center">
<p>
    
 
</p></div>

<br><br><br>

	<table width="300" cellspacing="0" cellpadding="2" border="1" align="center">
	 <tbody><tr><td bgcolor="ForestGreen"><font color="#FFFFFF"><b>Registered Learner LogIn</b></font></td></tr>
	 <tr>
	  
	    <form method="post" action="/Teachers/LoginLearner.asp?showmenu=1" id="form1" name="form1"></form>
	  
	   <td bgcolor="Ivory" align="center">  
	     <table bordercolorlight="Ivory" cellspacing="0" cellpadding="5" bordercolor="#d4e6d4" border="1" align="center">
	       <tbody><tr>
	         <td nowrap=""><b>Email</b></td>
	         <td nowrap="">
	           <input type="text" name="txtEmail" id="txtEmail" maxlength="100" size="14" value="" style="width: 170px;">
	           	
				  <a href="PassWReminder.asp?IsTeacher=0&amp;showMenu=1"><small>Forgot</small></a>
				
	         </td>
	       </tr>
	  
	       <tr>
	         <td><b>Password</b></td>
	         <td nowrap="">
	           <input type="password" name="txtPassw" id="txtPassw" maxlength="50" size="14" style="width: 170px;">
	           	
				  <a href="PassWReminder.asp?IsTeacher=0&amp;showMenu=1"><small>Forgot</small></a>
				
	         </td>
	       </tr>
	     </tbody></table>
	     <br>
	     <input type="hidden" name="hidProc" id="hidProc" value="1">
         <label><input type="checkbox" name="chbSavePassw" id="chbSavePassw" value="1">Keep me logged in</label><br>
		 <small><font color="gray">(You can reject this option later from your Account page)</font></small><br>
		 <br>
	     <input type="submit" value="LogIn" id="submit1" name="submit1">
	   </td>
	  
	 </tr>       
	</tbody></table>

	<br>
	<center>
	Teachers: login <a href="LoginTeacher.asp?showmenu=1">here</a>
	</center>
	
	<p style="margin-left: 10;" align="center">

<br>
<br>
             <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/LoginLearner.asp?showmenu=1" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLoginLearner.asp%3Fshowmenu%3D1&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="ff2ee9fb2a574e" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfd63faeb262844%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2c28c0659405be%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLoginLearner.asp%3Fshowmenu%3D1&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </p></td>
        </tr>