<%if notice%>
<div align="center">
<p>
    
 
</p></div>
<center><font size="3"><b><%=notice%></b></font></center><!-- comment -->

<%end%>
<div align="center">
<p>
    
 
</div>


    <center>
    <TABLE BORDER=0 CELLSPACING=2 CELLPADDING=2>
        
            <TR>
                <TD valign=top align=center>
                
                    Non membres:<br>
                
                <!--/TD>
                <TD valign=top-->
                  
                    <a href="/SignUp.asp?showmenu=1&lang=fr" class="goMed-btn">Inscrivez-vous</a><!-- maintenant.<br>
                    Joignez-vous à la communauté!<br-->
					<br><br>ou <br>
                  
                </TD>
            </TR>
        
    </TABLE>
    </center>
    <br>
    
    
    <table class="TblUserForm" border="0" cellpadding="5" cellspacing="0" width="350" align="center">
     <tr class="table-heading">
       <td>
            
             Ouvrir une session en tant que membre
            
       </td>
     </tr>
     <tr>
       <td align="center">  
         <%=render "members/sessions/form"%>
      </td>
    </tr>       
    </table>
	

    <p style="margin-left: 10;"  align="center">

<br>
<br>
 
				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like" data-href="https://www.mylanguageexchange.com/login.asp?showmenu=1&lang=fr" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>				
				&nbsp;&nbsp;
