<td valign="top">
				<!-- Page Begin -->


Practice your foreign language by chatting with a native speaker of the language you are learning. 
<a href="" onclick="WhosOnPopUp(); return false;">Enter chat rooms</a> now.<br>
<br>

<div id="BasicsInline">
<table class="TblCardSm" width="100%" cellspacing="0" cellpadding="2" border="0">
  <tbody><tr class="table-heading" valign="middle" align="left">
	<td valign="middle">
	  The Basics
	</td>
  </tr>
	<tr>
	  <td>
	  <a href="/faq.asp#_a1">What</a> is a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="/faq.asp#_a2">Why</a>  do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="/HowTo.asp">How</a> to do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="/SignUp.asp?showmenu=1">Sign up</a> now - add your free profile!<br>
	</td></tr>
</tbody></table>	
	
<br>
<br>
</div>

<table class="TblCard" width="100%" cellspacing="0" cellpadding="1" border="0">
   <tbody><tr class="table-heading"><td>Text Chat Features</td></tr>
   <tr>
     <td>  
<table width="100%" cellspacing="3" cellpadding="1" border="0">
	<tbody><tr>
		<td width="20%" valign="top"><b>Easy</b></td>
		<td valign="top">All you need is your browser. No download or special software is required.
		   Chatting is just a few clicks away!*
		   <a href="" onclick="WhosOnPopUp(); return false;">Enter chat rooms</a> now.<br>
		   <small>* Only gold members can initiate chat. Please see membership details <a href="/FAQMembers.asp#q1"><small>here</small></a>.</small><br>
		   <br>
		   Please turn off pop up blockers. 
		   Click <a href="/WhosOnDiagPopUp.asp">here</a> to see if you need to disable pop up blockers. <br>
		</td>
	</tr>
	<tr>
		<td valign="top"><b>Safe</b></td>
		<td valign="top">This is a community of language learners who help each other learn through
		  language exchange practice. It is a supportive environment where abusive behaviour is
		  not tolerated.
		</td>
	</tr>
	<tr>
		<td valign="top"><b>Practice with Native Speakers</b></td>
		<td valign="top">The native and practicing languages of everyone in text chat is
		  always available. Click <a href="" onclick="WhosOnPopUp(); return false;">here</a>
		  to see who is in text chat now.
		</td>
	</tr>
	<tr>
		<td valign="top"><b>Lesson Plans</b></td>
		<td valign="top">Nothing to talk about? No problem! We provide free lesson plans specifically
		  designed for language exchange practice between native speakers. Designed by an
		  <a href="/Helene.asp">expert</a> in language exchange practice, these lesson plans 
		  are fun and will help you get effective foreign language practice from your text chat. 
		  Lesson plans are currently available in English, French, Spanish, German, Chinese (simplified),
		  Chinese (traditional), Japanese and Korean.
		  Click <a href="" onclick="CFOpen(0); return false;"> here</a> to see the lesson plans.
		</td>
	</tr>
	<tr>
		<td valign="top"><b>Save Your Chat Session</b></td>
		<td valign="top">Save your entire text chat session to your computer. Review all that you have 
		learned at a later time and continue to improve your foreign language skills!
		</td>
	</tr>
	<tr>
		<td valign="top"><b>Easily Insert Accented Characters</b></td>
		<td valign="top">Insert accented latin characters such as é or ñ with a single click.
		</td>
	</tr>
</tbody></table>
     </td>
   </tr>       
  </tbody></table>

<br>
<br>
<h2>How to Practice a Foreign Language Using Text Chat</h2><p></p>

<ol>
	<li>Review the practice tips and guidelines <a href="/HowTo.asp">How to do a language exchange</a>.
	</li><li><a href="" onclick="WhosOnPopUp(); return false;">Enter</a> 
		text chat to find a language exchange partner to chat with. 
	</li><li>If you can find someone to do a language exchange in the text chat, 
		<a href="" onclick="CFOpen(0); return false;">launch</a> the chat companion to access 
	lesson plans when you feel comfortable. Your partner must do the same. Have fun and learn!
	</li><li>If you don't find anyone to practice with in text chat, find a partner by <a href="/Search.asp">searching our member's database</a>.
	</li><li>Arrange to meet your partner in text chat at a certain time. 
	</li><li>At the time of your practice session, meet your partner in the text chat.<br>
		<a href="" onclick="WhosOnPopUp(); return false;">Enter text chat now</a>.</li>
	<li><a href="" onclick="CFOpen(0); return false;">Launch</a> the chat companion to access the lesson plans.</li>
</ol>
<p></p>

<br>
<br>
<h2>Find a Text Chat Partner</h2>
Find all members who want language exchange practice via text chat.<br>
<br>
<table class="TblListMenu" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr class="table-heading" valign="middle">
    <td valign="middle">
      <span title="International Text Chat">Text Chat Partners - Express Find by Language</span>
    </td>
  </tr>
  <tr>
    <td>

    <table class="TblListMenuCol" width="32%" cellspacing="1" cellpadding="1" align="left">
    
	  <tbody><tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=120&amp;selTxtChat=true" title="- Other - text chat partners">- Other - text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=77&amp;selTxtChat=true" title="Afrikaans text chat partners">Afrikaans text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=106&amp;selTxtChat=true" title="Akan text chat partners">Akan text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=60&amp;selTxtChat=true" title="Albanian text chat partners">Albanian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=94&amp;selTxtChat=true" title="Amharic (Ethiopian) text chat partners">Amharic (Ethiopian) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=18&amp;selTxtChat=true" title="Arabic, Egyptian text chat partners">Arabic, Egyptian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=3&amp;selTxtChat=true" title="Arabic, Middle Eastern text chat partners">Arabic, Middle Eastern text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=2&amp;selTxtChat=true" title="Arabic, Moroccan text chat partners">Arabic, Moroccan text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=4&amp;selTxtChat=true" title="Arabic, other text chat partners">Arabic, other text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=168&amp;selTxtChat=true" title="Arabic, Palestinian text chat partners">Arabic, Palestinian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=82&amp;selTxtChat=true" title="Aramaic text chat partners">Aramaic text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=64&amp;selTxtChat=true" title="Armenian text chat partners">Armenian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=112&amp;selTxtChat=true" title="Assamese text chat partners">Assamese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=78&amp;selTxtChat=true" title="Assyrian text chat partners">Assyrian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=72&amp;selTxtChat=true" title="Azerbaijani text chat partners">Azerbaijani text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=165&amp;selTxtChat=true" title="Bambara (Bamana) text chat partners">Bambara (Bamana) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=145&amp;selTxtChat=true" title="Baoulé (Baule, Bawule) text chat partners">Baoulé (Baule, Bawule) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=7&amp;selTxtChat=true" title="Basque text chat partners">Basque text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=144&amp;selTxtChat=true" title="Bavarian (Austro-Bavarian) text chat partners">Bavarian (Austro-Bavarian) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=100&amp;selTxtChat=true" title="Belarusian text chat partners">Belarusian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=153&amp;selTxtChat=true" title="Bemba (Chiwemba, Wemba) text chat partners">Bemba (Chiwemba, Wemba) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=8&amp;selTxtChat=true" title="Bengali text chat partners">Bengali text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=9&amp;selTxtChat=true" title="Berber (Tamazight) text chat partners">Berber (Tamazight) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=59&amp;selTxtChat=true" title="Bosnian text chat partners">Bosnian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=116&amp;selTxtChat=true" title="Breton text chat partners">Breton text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=10&amp;selTxtChat=true" title="Bulgarian text chat partners">Bulgarian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=96&amp;selTxtChat=true" title="Burmese text chat partners">Burmese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=65&amp;selTxtChat=true" title="Cambodian (Khmer) text chat partners">Cambodian (Khmer) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=55&amp;selTxtChat=true" title="Catalan text chat partners">Catalan text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=136&amp;selTxtChat=true" title="Cebuano (Bisaya) text chat partners">Cebuano (Bisaya) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=95&amp;selTxtChat=true" title="Chichewa (Nyanja) text chat partners">Chichewa (Nyanja) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=11&amp;selTxtChat=true" title="Chinese, Cantonese text chat partners">Chinese, Cantonese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=12&amp;selTxtChat=true" title="Chinese, Mandarin text chat partners">Chinese, Mandarin text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=13&amp;selTxtChat=true" title="Chinese, other text chat partners">Chinese, other text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=167&amp;selTxtChat=true" title="Chinese, Taiwanese (Hokkien, Minnanhua) text chat partners">Chinese, Taiwanese (Hokkien, Minnanhua) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=147&amp;selTxtChat=true" title="Chuvash (Bulgar) text chat partners">Chuvash (Bulgar) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=14&amp;selTxtChat=true" title="Creole text chat partners">Creole text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=83&amp;selTxtChat=true" title="Croatian text chat partners">Croatian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=15&amp;selTxtChat=true" title="Czech text chat partners">Czech text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=16&amp;selTxtChat=true" title="Danish text chat partners">Danish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=17&amp;selTxtChat=true" title="Dutch text chat partners">Dutch text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=1&amp;selTxtChat=true" title="English text chat partners">English text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=19&amp;selTxtChat=true" title="Esperanto text chat partners">Esperanto text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=63&amp;selTxtChat=true" title="Estonian text chat partners">Estonian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=146&amp;selTxtChat=true" title="Faroese text chat partners">Faroese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=88&amp;selTxtChat=true" title="Fijian text chat partners">Fijian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=20&amp;selTxtChat=true" title="Filipino (Tagalog) text chat partners">Filipino (Tagalog) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=21&amp;selTxtChat=true" title="Finnish text chat partners">Finnish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=155&amp;selTxtChat=true" title="Fon (Dahomeen, Djedji, Fongbe) text chat partners">Fon (Dahomeen, Djedji, Fongbe) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=22&amp;selTxtChat=true" title="French text chat partners">French text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=68&amp;selTxtChat=true" title="Gaelic (Irish) text chat partners">Gaelic (Irish) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=170&amp;selTxtChat=true" title="Gaelic (Manx) text chat partners">Gaelic (Manx) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=69&amp;selTxtChat=true" title="Gaelic (Scottish) text chat partners">Gaelic (Scottish) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=79&amp;selTxtChat=true" title="Galician text chat partners">Galician text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=71&amp;selTxtChat=true" title="Georgian text chat partners">Georgian text chat</a>
		  
	    </td>
	  </tr>
  
    </tbody></table>
    
    <table class="TblListMenuCol" width="32%" cellspacing="1" cellpadding="1" align="left">
    
	  <tbody><tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=23&amp;selTxtChat=true" title="German text chat partners">German text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=24&amp;selTxtChat=true" title="Greek text chat partners">Greek text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=74&amp;selTxtChat=true" title="Gujarati text chat partners">Gujarati text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=138&amp;selTxtChat=true" title="Hausa text chat partners">Hausa text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=73&amp;selTxtChat=true" title="Hawaiian text chat partners">Hawaiian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=25&amp;selTxtChat=true" title="Hebrew text chat partners">Hebrew text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=26&amp;selTxtChat=true" title="Hindi text chat partners">Hindi text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=117&amp;selTxtChat=true" title="Hmong text chat partners">Hmong text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=27&amp;selTxtChat=true" title="Hungarian text chat partners">Hungarian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=56&amp;selTxtChat=true" title="Icelandic text chat partners">Icelandic text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=109&amp;selTxtChat=true" title="Ido text chat partners">Ido text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=157&amp;selTxtChat=true" title="Igbo (Ibo) text chat partners">Igbo (Ibo) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=5&amp;selTxtChat=true" title="Indonesian (Bahasa) text chat partners">Indonesian (Bahasa) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=108&amp;selTxtChat=true" title="Interlingua text chat partners">Interlingua text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=29&amp;selTxtChat=true" title="Italian text chat partners">Italian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=30&amp;selTxtChat=true" title="Japanese text chat partners">Japanese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=159&amp;selTxtChat=true" title="Kachchi text chat partners">Kachchi text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=67&amp;selTxtChat=true" title="Kannada text chat partners">Kannada text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=91&amp;selTxtChat=true" title="Kazakh text chat partners">Kazakh text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=141&amp;selTxtChat=true" title="Kituba (Kikoongo, Munukutuba) text chat partners">Kituba (Kikoongo, Munukutuba) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=123&amp;selTxtChat=true" title="Konkani text chat partners">Konkani text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=143&amp;selTxtChat=true" title="Konkani (Kunabi, Cugani, Bankoti) text chat partners">Konkani (Kunabi, Cugani, Bankoti) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=31&amp;selTxtChat=true" title="Korean text chat partners">Korean text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=53&amp;selTxtChat=true" title="Kurdish text chat partners">Kurdish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=135&amp;selTxtChat=true" title="Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz) text chat partners">Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=133&amp;selTxtChat=true" title="Ladino text chat partners">Ladino text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=84&amp;selTxtChat=true" title="Lao text chat partners">Lao text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=57&amp;selTxtChat=true" title="Latin text chat partners">Latin text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=62&amp;selTxtChat=true" title="Latvian text chat partners">Latvian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=114&amp;selTxtChat=true" title="Ligurian text chat partners">Ligurian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=142&amp;selTxtChat=true" title="Lingala (Ngala) text chat partners">Lingala (Ngala) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=61&amp;selTxtChat=true" title="Lithuanian text chat partners">Lithuanian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=66&amp;selTxtChat=true" title="Lombard text chat partners">Lombard text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=148&amp;selTxtChat=true" title="Luxembourgeois (Luxemburgian) text chat partners">Luxembourgeois (Luxemburgian) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=87&amp;selTxtChat=true" title="Macedonian text chat partners">Macedonian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=115&amp;selTxtChat=true" title="Malagasy text chat partners">Malagasy text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=6&amp;selTxtChat=true" title="Malay (Bahasa Malaysia) text chat partners">Malay (Bahasa Malaysia) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=93&amp;selTxtChat=true" title="Malayalam text chat partners">Malayalam text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=119&amp;selTxtChat=true" title="Maldivian (Dhivehi) text chat partners">Maldivian (Dhivehi) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=101&amp;selTxtChat=true" title="Maltese text chat partners">Maltese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=160&amp;selTxtChat=true" title="Mandinka text chat partners">Mandinka text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=122&amp;selTxtChat=true" title="Maori (New Zealand Maori) text chat partners">Maori (New Zealand Maori) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=85&amp;selTxtChat=true" title="Marathi text chat partners">Marathi text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=105&amp;selTxtChat=true" title="Mongolian text chat partners">Mongolian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=158&amp;selTxtChat=true" title="Montenegrin text chat partners">Montenegrin text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=104&amp;selTxtChat=true" title="Native American (Ojibway, Cree...) text chat partners">Native American (Ojibway, Cree...) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=81&amp;selTxtChat=true" title="Nepali text chat partners">Nepali text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=102&amp;selTxtChat=true" title="Newari text chat partners">Newari text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=32&amp;selTxtChat=true" title="Norwegian text chat partners">Norwegian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=151&amp;selTxtChat=true" title="Nyanja (Chewa, Chinyanja) text chat partners">Nyanja (Chewa, Chinyanja) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=154&amp;selTxtChat=true" title="Occitan (Occitani) text chat partners">Occitan (Occitani) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=90&amp;selTxtChat=true" title="Oriya text chat partners">Oriya text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=152&amp;selTxtChat=true" title="Oromo (Oromoo , Oromiffa) text chat partners">Oromo (Oromoo , Oromiffa) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=161&amp;selTxtChat=true" title="Papiamento (or Papiamentu) text chat partners">Papiamento (or Papiamentu) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=124&amp;selTxtChat=true" title="Paraguayan Guarani text chat partners">Paraguayan Guarani text chat</a>
		  
	    </td>
	  </tr>
  
    </tbody></table>
    
    <table class="TblListMenuCol" width="32%" cellspacing="1" cellpadding="1" align="left">
    
	  <tbody><tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=33&amp;selTxtChat=true" title="Persian (Farsi, Dari) text chat partners">Persian (Farsi, Dari) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=34&amp;selTxtChat=true" title="Polish text chat partners">Polish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=35&amp;selTxtChat=true" title="Portuguese text chat partners">Portuguese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=128&amp;selTxtChat=true" title="Pulaar text chat partners">Pulaar text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=36&amp;selTxtChat=true" title="Punjabi text chat partners">Punjabi text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=166&amp;selTxtChat=true" title="Purépecha (Tarascan) text chat partners">Purépecha (Tarascan) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=58&amp;selTxtChat=true" title="Pushto (Pashto) text chat partners">Pushto (Pashto) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=80&amp;selTxtChat=true" title="Quechua text chat partners">Quechua text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=169&amp;selTxtChat=true" title="Rapa Nui text chat partners">Rapa Nui text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=37&amp;selTxtChat=true" title="Romanian text chat partners">Romanian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=89&amp;selTxtChat=true" title="Romansch text chat partners">Romansch text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=150&amp;selTxtChat=true" title="Romany (Gypsy, Danubian) text chat partners">Romany (Gypsy, Danubian) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=140&amp;selTxtChat=true" title="Rundi (Kirundi, Urundi) text chat partners">Rundi (Kirundi, Urundi) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=38&amp;selTxtChat=true" title="Russian text chat partners">Russian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=139&amp;selTxtChat=true" title="Rwanda (Kinyarwanda) text chat partners">Rwanda (Kinyarwanda) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=121&amp;selTxtChat=true" title="Saami (sami) text chat partners">Saami (sami) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=132&amp;selTxtChat=true" title="Samoan text chat partners">Samoan text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=111&amp;selTxtChat=true" title="Sanskrit text chat partners">Sanskrit text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=39&amp;selTxtChat=true" title="Serbian text chat partners">Serbian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=98&amp;selTxtChat=true" title="Shona text chat partners">Shona text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=131&amp;selTxtChat=true" title="Sicilian text chat partners">Sicilian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=76&amp;selTxtChat=true" title="Sindhi text chat partners">Sindhi text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=86&amp;selTxtChat=true" title="Sinhalese text chat partners">Sinhalese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=41&amp;selTxtChat=true" title="Slovak text chat partners">Slovak text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=54&amp;selTxtChat=true" title="Slovenian text chat partners">Slovenian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=99&amp;selTxtChat=true" title="Somali text chat partners">Somali text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=42&amp;selTxtChat=true" title="Spanish text chat partners">Spanish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=43&amp;selTxtChat=true" title="Swahili text chat partners">Swahili text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=44&amp;selTxtChat=true" title="Swedish text chat partners">Swedish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=163&amp;selTxtChat=true" title="Swiss German text chat partners">Swiss German text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=149&amp;selTxtChat=true" title="Tajiki (Tajiki, Tadzhik) text chat partners">Tajiki (Tajiki, Tadzhik) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=45&amp;selTxtChat=true" title="Tamil text chat partners">Tamil text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=126&amp;selTxtChat=true" title="Tatar (Tartar) text chat partners">Tatar (Tartar) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=75&amp;selTxtChat=true" title="Telugu text chat partners">Telugu text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=103&amp;selTxtChat=true" title="Tetum text chat partners">Tetum text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=46&amp;selTxtChat=true" title="Thai text chat partners">Thai text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=47&amp;selTxtChat=true" title="Tibetan text chat partners">Tibetan text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=137&amp;selTxtChat=true" title="Tigrigna (Tigray, Tigrinya) text chat partners">Tigrigna (Tigray, Tigrinya) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=162&amp;selTxtChat=true" title="Tok Pisin text chat partners">Tok Pisin text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=107&amp;selTxtChat=true" title="Tongan text chat partners">Tongan text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=92&amp;selTxtChat=true" title="Tswana text chat partners">Tswana text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=134&amp;selTxtChat=true" title="Tumbuka text chat partners">Tumbuka text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=48&amp;selTxtChat=true" title="Turkish text chat partners">Turkish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=49&amp;selTxtChat=true" title="Ukrainian text chat partners">Ukrainian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=50&amp;selTxtChat=true" title="Urdu text chat partners">Urdu text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=127&amp;selTxtChat=true" title="Uyghur (Wighor) text chat partners">Uyghur (Wighor) text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=97&amp;selTxtChat=true" title="Uzbek text chat partners">Uzbek text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=113&amp;selTxtChat=true" title="Venetian text chat partners">Venetian text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=51&amp;selTxtChat=true" title="Vietnamese text chat partners">Vietnamese text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=70&amp;selTxtChat=true" title="Welsh text chat partners">Welsh text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=129&amp;selTxtChat=true" title="Wolof text chat partners">Wolof text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=118&amp;selTxtChat=true" title="Xhosa text chat partners">Xhosa text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=52&amp;selTxtChat=true" title="Yiddish text chat partners">Yiddish text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=130&amp;selTxtChat=true" title="Yoruba text chat partners">Yoruba text chat</a>
		  
	    </td>
	  </tr>
  
	  <tr>
	    <td>
	      
		    <a href="/Search.asp?selX3=125&amp;selTxtChat=true" title="Zulu text chat partners">Zulu text chat</a>
		  
	    </td>
	  </tr>
  
    </tbody></table>
    
<br clear="all">
    </td>
  </tr>
</tbody></table>




<br>
<table class="TblListMenu" width="100%" cellspacing="0" cellpadding="0" border="0">
  <tbody><tr class="table-heading" valign="middle">
    <td valign="middle">
      <span title="International Text Chat">Text Chat Partners - Express Find by Country</span>
    </td>
  </tr>
  <tr>
    <td>
<%Country.all.each_slice(50).to_a.each do |countries|%>
    <table class="TblListMenuCol" width="32%" cellspacing="1" cellpadding="1" align="left">
    
	  <tbody>
              <%countries.each do |country|%>
              <tr>
	    <td>
	      
		  <a href="/Search.asp?selCountry=<%=country.id%>&amp;selTxtChat=true" title="<%=country.name%> text chat"><%=country.name%>&nbsp;( text chat)</a>
	    </td>
	  </tr>
  
	<%end%>
  
	 
  
    </tbody></table>
    <%end%>
   

<br clear="all">
    </td>
  </tr>
</tbody></table>




<br> 		
	</td>