<tr>
         <td data-th="Name" class="userdata" valign="top">
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                <tbody><tr>
                    <td class="userdata">
					
		<img src="images/Face.gif" class="HomePicSmiley" border="0">
	<br>
                    <a href="MemberInfo.asp?uid=4370853" class="rounded-btn icon-text btn-teal">
					<i class="material-icons-outlined notranslate">person</i> Chloé</a>
                        
                    
                      
                        <br>
                        <span id="FAV4370853"><a href="FavAdd.asp?UId=4370853" class="icon-text icon-sm" onclick="FavAdd(4370853); return false;">
						<i class="material-icons-outlined notranslate">favorite_border</i>
						<small>Add to Favorites</small></a></span>
						
						    
						  <br>
						  
						  <small><font color="gray">August 2, 2022</font></small>
                    </td>
                </tr>
            </tbody></table>
         </td>
         <td data-th="Country(City)" class="userdata" valign="top">
            <table cellspacing="0" cellpadding="2" border="0">
                <tbody><tr>
                    <td class="userdata">
                      
						<div class="NarrowOnWideScreen">
							France
						</div>
                       
                    </td>
                </tr>
                
                <tr>
                    <td class="userdata">
						<div class="NarrowOnWideScreen">
							(Paris)
						</div>
                    </td>
                </tr>
                  
            </tbody></table>
         </td>
         <td data-th="Native Language" class="userdata" valign="top">
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                <tbody><tr>
                    <td class="userdata" align="left">
						<div class="NarrowOnWideScreen">
							French
						</div>
					</td>
                </tr>
                
            </tbody></table>
         </td>
         
         <td data-th="Practicing Language" class="userdata" valign="top">
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                <tbody><tr>
                    <td class="userdata">
						<div class="NarrowOnWideScreen">
							English
						</div>
					</td>
                </tr>
                
            </tbody></table>
         </td>
         <td data-th="Description" class="userdata" valign="top">
            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody><tr>
                    <td class="userdata">
						<table width="100%" cellspacing="0" cellpadding="0">
						<tbody><tr valign="top">
						<td width="99%">
						<div class="NarrowMedOnWideScreen">
						<span id="DESC0">
                        Hello, my name is Chloé, I am 26, I am from France. I am a legal counsel.
Obviously I speak French but I speak Spanish too.
Now I need to improve my English... :)
						</span>
						</div>
						</td>
						<td width="1%">
						<a href="#" class="circle-btn btn-lt floating" onclick="GTransBr('DESC0'); return false;" style="margin: 3px 3px 3px 12px;"><i class="material-icons notranslate">translate</i></a>
						</td>
						</tr>
						</tbody></table>
                    </td>
                </tr>
            </tbody></table>
         </td>

         
		 </tr>
