<H2>Nouvelle inscription</H2>
   

<table class="TblCard floating" BORDER="0" CELLSPACING="7" CELLPADDING="7" width="180" align="right" >
    <tr>
        <td>
    <em>&quot;Notre niveau de connaissance a beaucoup augmenté. Vous avez réalisé mon rêve.&quot;</em>
    <p align="right">
    <small style="FONT-SIZE: 8pt;">- Juan José Guerrero, Seville (Espagne)<!--br> 25 février, 2002--></small> <br>
    <a href="SignUp.asp" onclick="TestimonialDream(); return false;"><small>Lire le témoigange complet</small></a>
    </p>
        </td>
    </tr>
</table>

           <b>Votre information est en sécurité!</b>
			<a href="" onclick='showMore(this); return false;' class="showMoreBtn circle-btn btn-lt floating"><i class="material-icons-outlined">expand_more</i></a>
			<a href="" onclick='showLess(this); return false;' class="showLessBtn hide  circle-btn btn-lt floating"><i class="material-icons-outlined">expand_less</i></a>
			<br>
            <ul class="showMore hide">
				<LI>Nous employons une compagnie de cybersécurité pour analyser notre site à la recherche de vulnérabilités connues afin que vos données soient protégées contre les pirates informatiques.
				<LI>Vos connexions à notre site sont sécurisées par un cryptage SSL. Personne ne sera capable de fouiner dans votre trafic.
				<LI>Votre mot de passe est crypté.
                <li>Votre adresse de courriel est toujours <a href='' onclick='HiddenEmailPopUp(); return false;'>protégée</a>.
                <li>Aucun courrier indésirable! Les expéditeurs de courrier indésirable ne vous trouveront pas, parce que nous ne mettrons pas votre adresse de courriel sur nos pages Web.<br>
                    <a href="SignUp.asp" onclick="Extract(); return false;">Apprenez comment il est facile pour les expéditeurs de courrier indésirable d'extraire</a>  votre adresse de courriel à partir des pages Web qui ne protègent pas vos informations.
                <LI>Nous ne vous enverrons pas de nouvelles ni promotions sans votre permission.
                <li>Vos informations ne seront pas divulguées à d'autres organisations.
                    Voir notre <a href='' onclick='PrivacyPopUp(); return false'>politique de confidentialité</a>.
                <li>En résumé, vous ne courrez aucun risque!
            </ul>



			<br>
			<div>
           <a name="WhatYouGet"></a>
            <b>Ce que vous obtenez</b>
            <!--Vous pouvez adhérer en tant que membre régulier ou membre or.
            Voici ce que vous obtenez selon le type d'adhésion que vous choississez.-->
			<a href="" onclick='showMore(this); return false;' class="showMoreBtn circle-btn btn-lt floating"><i class="material-icons-outlined">expand_more</i></a>
			<a href="" onclick='showLess(this); return false;' class="showLessBtn hide  circle-btn btn-lt floating"><i class="material-icons-outlined">expand_less</i></a><br>
			<br>

<TABLE class="TblTranspose showMore hide" BORDER=0 CELLSPACING=1 CELLPADDING=1>
    <TR>
        <TD width=290 valign=top>
            <table class="TblCard floating" border="0" cellpadding=2 cellspacing=0 width="100%" >
            <tr class="table-heading">
                <td colspan=2>
                  <span title="International Penpals">Membre régulier - Gratuit!</span>
                </td>
            </tr>
            <tr>
                <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                <TD valign=top>Créez et maintenez un profil de membre.
                </TD>
            </TR>
                        <tr>
                            <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                            <TD valign=top>Envoyez Hi! à n'importe quel membre. <a href="" onclick="HiWhatPopUp(); return false;" title="Pop up help">Qu'est-ce que c'est?</a>
                            </TD>
                        </TR>
            <tr>
                <TD valign=top>-&nbsp;</TD>
                <TD><b>Répondez</b> aux courriels des membres or.
                </TD>
            </TR>
            <tr>
                <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                <TD>
                  <b>Répondez</b> aux messages de chat textuel des membres or.
                </TD>
            </TR>
            <tr>
                <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                <TD>
                  Participez aux discussions de groupe sur le babillard électronique.
                </TD>
            </TR>
            <tr>
                <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                <TD>
                  Échangez et discutez d'expressions, d'argot, etc. en utilisant les jeux du bonhomme pendu.
                </TD>
            </TR>
            <tr>
                <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                <TD>
                  Sauvegardez les mots et phrases que vous apprenez dans votre propre bloc-notes de recherche conçu pour les membres.
                </TD>
            </TR>
            <tr>
                <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                <TD>
                  Changez votre statut de membre régulier pour celui de membre or à n'importe quel moment.
                </TD>
            </TR>
            <tr>
                <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
                <TD>
                  Commencez par vous créer un profil <a href="#SUForm">ci-dessous</a>.
                </TD>
            </TR>
            </table>        
        </TD>
        <TD width=20 valign=top align=right>
        </TD>
        <TD width=290 valign=top align=right>
            <table class="TblCard floating" border="0" cellpadding=2 cellspacing=0 width="100%">
             <tr class="table-heading">
               <td colspan=2>
                 <span>Membre Or - à partir de 6$ U.S. - ou gagnez gratuitement</span>
               </td>
             </tr>
            <tr>
               <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
               <TD valign=bottom>
                 Toutes les charactéristiques du membre régulier, plus...
               </TD>
            </TR>
            <tr>
               <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
               <TD>
                 <b>Initiez</b> le contact avec n'importe quel membre par courriel.
               </TD>
            </TR>
            <tr>
               <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
               <TD>
                 <b>Initiez</b> le contact avec n'importe quel invité ou membre en chat textuel.
               </TD>
            </TR>
            <tr>
               <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
               <TD>
                 Pour procéder, vous devez premièrement adhérer en tant que membre régulier en vous créant un profil <a href="#SUForm">ci-dessous</a>,
                 ensuite <a href="order_fr.asp">changez votre statut de membre régulier pour celui de membre or ici</a>.
               </TD>
            </TR>
            <tr>
               <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
               <TD>
                 Pour plus de détails, veuillez voir <a href="FAQMembers_fr.asp">Adhésion : Foire Aux Questions ici</a>.
				</TD>
            </TR>
            <tr>
               <TD valign=top>-<img src="images/spacer.gif" width=7 height=1></TD>
               <TD>
                 <a href="order_fr.asp">Achetez</a> ou <a href="FreeGold.asp">gagnez gratuitement</a>
				</TD>
            </TR>
            </table>
        </TD>
    </TR>
</TABLE>
</div>
 
           
    <!--b>Charactéristiques:</b>
    <ul>
        <li>Rapide et sécuritaire! Nous sommes le seul site d'échanges linguistiques qui maintient continuellement
           sa liste d'adresses de courriel à jour. Si vous envoyez un courriel et, pour quelque raison que se soit, il est retourné,
            nous vous aviserons et nous marquerons cette adresse comme étant invalide dans notre système.
            En combinaison avec notre protection des courriels, cela vous offre la façon la plus rapide et la plus sécuritaire de trouver un partenaire n'importe où!

    </ul>
            <br-->
    
    <a name="SUForm"></a>
    <div align='center'></div>
<script LANGUAGE="javascript">
<!--
var sNLa, sNLb, sNLc, sPLa, sPLb, sPLc

// HTML new rows to accept the additional languages
sNLaRow = '<tr ID="NLaRow"><td><span ID="NLaDesc"></span></td><td><span ID="NLa"></span></td></tr>';
sNLbRow = '<tr ID="NLbRow"><td><span ID="NLbDesc"></span></td><td><span ID="NLb"></span></td></tr>';
sNLcRow = '<tr ID="NLcRow"><td><span ID="NLcDesc"></span></td><td><span ID="NLc"></span></td></tr>';
sPLaRow = '<tr ID="PLaRow"><td><span ID="PLaDesc"></span></td><td><span ID="PLa"></span></td></tr>';
sPLbRow = '<tr ID="PLbRow"><td><span ID="PLbDesc"></span></td><td><span ID="PLb"></span></td></tr>';
sPLcRow = '<tr ID="PLcRow"><td><span ID="PLcDesc"></span></td><td><span ID="PLc"></span></td></tr>';

// HTML code that contains the Selection Box
sNLa = '<script>$(document).ready(function() {    $(".select-suggestselX3a").select2();});</script><select name="selX3a" id="selX3a" size="1"   class="select-suggestselX3a"><option value="null" ><option value="120" >- Autre -<option value="77" >afrikaans<option value="106" >akan<option value="60" >albanais<option value="23" >allemand<option value="104" >américain indigène<option value="94" >amharique (éthiopien)<option value="1" >anglais<option value="4" >arabe (autre)<option value="3" >arabe du Moyen-Orient<option value="18" >arabe égyptien<option value="2" >arabe marocain<option value="168" >Arabic, Palestinian<option value="82" >aramaic<option value="64" >arménien<option value="112" >assamese<option value="78" >assyrien<option value="72" >azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >basque<option value="144" >bavarois (austro-bavarois)<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >bengali<option value="9" >berbère (tamazight)<option value="100" >biélorusse<option value="96" >birman<option value="150" >Bohémien (bohémien, Danubian)<option value="59" >bosniaque<option value="116" >breton<option value="10" >bulgare<option value="65" >cambodgien (khmère)<option value="55" >catalan<option value="136" >Cebuano (Bisaya)<option value="95" >chichewa (nyanja)<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="13" >chinois (autre)<option value="11" >chinois cantonais<option value="12" >chinois mandarin<option value="147" >Chuvash (Bulgar)<option value="31" >coréen<option value="14" >créole<option value="83" >croate<option value="16" >danois<option value="42" >espagnol<option value="19" >espéranto<option value="63" >estonien<option value="146" >féroïen<option value="88" >fidjien<option value="20" >filipino (tagalog)<option value="21" >finlandais<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >français<option value="69" >gaélique (écossais)<option value="68" >gaélique (irlandais)<option value="170" >Gaélique (manx)<option value="79" >galicien<option value="70" >gallois<option value="71" >géorgien<option value="24" >grec<option value="74" >gujarati<option value="138" >hausa<option value="73" >hawaïen<option value="25" >hébreu<option value="26" >hindi<option value="117" >hmong<option value="27" >hongrois<option value="109" >ido<option value="157" >Igbo (Ibo)<option value="5" >indonésien<option value="108" >interlingua<option value="56" >islandais<option value="29" >italien<option value="30" >japonais<option value="159" >Kachchi<option value="67" >kannada<option value="91" >kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="53" >kurde<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >ladino<option value="40" >langue des signes<option value="84" >lao<option value="62" >letton<option value="114" >ligurian<option value="142" >Lingala (Ngala)<option value="61" >lithuanien<option value="66" >lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >macédonienne<option value="6" >malaisien<option value="93" >malayalam<option value="119" >maldivien (dhivehi)<option value="115" >malgache<option value="101" >maltais<option value="160" >Mandinka<option value="122" >maori<option value="85" >marathi<option value="105" >mongol<option value="158" >Monténégrin<option value="17" >néerlandais<option value="81" >nepali<option value="102" >newari<option value="32" >norvégien<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="50" >ourdou<option value="97" >ouzbek<option value="161" >papiamento<option value="124" >Paraguayan Guarani<option value="58" >pashto<option value="33" >perse (farsi, dari)<option value="34" >polonais<option value="35" >portugais<option value="128" >Pulaar<option value="36" >punjabi<option value="166" >Purépecha (Tarascan)<option value="80" >quechua<option value="169" >Rapa Nui<option value="89" >romanche<option value="37" >roumain<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >russe<option value="139" >rwanda (kinyarwanda)<option value="121" >saami<option value="132" >samoane<option value="111" >sanskrit<option value="39" >serbe<option value="98" >shona<option value="131" >Sicilian<option value="76" >sindhi<option value="86" >singhalais<option value="41" >slovaque<option value="54" >slovène<option value="99" >somali<option value="44" >suédois<option value="163" >Suisse allemande<option value="43" >swahili<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >tamil<option value="126" >Tatar (Tartar)<option value="15" >tchèque<option value="75" >telugu<option value="103" >tetum<option value="46" >thaïlandais<option value="47" >tibétain<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >tongan<option value="92" >tswana<option value="134" >Tumbuka<option value="48" >turc<option value="49" >ukrainien<option value="127" >Uyghur (Wighor)<option value="113" >vénitien<option value="51" >vietnamien<option value="129" >Wolof<option value="118" >xhosa<option value="52" >yiddish<option value="130" >Yoruba<option value="125" >Zulu</select>' + 
       '<SPAN ID=NLaf> <a href="" onclick="InsertNLb(); return false;"><img src="images/add.gif" border=0 alt="Inscrire une langue maternelle supplémentaire"></a></SPAN>';

sNLb = '<script>$(document).ready(function() {    $(".select-suggestselX3b").select2();});</script><select name="selX3b" id="selX3b" size="1"   class="select-suggestselX3b"><option value="null" ><option value="120" >- Autre -<option value="77" >afrikaans<option value="106" >akan<option value="60" >albanais<option value="23" >allemand<option value="104" >américain indigène<option value="94" >amharique (éthiopien)<option value="1" >anglais<option value="4" >arabe (autre)<option value="3" >arabe du Moyen-Orient<option value="18" >arabe égyptien<option value="2" >arabe marocain<option value="168" >Arabic, Palestinian<option value="82" >aramaic<option value="64" >arménien<option value="112" >assamese<option value="78" >assyrien<option value="72" >azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >basque<option value="144" >bavarois (austro-bavarois)<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >bengali<option value="9" >berbère (tamazight)<option value="100" >biélorusse<option value="96" >birman<option value="150" >Bohémien (bohémien, Danubian)<option value="59" >bosniaque<option value="116" >breton<option value="10" >bulgare<option value="65" >cambodgien (khmère)<option value="55" >catalan<option value="136" >Cebuano (Bisaya)<option value="95" >chichewa (nyanja)<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="13" >chinois (autre)<option value="11" >chinois cantonais<option value="12" >chinois mandarin<option value="147" >Chuvash (Bulgar)<option value="31" >coréen<option value="14" >créole<option value="83" >croate<option value="16" >danois<option value="42" >espagnol<option value="19" >espéranto<option value="63" >estonien<option value="146" >féroïen<option value="88" >fidjien<option value="20" >filipino (tagalog)<option value="21" >finlandais<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >français<option value="69" >gaélique (écossais)<option value="68" >gaélique (irlandais)<option value="170" >Gaélique (manx)<option value="79" >galicien<option value="70" >gallois<option value="71" >géorgien<option value="24" >grec<option value="74" >gujarati<option value="138" >hausa<option value="73" >hawaïen<option value="25" >hébreu<option value="26" >hindi<option value="117" >hmong<option value="27" >hongrois<option value="109" >ido<option value="157" >Igbo (Ibo)<option value="5" >indonésien<option value="108" >interlingua<option value="56" >islandais<option value="29" >italien<option value="30" >japonais<option value="159" >Kachchi<option value="67" >kannada<option value="91" >kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="53" >kurde<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >ladino<option value="40" >langue des signes<option value="84" >lao<option value="62" >letton<option value="114" >ligurian<option value="142" >Lingala (Ngala)<option value="61" >lithuanien<option value="66" >lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >macédonienne<option value="6" >malaisien<option value="93" >malayalam<option value="119" >maldivien (dhivehi)<option value="115" >malgache<option value="101" >maltais<option value="160" >Mandinka<option value="122" >maori<option value="85" >marathi<option value="105" >mongol<option value="158" >Monténégrin<option value="17" >néerlandais<option value="81" >nepali<option value="102" >newari<option value="32" >norvégien<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="50" >ourdou<option value="97" >ouzbek<option value="161" >papiamento<option value="124" >Paraguayan Guarani<option value="58" >pashto<option value="33" >perse (farsi, dari)<option value="34" >polonais<option value="35" >portugais<option value="128" >Pulaar<option value="36" >punjabi<option value="166" >Purépecha (Tarascan)<option value="80" >quechua<option value="169" >Rapa Nui<option value="89" >romanche<option value="37" >roumain<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >russe<option value="139" >rwanda (kinyarwanda)<option value="121" >saami<option value="132" >samoane<option value="111" >sanskrit<option value="39" >serbe<option value="98" >shona<option value="131" >Sicilian<option value="76" >sindhi<option value="86" >singhalais<option value="41" >slovaque<option value="54" >slovène<option value="99" >somali<option value="44" >suédois<option value="163" >Suisse allemande<option value="43" >swahili<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >tamil<option value="126" >Tatar (Tartar)<option value="15" >tchèque<option value="75" >telugu<option value="103" >tetum<option value="46" >thaïlandais<option value="47" >tibétain<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >tongan<option value="92" >tswana<option value="134" >Tumbuka<option value="48" >turc<option value="49" >ukrainien<option value="127" >Uyghur (Wighor)<option value="113" >vénitien<option value="51" >vietnamien<option value="129" >Wolof<option value="118" >xhosa<option value="52" >yiddish<option value="130" >Yoruba<option value="125" >Zulu</select>' + 
       '<SPAN ID=NLbf> <a href="" onclick="InsertNLc(); return false;"><img src="images/add.gif" border=0 alt="Inscrire une langue maternelle supplémentaire"></a></SPAN>';

sNLc = '<script>$(document).ready(function() {    $(".select-suggestselX3c").select2();});</script><select name="selX3c" id="selX3c" size="1"   class="select-suggestselX3c"><option value="null" ><option value="120" >- Autre -<option value="77" >afrikaans<option value="106" >akan<option value="60" >albanais<option value="23" >allemand<option value="104" >américain indigène<option value="94" >amharique (éthiopien)<option value="1" >anglais<option value="4" >arabe (autre)<option value="3" >arabe du Moyen-Orient<option value="18" >arabe égyptien<option value="2" >arabe marocain<option value="168" >Arabic, Palestinian<option value="82" >aramaic<option value="64" >arménien<option value="112" >assamese<option value="78" >assyrien<option value="72" >azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >basque<option value="144" >bavarois (austro-bavarois)<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >bengali<option value="9" >berbère (tamazight)<option value="100" >biélorusse<option value="96" >birman<option value="150" >Bohémien (bohémien, Danubian)<option value="59" >bosniaque<option value="116" >breton<option value="10" >bulgare<option value="65" >cambodgien (khmère)<option value="55" >catalan<option value="136" >Cebuano (Bisaya)<option value="95" >chichewa (nyanja)<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="13" >chinois (autre)<option value="11" >chinois cantonais<option value="12" >chinois mandarin<option value="147" >Chuvash (Bulgar)<option value="31" >coréen<option value="14" >créole<option value="83" >croate<option value="16" >danois<option value="42" >espagnol<option value="19" >espéranto<option value="63" >estonien<option value="146" >féroïen<option value="88" >fidjien<option value="20" >filipino (tagalog)<option value="21" >finlandais<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >français<option value="69" >gaélique (écossais)<option value="68" >gaélique (irlandais)<option value="170" >Gaélique (manx)<option value="79" >galicien<option value="70" >gallois<option value="71" >géorgien<option value="24" >grec<option value="74" >gujarati<option value="138" >hausa<option value="73" >hawaïen<option value="25" >hébreu<option value="26" >hindi<option value="117" >hmong<option value="27" >hongrois<option value="109" >ido<option value="157" >Igbo (Ibo)<option value="5" >indonésien<option value="108" >interlingua<option value="56" >islandais<option value="29" >italien<option value="30" >japonais<option value="159" >Kachchi<option value="67" >kannada<option value="91" >kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="53" >kurde<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >ladino<option value="40" >langue des signes<option value="84" >lao<option value="62" >letton<option value="114" >ligurian<option value="142" >Lingala (Ngala)<option value="61" >lithuanien<option value="66" >lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >macédonienne<option value="6" >malaisien<option value="93" >malayalam<option value="119" >maldivien (dhivehi)<option value="115" >malgache<option value="101" >maltais<option value="160" >Mandinka<option value="122" >maori<option value="85" >marathi<option value="105" >mongol<option value="158" >Monténégrin<option value="17" >néerlandais<option value="81" >nepali<option value="102" >newari<option value="32" >norvégien<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="50" >ourdou<option value="97" >ouzbek<option value="161" >papiamento<option value="124" >Paraguayan Guarani<option value="58" >pashto<option value="33" >perse (farsi, dari)<option value="34" >polonais<option value="35" >portugais<option value="128" >Pulaar<option value="36" >punjabi<option value="166" >Purépecha (Tarascan)<option value="80" >quechua<option value="169" >Rapa Nui<option value="89" >romanche<option value="37" >roumain<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >russe<option value="139" >rwanda (kinyarwanda)<option value="121" >saami<option value="132" >samoane<option value="111" >sanskrit<option value="39" >serbe<option value="98" >shona<option value="131" >Sicilian<option value="76" >sindhi<option value="86" >singhalais<option value="41" >slovaque<option value="54" >slovène<option value="99" >somali<option value="44" >suédois<option value="163" >Suisse allemande<option value="43" >swahili<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >tamil<option value="126" >Tatar (Tartar)<option value="15" >tchèque<option value="75" >telugu<option value="103" >tetum<option value="46" >thaïlandais<option value="47" >tibétain<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >tongan<option value="92" >tswana<option value="134" >Tumbuka<option value="48" >turc<option value="49" >ukrainien<option value="127" >Uyghur (Wighor)<option value="113" >vénitien<option value="51" >vietnamien<option value="129" >Wolof<option value="118" >xhosa<option value="52" >yiddish<option value="130" >Yoruba<option value="125" >Zulu</select>';

sPLa = '<script>$(document).ready(function() {    $(".select-suggestselX6a").select2();});</script><select name="selX6a" id="selX6a" size="1"   class="select-suggestselX6a"><option value="null" ><option value="120" >- Autre -<option value="77" >afrikaans<option value="106" >akan<option value="60" >albanais<option value="23" >allemand<option value="104" >américain indigène<option value="94" >amharique (éthiopien)<option value="1" >anglais<option value="4" >arabe (autre)<option value="3" >arabe du Moyen-Orient<option value="18" >arabe égyptien<option value="2" >arabe marocain<option value="168" >Arabic, Palestinian<option value="82" >aramaic<option value="64" >arménien<option value="112" >assamese<option value="78" >assyrien<option value="72" >azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >basque<option value="144" >bavarois (austro-bavarois)<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >bengali<option value="9" >berbère (tamazight)<option value="100" >biélorusse<option value="96" >birman<option value="150" >Bohémien (bohémien, Danubian)<option value="59" >bosniaque<option value="116" >breton<option value="10" >bulgare<option value="65" >cambodgien (khmère)<option value="55" >catalan<option value="136" >Cebuano (Bisaya)<option value="95" >chichewa (nyanja)<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="13" >chinois (autre)<option value="11" >chinois cantonais<option value="12" >chinois mandarin<option value="147" >Chuvash (Bulgar)<option value="31" >coréen<option value="14" >créole<option value="83" >croate<option value="16" >danois<option value="42" >espagnol<option value="19" >espéranto<option value="63" >estonien<option value="146" >féroïen<option value="88" >fidjien<option value="20" >filipino (tagalog)<option value="21" >finlandais<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >français<option value="69" >gaélique (écossais)<option value="68" >gaélique (irlandais)<option value="170" >Gaélique (manx)<option value="79" >galicien<option value="70" >gallois<option value="71" >géorgien<option value="24" >grec<option value="74" >gujarati<option value="138" >hausa<option value="73" >hawaïen<option value="25" >hébreu<option value="26" >hindi<option value="117" >hmong<option value="27" >hongrois<option value="109" >ido<option value="157" >Igbo (Ibo)<option value="5" >indonésien<option value="108" >interlingua<option value="56" >islandais<option value="29" >italien<option value="30" >japonais<option value="159" >Kachchi<option value="67" >kannada<option value="91" >kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="53" >kurde<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >ladino<option value="40" >langue des signes<option value="84" >lao<option value="62" >letton<option value="114" >ligurian<option value="142" >Lingala (Ngala)<option value="61" >lithuanien<option value="66" >lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >macédonienne<option value="6" >malaisien<option value="93" >malayalam<option value="119" >maldivien (dhivehi)<option value="115" >malgache<option value="101" >maltais<option value="160" >Mandinka<option value="122" >maori<option value="85" >marathi<option value="105" >mongol<option value="158" >Monténégrin<option value="17" >néerlandais<option value="81" >nepali<option value="102" >newari<option value="32" >norvégien<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="50" >ourdou<option value="97" >ouzbek<option value="161" >papiamento<option value="124" >Paraguayan Guarani<option value="58" >pashto<option value="33" >perse (farsi, dari)<option value="34" >polonais<option value="35" >portugais<option value="128" >Pulaar<option value="36" >punjabi<option value="166" >Purépecha (Tarascan)<option value="80" >quechua<option value="169" >Rapa Nui<option value="89" >romanche<option value="37" >roumain<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >russe<option value="139" >rwanda (kinyarwanda)<option value="121" >saami<option value="132" >samoane<option value="111" >sanskrit<option value="39" >serbe<option value="98" >shona<option value="131" >Sicilian<option value="76" >sindhi<option value="86" >singhalais<option value="41" >slovaque<option value="54" >slovène<option value="99" >somali<option value="44" >suédois<option value="163" >Suisse allemande<option value="43" >swahili<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >tamil<option value="126" >Tatar (Tartar)<option value="15" >tchèque<option value="75" >telugu<option value="103" >tetum<option value="46" >thaïlandais<option value="47" >tibétain<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >tongan<option value="92" >tswana<option value="134" >Tumbuka<option value="48" >turc<option value="49" >ukrainien<option value="127" >Uyghur (Wighor)<option value="113" >vénitien<option value="51" >vietnamien<option value="129" >Wolof<option value="118" >xhosa<option value="52" >yiddish<option value="130" >Yoruba<option value="125" >Zulu</select>' + 
       '<SPAN ID=PLaf> <a href="" onclick="InsertPLb(); return false;"><img src="images/add.gif" border=0 alt="Inscrire une langue à pratiquer supplémentaire"></a></SPAN>';

sPLb = '<script>$(document).ready(function() {    $(".select-suggestselX6b").select2();});</script><select name="selX6b" id="selX6b" size="1"   class="select-suggestselX6b"><option value="null" ><option value="120" >- Autre -<option value="77" >afrikaans<option value="106" >akan<option value="60" >albanais<option value="23" >allemand<option value="104" >américain indigène<option value="94" >amharique (éthiopien)<option value="1" >anglais<option value="4" >arabe (autre)<option value="3" >arabe du Moyen-Orient<option value="18" >arabe égyptien<option value="2" >arabe marocain<option value="168" >Arabic, Palestinian<option value="82" >aramaic<option value="64" >arménien<option value="112" >assamese<option value="78" >assyrien<option value="72" >azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >basque<option value="144" >bavarois (austro-bavarois)<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >bengali<option value="9" >berbère (tamazight)<option value="100" >biélorusse<option value="96" >birman<option value="150" >Bohémien (bohémien, Danubian)<option value="59" >bosniaque<option value="116" >breton<option value="10" >bulgare<option value="65" >cambodgien (khmère)<option value="55" >catalan<option value="136" >Cebuano (Bisaya)<option value="95" >chichewa (nyanja)<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="13" >chinois (autre)<option value="11" >chinois cantonais<option value="12" >chinois mandarin<option value="147" >Chuvash (Bulgar)<option value="31" >coréen<option value="14" >créole<option value="83" >croate<option value="16" >danois<option value="42" >espagnol<option value="19" >espéranto<option value="63" >estonien<option value="146" >féroïen<option value="88" >fidjien<option value="20" >filipino (tagalog)<option value="21" >finlandais<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >français<option value="69" >gaélique (écossais)<option value="68" >gaélique (irlandais)<option value="170" >Gaélique (manx)<option value="79" >galicien<option value="70" >gallois<option value="71" >géorgien<option value="24" >grec<option value="74" >gujarati<option value="138" >hausa<option value="73" >hawaïen<option value="25" >hébreu<option value="26" >hindi<option value="117" >hmong<option value="27" >hongrois<option value="109" >ido<option value="157" >Igbo (Ibo)<option value="5" >indonésien<option value="108" >interlingua<option value="56" >islandais<option value="29" >italien<option value="30" >japonais<option value="159" >Kachchi<option value="67" >kannada<option value="91" >kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="53" >kurde<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >ladino<option value="40" >langue des signes<option value="84" >lao<option value="62" >letton<option value="114" >ligurian<option value="142" >Lingala (Ngala)<option value="61" >lithuanien<option value="66" >lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >macédonienne<option value="6" >malaisien<option value="93" >malayalam<option value="119" >maldivien (dhivehi)<option value="115" >malgache<option value="101" >maltais<option value="160" >Mandinka<option value="122" >maori<option value="85" >marathi<option value="105" >mongol<option value="158" >Monténégrin<option value="17" >néerlandais<option value="81" >nepali<option value="102" >newari<option value="32" >norvégien<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="50" >ourdou<option value="97" >ouzbek<option value="161" >papiamento<option value="124" >Paraguayan Guarani<option value="58" >pashto<option value="33" >perse (farsi, dari)<option value="34" >polonais<option value="35" >portugais<option value="128" >Pulaar<option value="36" >punjabi<option value="166" >Purépecha (Tarascan)<option value="80" >quechua<option value="169" >Rapa Nui<option value="89" >romanche<option value="37" >roumain<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >russe<option value="139" >rwanda (kinyarwanda)<option value="121" >saami<option value="132" >samoane<option value="111" >sanskrit<option value="39" >serbe<option value="98" >shona<option value="131" >Sicilian<option value="76" >sindhi<option value="86" >singhalais<option value="41" >slovaque<option value="54" >slovène<option value="99" >somali<option value="44" >suédois<option value="163" >Suisse allemande<option value="43" >swahili<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >tamil<option value="126" >Tatar (Tartar)<option value="15" >tchèque<option value="75" >telugu<option value="103" >tetum<option value="46" >thaïlandais<option value="47" >tibétain<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >tongan<option value="92" >tswana<option value="134" >Tumbuka<option value="48" >turc<option value="49" >ukrainien<option value="127" >Uyghur (Wighor)<option value="113" >vénitien<option value="51" >vietnamien<option value="129" >Wolof<option value="118" >xhosa<option value="52" >yiddish<option value="130" >Yoruba<option value="125" >Zulu</select>' + 
       '<SPAN ID=PLbf> <a href="" onclick="InsertPLc(); return false;"><img src="images/add.gif" border=0 alt="Inscrire une langue à pratiquer supplémentaire"></a></SPAN>';

sPLc = '<script>$(document).ready(function() {    $(".select-suggestselX6c").select2();});</script><select name="selX6c" id="selX6c" size="1"   class="select-suggestselX6c"><option value="null" ><option value="120" >- Autre -<option value="77" >afrikaans<option value="106" >akan<option value="60" >albanais<option value="23" >allemand<option value="104" >américain indigène<option value="94" >amharique (éthiopien)<option value="1" >anglais<option value="4" >arabe (autre)<option value="3" >arabe du Moyen-Orient<option value="18" >arabe égyptien<option value="2" >arabe marocain<option value="168" >Arabic, Palestinian<option value="82" >aramaic<option value="64" >arménien<option value="112" >assamese<option value="78" >assyrien<option value="72" >azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >basque<option value="144" >bavarois (austro-bavarois)<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >bengali<option value="9" >berbère (tamazight)<option value="100" >biélorusse<option value="96" >birman<option value="150" >Bohémien (bohémien, Danubian)<option value="59" >bosniaque<option value="116" >breton<option value="10" >bulgare<option value="65" >cambodgien (khmère)<option value="55" >catalan<option value="136" >Cebuano (Bisaya)<option value="95" >chichewa (nyanja)<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="13" >chinois (autre)<option value="11" >chinois cantonais<option value="12" >chinois mandarin<option value="147" >Chuvash (Bulgar)<option value="31" >coréen<option value="14" >créole<option value="83" >croate<option value="16" >danois<option value="42" >espagnol<option value="19" >espéranto<option value="63" >estonien<option value="146" >féroïen<option value="88" >fidjien<option value="20" >filipino (tagalog)<option value="21" >finlandais<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >français<option value="69" >gaélique (écossais)<option value="68" >gaélique (irlandais)<option value="170" >Gaélique (manx)<option value="79" >galicien<option value="70" >gallois<option value="71" >géorgien<option value="24" >grec<option value="74" >gujarati<option value="138" >hausa<option value="73" >hawaïen<option value="25" >hébreu<option value="26" >hindi<option value="117" >hmong<option value="27" >hongrois<option value="109" >ido<option value="157" >Igbo (Ibo)<option value="5" >indonésien<option value="108" >interlingua<option value="56" >islandais<option value="29" >italien<option value="30" >japonais<option value="159" >Kachchi<option value="67" >kannada<option value="91" >kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="53" >kurde<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >ladino<option value="40" >langue des signes<option value="84" >lao<option value="62" >letton<option value="114" >ligurian<option value="142" >Lingala (Ngala)<option value="61" >lithuanien<option value="66" >lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >macédonienne<option value="6" >malaisien<option value="93" >malayalam<option value="119" >maldivien (dhivehi)<option value="115" >malgache<option value="101" >maltais<option value="160" >Mandinka<option value="122" >maori<option value="85" >marathi<option value="105" >mongol<option value="158" >Monténégrin<option value="17" >néerlandais<option value="81" >nepali<option value="102" >newari<option value="32" >norvégien<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="50" >ourdou<option value="97" >ouzbek<option value="161" >papiamento<option value="124" >Paraguayan Guarani<option value="58" >pashto<option value="33" >perse (farsi, dari)<option value="34" >polonais<option value="35" >portugais<option value="128" >Pulaar<option value="36" >punjabi<option value="166" >Purépecha (Tarascan)<option value="80" >quechua<option value="169" >Rapa Nui<option value="89" >romanche<option value="37" >roumain<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >russe<option value="139" >rwanda (kinyarwanda)<option value="121" >saami<option value="132" >samoane<option value="111" >sanskrit<option value="39" >serbe<option value="98" >shona<option value="131" >Sicilian<option value="76" >sindhi<option value="86" >singhalais<option value="41" >slovaque<option value="54" >slovène<option value="99" >somali<option value="44" >suédois<option value="163" >Suisse allemande<option value="43" >swahili<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >tamil<option value="126" >Tatar (Tartar)<option value="15" >tchèque<option value="75" >telugu<option value="103" >tetum<option value="46" >thaïlandais<option value="47" >tibétain<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >tongan<option value="92" >tswana<option value="134" >Tumbuka<option value="48" >turc<option value="49" >ukrainien<option value="127" >Uyghur (Wighor)<option value="113" >vénitien<option value="51" >vietnamien<option value="129" >Wolof<option value="118" >xhosa<option value="52" >yiddish<option value="130" >Yoruba<option value="125" >Zulu</select>';

// Functions that Insert the Selection Boxes for additional languages
function InsertNLa(){
  $(sNLaRow).insertAfter("#NLRow");
  NLaDesc.innerHTML = '&nbsp;&nbsp;Autre langue maternelle (facultatif)';
  NLa.innerHTML = sNLa;
  NLf.innerHTML ='';
  $(".select-suggestselX3a").select2();
}
function InsertNLb(){
  $(sNLbRow).insertAfter("#NLaRow");
  NLbDesc.innerHTML = '&nbsp;&nbsp;Autre langue maternelle (facultatif)';
  NLb.innerHTML = sNLb
  NLaf.innerHTML='';
  $(".select-suggestselX3b").select2();
}
function InsertNLc(){
  $(sNLcRow).insertAfter("#NLbRow");
  NLcDesc.innerHTML = '&nbsp;&nbsp;Autre langue maternelle (facultatif)'
  NLc.innerHTML = sNLc;
  NLbf.innerHTML = '';
  $(".select-suggestselX3c").select2();
}

function InsertPLa(){
  $(sPLaRow).insertAfter("#PLRow");
  PLaDesc.innerHTML = '&nbsp;&nbsp;Autre langue à pratiquer (facultatif)'
  PLa.innerHTML =sPLa;
  PLf.innerHTML = '';
  $(".select-suggestselX6a").select2();
}
function InsertPLb(){
  $(sPLbRow).insertAfter("#PLaRow");
  PLbDesc.innerHTML = '&nbsp;&nbsp;Autre langue à pratiquer (facultatif)'
  PLb.innerHTML = sPLb;
  PLaf.innerHTML='';
  $(".select-suggestselX6b").select2();
}
function InsertPLc(){
  $(sPLcRow).insertAfter("#PLbRow");
  PLcDesc.innerHTML = '&nbsp;&nbsp;Autre langue à pratiquer (facultatif)'
  PLc.innerHTML = sPLc;
  PLbf.innerHTML ='';
  $(".select-suggestselX6c").select2();
}
function Sorry(){
  alert('Sorry, this feature is only available to Internet Explorer users. Please use Internet Explorer or ask the webmaster to add your additional languages.');
}
//-->
</script>
 <p>
 <table class="TblUserFormLt" width="100%" border="0" cellpadding="0" cellspacing="0">
   <tr class="table-heading"><td>Profil - les champs marqués d'un astérisque* sont requis</td></tr>
   <tr>
     <td>  
       <%=render "members/registrations/form"%>
     </td>
   </tr>     
 </table>      

<script LANGUAGE="javascript">
<!--
// If User has selected an additional language, then show those fields for him
if ( sNLa.indexOf("SELECTED") > 0 ) 
  InsertNLa();  
if ( sNLb.indexOf("SELECTED") > 0 ) 
  InsertNLb();  
if ( sNLc.indexOf("SELECTED") > 0 ) 
  InsertNLc();  
if ( sPLa.indexOf("SELECTED") > 0 ) 
  InsertPLa();  
if ( sPLb.indexOf("SELECTED") > 0 ) 
  InsertPLb();  
if ( sPLc.indexOf("SELECTED") > 0 ) 
  InsertPLc();  
//-->
</script>


				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like" data-href="https://www.mylanguageexchange.com/SignUp.asp?showmenu=1&lang=fr" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>				
				&nbsp;&nbsp;
               