<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>Job Center - Activate Your Job Ad</h2>

Activate or extend your job ad by paying online or offline from anywhere in the world.<br>
Only $10 U.S. for 30 days.<br>
<br>
Your job ad title: <b>developer</b><br>
	

  <br>
  Click on this button to view and choose a payment method.
	<form id="form1" name="form1" method="post" action="GenOrder.asp">
	<input type="hidden" value="10" id="hidTotal" name="hidTotal">
	<input type="hidden" value="mary.goudon@gmail.com" id="hidEmail" name="hidEmail">
	<input type="hidden" value="developer" id="hidProdName" name="hidProdName">
	<input type="hidden" value="Job Ad Lasting 30 Days" id="hidProdType" name="hidProdType">
	<input type="hidden" value="81-J" id="hidProdID" name="hidProdID">
	<input type="hidden" value="https://www.mylanguageexchange.com/JobsOrderActivate.asp" id="hidActURL" name="hidActURL">
	<input type="hidden" value="https://www.mylanguageexchange.com/Jobs.asp" id="hidCancelURL" name="hidCancelURL">
	<input type="submit" value="View Payment Options" id="Submit1" name="Submit1">
	</form>
  
    
<br>
<br>

  <a href="JobsFAQ.asp">Job Center FAQ's</a>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/JobsOrder.asp?Id=26202" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobsOrder.asp%3FId%3D26202&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f24a066407f14c" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2688588d867c44%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff1563b6f8bc0e0e%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobsOrder.asp%3FId%3D26202&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
