
				

                <!-- Page Begin -->  

	<h2>Members Search - Find a Language Exchange Partner</h2>

<%if @members.length == 0%>
There are no members that match selected criteria.
<br>
Try again with fewer search conditions. You don't have to fill in all fields of the search form.
<br><!-- comment -->


<a name="SearchForm"></a>

<script>
	var sSrchList = '';
</script>
<script src="SearchLib_min.js"></script>


  <table class="TblUserForm" cellspacing="0" cellpadding="1" border="1">
   <tbody><tr class="table-heading">
	<td colspan="2">
		Members Search
	</td>
   </tr>
<%else%>
   <td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->    
   <h2>Learn French in France - French  Language Exchange - Members Search Results</h2>
Click on a name for more information or to contact the member.<br>
          Members: <a href="login.asp?showmenu=1">Log in</a> to see your contact history with each member.<br>        
        <br>
<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: 5252 !<br><span class="PageNumActive">1</span> &nbsp;
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=2">2</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=2">2</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=3">3</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=3">3</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=4">4</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=4">4</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=5">5</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=5">5</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=6">6</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=6">6</a> &nbsp;
			<a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=526">526</a> &nbsp;<a class="PageArrow" style="margin-left: 3px;" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=2&amp;UIdLast=4371664"><svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg><!-- <i class="fas fa-arrow-right"></i> --></a> &nbsp;
	  <form name="frmSplitPage" id="frmSplitPage" method="get" action="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search">
		<input type="hidden" name="selSrchList" value="15749707">
		<input type="hidden" name="selX3" value="22">
		<input type="hidden" name="selX6" value="1">
		<input type="hidden" name="selCountry" value="33">
		<input type="hidden" name="txtCity" value="">
		<input type="hidden" name="txtAgeMin" value="18">
		<input type="hidden" name="txtAgeMax" value="26">
		<input type="hidden" name="selGender" value="0">
		<input type="hidden" name="selIsClass" value="false">
		<input type="hidden" name="selX4" value="true">
		<input type="hidden" name="selTxtChat" value="true">
		<input type="hidden" name="selFace" value="true">
		<input type="hidden" name="selX13" value="true">
		<input type="hidden" name="txtFName" value="">
		<input type="hidden" name="txtDesc" value="">
		<input type="hidden" name="selOrder" value="0">
		<input type="hidden" name="txtSrchName" value="mysearch">
		<input type="hidden" name="selSex" value="0">
	                 
	   <select name="nRows" id="nRows" onchange="this.form.submit();" style="height: 28px; border: 1px solid border-radius: 4px; margin: 1px 0px;">  
		 <option selected="" value="10">10
		 </option><option value="20">20
		 </option><option value="50">50
		 </option><option value="100">100
		 </option><option value="250">250
	   </option></select> 
	   <span style="color: #666666; font-size: 14px; vertical-align:bottom;">rows/page. &nbsp;Go to:</span>
		<input type="number" name="Cnt" id="Cnt" style="width: 62px; height: 22px; border: 1px solid border-radius: 4px; margin: 1px 0px;" step="1" min="1" max="526" placeholder="Page #">
		
		<input type="submit" name="btnSplitPage" class="PageGoBtn" value="Go">
	  </form>
	  <script>
		function PageJump(){
			var Cnt = document.getElementById("Cnt").value;
			if(typeof Cnt == 'number'){
				var sTmp = '/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=' + Cnt
				//alert('hi');
				//alert(sTmp);
				//window.location.href = sTmp;
			}
		}
	  </script>
  <br><table class="TblDataRecs TblSrchResults" width="100%" cellspacing="1" cellpadding="1" border="0"><thead><tr class="table-heading"><td>Name</td> <td>Country<br>(City)</td> <td>Native<br> Language</td> <td>Practicing<br> Language</td> <td>Description</td> </tr></thead>
      <tbody>
        
          <%=render collection: @members, as: :member, partial:"memberresult"%>
      </tbody></table>
<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: 5252 !<br><span class="PageNumActive">1</span> &nbsp;
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=2">2</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=2">2</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=3">3</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=3">3</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=4">4</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=4">4</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=5">5</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=5">5</a> &nbsp;
			
				<script>
				if ($(window).width()>420){
					document.write('<a class="PageNumBig" href="/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=6">6</a> &nbsp;');
				}
				</script><a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=6">6</a> &nbsp;
			<a class="PageNumBig" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=526">526</a> &nbsp;<a class="PageArrow" style="margin-left: 3px;" href="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search&amp;Cnt=2&amp;UIdLast=4371664"><svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg><!-- <i class="fas fa-arrow-right"></i> --></a> &nbsp;
	  <form name="frmSplitPage" id="frmSplitPage" method="get" action="/search.asp?selSrchList=15749707&amp;selX3=22&amp;selX6=1&amp;selCountry=33&amp;txtCity=&amp;txtAgeMin=18&amp;txtAgeMax=26&amp;selGender=0&amp;selIsClass=false&amp;selX4=true&amp;selTxtChat=true&amp;selX13=true&amp;selFace=true&amp;txtFName=&amp;txtDesc=&amp;selOrder=0&amp;txtSrchName=mysearch&amp;nRows=10&amp;BtnSubSrch=Search">
		<input type="hidden" name="selSrchList" value="15749707">
		<input type="hidden" name="selX3" value="22">
		<input type="hidden" name="selX6" value="1">
		<input type="hidden" name="selCountry" value="33">
		<input type="hidden" name="txtCity" value="">
		<input type="hidden" name="txtAgeMin" value="18">
		<input type="hidden" name="txtAgeMax" value="26">
		<input type="hidden" name="selGender" value="0">
		<input type="hidden" name="selIsClass" value="false">
		<input type="hidden" name="selX4" value="true">
		<input type="hidden" name="selTxtChat" value="true">
		<input type="hidden" name="selFace" value="true">
		<input type="hidden" name="selX13" value="true">
		<input type="hidden" name="txtFName" value="">
		<input type="hidden" name="txtDesc" value="">
		<input type="hidden" name="selOrder" value="0">
		<input type="hidden" name="txtSrchName" value="mysearch">
		<input type="hidden" name="selSex" value="0">
	                 
	   <select name="nRows" id="nRows" onchange="this.form.submit();" style="height: 28px; border: 1px solid border-radius: 4px; margin: 1px 0px;">  
		 <option selected="" value="10">10
		 </option><option value="20">20
		 </option><option value="50">50
		 </option><option value="100">100
		 </option><option value="250">250
	   </option></select> 
	   <span style="color: #666666; font-size: 14px; vertical-align:bottom;">rows/page. &nbsp;Go to:</span>
		<input type="number" name="Cnt" id="Cnt" style="width: 62px; height: 22px; border: 1px solid border-radius: 4px; margin: 1px 0px;" step="1" min="1" max="526" placeholder="Page #">
		
		<input type="submit" name="btnSplitPage" class="PageGoBtn" value="Go">
	  </form>
	  <script>
		function PageJump(){
			var Cnt = document.getElementById("Cnt").value;
			if(typeof Cnt == 'number'){
				var sTmp = '/search.asp?selSrchList=15749707&selX3=22&selX6=1&selCountry=33&txtCity=&txtAgeMin=18&txtAgeMax=26&selGender=0&selIsClass=false&selX4=true&selTxtChat=true&selX13=true&selFace=true&txtFName=&txtDesc=&selOrder=0&txtSrchName=mysearch&nRows=10&BtnSubSrch=Search&Cnt=' + Cnt
				//alert('hi');
				//alert(sTmp);
				//window.location.href = sTmp;
			}
		}
	  </script>
  <br>



<a name="SearchForm"></a>

  <br>
  <br>
    <b>Search Again</b><br>
  <br>

<script>
	var sSrchList = 15749707;
</script>
<script src="SearchLib_min.js"></script>


  <table class="TblUserForm" cellspacing="0" cellpadding="1" border="1">
   <tbody><tr class="table-heading">
	<td colspan="2">
		Members Search
	</td>
   </tr>

	
<%end%>
	<tr>
		<td>
   <%=render "countries/memberssearch",member:@member%>
	</td>
	</tr>
  </tbody></table>
  

    <br>
    <a href="FavSearch.asp">View my favorites</a>
    <br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/search.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2Fsearch.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="fc16a21e1bd2da" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1ad1795fdff86c%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2d05f9388b4934%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2Fsearch.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
               
