  <H2>Inscription Nouveau Membre</H2>
<div align='center'></div>
 <table class="TblUserFormLt" width="100%" border="0" cellpadding="0" cellspacing="0">
   <tr class="table-heading"><td>Profil - page 2 sur 2</td></tr>
   <tr>
     <td>  
       <%=render "form2",member:@member%>
     </td>
   </tr>     
 </table>      
 
				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like" data-href="https://www.mylanguageexchange.com/SignUp.asp?showmenu=1" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>				
				&nbsp;&nbsp;
