
				

                <!-- Page Begin -->
	<table style="width: 100%; border: 1px solid #ccc; background-color: #f5f5f5; padding:10px;">
	<tbody><tr>
		<td style="vertical-align: text-top;" width="1%">
			<svg class="svg-inline--fa fa-check-circle fa-w-16" style="font-size: 36px; color: green; padding-left: 20px; padding-right: 20px;" aria-hidden="true" data-prefix="fa" data-icon="check-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg><!-- <i class="fa fa-check-circle" style="font-size:36px; color:green; padding-left:20px; padding-right:20px;"></i> -->
		</td>
		<td style="color: #404040;" align="left">
			Sign-up successful! Welcome!
		</td>
	</tr>
	</tbody></table>
	
	<br clear="all">


           <p align="center">
             <font style="font-family: sans-serif; font-size: 20pt; font-weight: bold; color: SandyBrown;">Important: Please read all of this page.</font><br>
             <br>
             <b>Your password</b>:Your UserID was sent to you at:  <b><%=@member.email%></b><br>
             <br>
             <b>24 Hour Approval Period</b>: Your profile will be available in the members search results when it is approved.<br>
             This usually takes less than 24 hours. Thank you for your patience.<br>
             <br>
             <b>Modifying your profile</b>: You can always change any information in your 
             profile <br>by clicking on "Edit Your Data" in the left menu.<br>
             <br>
             <b>Receiving email</b>: Private email messages from other members will<br>
             arrive in your <a href="Inbox.asp">Inbox</a>. Please check that page regularly.
             Just log into your account and click on "View emails" at the bottom of the page.
             A copy will also be sent to you at <%=@member.email%>. 
             for your records.<br> 
             <br>
             <b>Test your email now</b>: Please send yourself an email via your profile page<br>
             to verify your spam filter does not block emails from other members.<br>
             <br>
             Please add the following to your acceptable senders list:<br>
             welcome@mylanguageexchange.com and webmaster@mylanguageexchange.com<br>
             <br>
             <b>Click <a href="Minfo.asp?UId=4372162">here</a>
             to test your email now.<br></b>
             <br>
             Thank you for using Mylanguageexchange.com!<br>
             <br>
             <br>
             </p>
          
                <p align="center"><a href="member.asp">Continue</a></p>
              
				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/SignUp.asp?showmenu=1" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FSignUp.asp%3Fshowmenu%3D1&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f2e56245307a21e" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df28abddf0d51bda%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff1b3d4d0df8d804%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FSignUp.asp%3Fshowmenu%3D1&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                
