<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<a class="pageAnchor" name="top"></a>
<h2>Job Center - Frequently Asked Questions</h2>
<table width="570" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr>
		<td>

<table width="30%" cellspacing="0" cellpadding="1" border="0" bgcolor="Sienna" align="right">
	<tbody><tr>
		<td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="ivory">
	<tbody><tr>
		<td>
<table cellspacing="1" cellpadding="0" border="0">
	<tbody><tr bgcolor="ivory">
	  <td align="center">
    MyLanguageExchange.com is doing "<b>extraordinary things online</b>."<br>
    <br>
    <a href="awards.asp"><img src="images/YilLogo2.gif" alt="Yahoo! Internet Life Magazine Logo" width="163" height="44" border="0"></a><br>
    <small style="FONT-SIZE: 8pt;">- January 2001</small>
		</td>
	</tr>
</tbody></table>
		</td>
	</tr>
</tbody></table>
		</td>
	</tr>
</tbody></table>

<br>
<table width="100%" cellspacing="1" cellpadding="0" border="0">
	<tbody><tr>
		<td width="1%"><b>1.</b>
		</td>
		<td>&nbsp;<a href="#q1">Is it free to list my job ad?</a>
		</td>
	</tr>
	<tr>
		<td width="1%"><b>2.</b>
		</td>
		<td>&nbsp;<a href="#q2">Why list my job opening at My Language Exchange?</a>
		</td>
	</tr>
	<tr>
		<td width="1%"><b>3.</b>
		</td>
		<td>&nbsp;<a href="#q3">What are the job ad listing prices and payment options?</a>
		</td>
	</tr>
	<tr>
		<td width="1%"><b>4.</b>
		</td>
		<td>&nbsp;<a href="#q4">What is the refund policy?</a>
		</td>
	</tr>
	<tr>
		<td width="1%"><b>5.</b>
		</td>
		<td>&nbsp;<a href="#q5">Why isn't everything free?</a>
		</td>
	</tr>
</tbody></table>
		</td>
	</tr>
</tbody></table>

<br>
<br>
<br>
<a class="pageAnchor" name="q1"></a>
<br>

<h2>Is it free to list my job ad?</h2>

You can list your job position for only $ 10 U.S. for 30 days.<br>
<br>
<a href="#top">To the questions list</a>

<br>
<br>
<br>
<a class="pageAnchor" name="q2"></a>
<h2>Why list my job opening at My Language Exchange?</h2>
MyLanguageExchange.com is one of the largest language learning communities,
if not the largest on the Internet.
There are over 100,000 registered members with an interest in improving their fluency
in a foreign language. Most are well educated and are motivated by professional reasons 
as well as by personal interest. <br>
<br>
Thousands of visitors use the site every day, including educators, teachers and 
professionals working in the language field such as translators.<br>



<br>
<a href="#top">To the questions list</a>


<br>
<br>
<br>
<a class="pageAnchor" name="q3"></a>
<h2>What are the job ad listing prices and payment options</h2>

You can pay by convenient online or off-line methods from anywhere in the world.<br>
<br>
<table class="TblHRowCol" width="100%" cellspacing="0" cellpadding="3" border="1">
<tbody><tr class="table-heading">
  <td>&nbsp;</td>
  <td valign="bottom">Online -<br>Credit Card</td>
  <td valign="bottom">Online -<br>Paypal</td>
  <td valign="bottom">Fax -<br>Credit Card</td>
  <td valign="bottom">Telephone -<br>Credit Card</td>
  <td valign="bottom">Postal Mail -<br>Credit Card</td>
  <td valign="bottom">Postal Mail - Check</td>
</tr>
<tr>
  <td class="row-heading">Funding Method</td>
  <td>Visa, Mastercard<br>
	<font color="red"><a href="" onclick="OrderWebCreditSteps(); return false;"><small>Easiest &amp; fastest!</small></a></font><br>
  </td>
  <td>Visa, Mastercard, Amex, Discover, Paypal</td>
  <td>Visa, Mastercard</td>
  <td>Visa, Mastercard</td>
  <td>Visa, Mastercard</td>
  <td>Check, Money Order </td>
</tr>
<tr>
  <td class="row-heading">Currency</td>
  <td colspan="6" align="center">Any <small>(</small><a href="http://www.xe.com/pca/input.php" target="_blank"><small>Convert</small></a><small>)</small></td>
</tr>
<tr>
  <td class="row-heading">Activation</td>
  <td>Instant</td>
  <td>Minutes</td>
  <td>Up to 1 business day</td>
  <td>Minutes after receiving your order</td>
  <td>Minutes after receiving your order</td>
  <td>2 / 21 business days </td>
</tr>
<tr>
  <td class="row-heading">30 days</td>
  <td colspan="6" align="center">
	US$ 10
  </td>
</tr>
<tr>
  <td class="row-heading">More Info</td>
  <td>
    <a href="FAQMembers.asp" onclick="OrderWebCredit(); return false;">More Info</a><br>
    <a href="JobsAdd.asp"><small>Buy it</small></a>
  </td>
  <td><a href="FAQMembers.asp" onclick="OrderWebPaypal(); return false;">More Info</a><br>
    <a href="JobsAdd.asp"><small>Buy it</small></a>
  </td>
  <td>
    <a href="FAQMembers.asp" onclick="OrderFaxCredit(); return false;">More Info</a><br>
    <a href="JobsAdd.asp"><small>Buy it</small></a>
  </td>
  <td>
    <a href="FAQMembers.asp" onclick="OrderPhoneCredit(); return false;">More Info</a><br>
    <a href="JobsAdd.asp"><small>Buy it</small></a>
  </td>
  <td>
    <a href="FAQMembers.asp" onclick="OrderPostCredit(); return false;">More Info</a><br>
    <a href="JobsAdd.asp"><small>Buy it</small></a>
  </td>
  <td><a href="FAQMembers.asp" onclick="OrderPostCheck(); return false;">More Info</a><br>
    <a href="JobsAdd.asp"><small>Buy it</small></a>
  </td>
</tr>

</tbody></table>
<br>
<a href="#top">To the questions list</a>
  

<br>
<br>
<br>  
<a class="pageAnchor" name="q4"></a>
<h2>What is the refund policy?</h2>
Job ad listing fees are non-refundable.<br>
<br>
<a href="#top">To the questions list</a>

<br>
<br>
<br>
<a class="pageAnchor" name="q5"></a>
<h2>Why isn't everything free?</h2>
Maintaining the level of service that we offer takes time and money. 
We do try to keep our services as free as possible. For more information, 
please see <a href="OrderWhy.asp">Why we must charge</a>.<br>
<br>
<a href="#top">To the questions list</a>

<br>
<br>
<br>
<br>
<a href="JobsAdd.asp"><b>Add Your Job Posting</b></a>


<br>
<br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/JobsFAQ.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobsFAQ.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f30ba59c33b34aa" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfb433f695217b%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff7aadc4d91e2a%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobsFAQ.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
