
				

                <!-- Page Begin -->
<h2>Job Search Center - Language Jobs, Overseas Jobs, Bilingual Jobs</h2>

<b>Job Seekers:</b>
Browse job listings. 
Apply to job openings online. Post your resume. It's free!<br>
<br>
<b>Employers:</b>
View resumes and contact job candidates. Post your job descriptions online.<br>
<br>

<b>All jobs welcome!</b>
As a language exchange community, this site is ideal for foreign language jobs and overseas jobs.
This includes
jobs for translators and interpreters,
ESL jobs, overseas teaching jobs, 
language teachers and tutors,
editors or
other bilingual jobs.
However, all jobs such as tech jobs, government jobs and jobs in foreign countries are welcome. <br>
<br>
<br>

<table class="LayoutQuad" width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
  <td class="LayoutQuadUL" width="45%" valign="top" align="left">
  	<table class="TblCardGr floating" width="99%" cellspacing="0" cellpadding="1" border="0">
  	  <tbody><tr class="table-heading" valign="middle">
  		  <td>Job Seekers</td>
  	  </tr>
  	  <tr>
  		  <td align="left">
  		    <a href="Jobs-Listings.asp">Job Search</a>
  		    View job listings.<br>
  		    Apply to jobs for free!
  		  </td>
  	  </tr>
  	  <tr bgcolor="">
  		  <td align="left">
  		    <a href="Jobs-resumes-Add.asp">Add Your Resume</a><br>
  		    Create your own job wanted ad.
  		    Show your resume and job search goals to potential employers.
  		    Absolutely free!
  		   </td>
  	  </tr>
  	</tbody></table>	
  </td>

  <td width="6%"> <!-- leave small space down the middle -->
  </td>

  <td valign="top" align="left">
  	<table class="TblCardGr floating" width="99%" cellspacing="0" cellpadding="2" border="0">
	  <tbody><tr class="table-heading" valign="middle">
		<td>Employers</td>
	  </tr>
  	  <tr>
  		  <td align="left">
  		    <a href="Jobs-resumes-Listings.asp">Search Resumes</a><br>
  		    View resumes of job seekers.
  		  </td>
  	  </tr>
  	  <tr>
  		  <td align="left">
  		    <a href="JobsAdd.asp">Add Your Job Opening</a><br>
  		    Show your job description to the world.
  		   </td>
  	  </tr>
  	  <tr>
  		  <td align="left">
  		    <a href="JobsEmployer.asp">Edit Your Job Ads</a><br>
  		    Edit, delete, activate or extend your job ads. 
  		   </td>
  	  </tr>
  	  <tr>
  		  <td align="left">
  		    <a href="JobsFAQ.asp">Job Center FAQ's</a><br>
  		    FAQ's about listing your job description.
  		   </td>
  	  </tr>
  	  <tr>
  		  <td align="left">
  		    <a href="Logout.asp">Logout</a>
  		   </td>
  	  </tr>
  	  
	</tbody></table>  
  </td>

</tr>
</tbody></table>
	  
<br>
<br>
<br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/Jobs.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobs.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f16f9de13d427d4" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2ae152817bda5e%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff67a5a26cc436%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobs.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
              