<tr>
            <td>
		<img src="../../images/Face.gif" class="HomePicSmiley" border="0">
	<br>
			<a href="../../MemberInfo.asp?uid=4349736" class="rounded-btn icon-text btn-teal"><i class="material-icons-outlined notranslate">person</i> Riza</a>
                <br>
                <small><font color="gray">August 1, 2022</font></small>
            </td>
        </tr>
    </tbody></table>
    </td>
    <td data-th="Country(City)" class="userdata" valign="top">
    <table cellspacing="0" cellpadding="2" border="0">
        <tbody><tr>
            <td class="userdata">
              India 
            </td>
        </tr>
        
        <tr>
            <td class="userdata">
				<div class="NarrowOnWideScreen">
					(Bangalore)
				</div>
            </td>
        </tr>
          
    </tbody></table>
    </td>
         
    <td data-th="Native Language" class="userdata" valign="top">
        <table width="100%" cellspacing="0" cellpadding="2" border="0">
            <tbody><tr>
                <td class="userdata" width="400" align="left">Hindi</td>
            </tr>
            
        </tbody></table>
    </td>
    
    <td data-th="Practicing Language" class="userdata" valign="top">
        <table width="100%" cellspacing="0" cellpadding="2" border="0">
            <tbody><tr>
                <td class="userdata" width="400">German</td>
            </tr>
            
        </tbody></table>
    </td>

    <td data-th="Description" class="userdata" valign="top">
    <table width="100%" cellspacing="0" cellpadding="2" border="0">
        <tbody><tr>
            <td class="userdata">
				<table width="100%" cellspacing="0" cellpadding="0">
				<tbody><tr valign="top">
				<td width="99%">
				<span id="DESC0">
                Hi, I am Riza a working professional in from life science background. I want to start my journey to learn German and get certified as I intend to go for study purpose to Germany and grow professionally in my career. I need to statrt preparing for A1 .....
				</span>
				</td>
				<td width="1%">
				<a href="" class="circle-btn btn-lt floating" onclick="GTransBr('DESC0'); return false;" style="margin: 3px 3px 3px 12px;"><i class="material-icons notranslate">translate</i></a>
				</td>
				</tr>
				</tbody></table>
            </td>
        </tr>
    </tbody></table>
    </td>

    </tr>
