<td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin -->
<h2>Create Learner Profile</h2>
<br>


           <p align="center">
             <br>
             <b>Welcome!</b> You have signed up successfully.<br> 
             Your UserID was sent to you at:  <b>cleo.ordioni@gmail.com</b><br>
             <br>
             <!--b>Approval</b>: Your profile will be available in the learners search results when it is approved.<br>
             This usually takes less than 24 hours. Thank you for your patience.<br>
             <br-->
             <b>Modifying your profile</b>: You can always change any information in your 
             profile <br>by clicking on "Login" in the Learners menu at the top of the page.<br>
             <br>
             <b>Receiving email</b>: When teachers send you an email message, we will<br>
             send you a notification at cleo.ordioni@gmail.com. 
             Please check that address for message notifications.<br>
             <br>
             <b>Contacting teachers</b>: Please <a href="Default.asp#BrowseByLang">find a teacher here</a>.<br>
             Then click on his/her name to send an email. <br>
             <br>
             <b>Removing your profile</b>: Just <a href="LearnerAdCreate.asp?showmenu=1">edit your profile</a> and<br> 
             set 'Activate This Ad' to 'No'.<br>
             <br>
             Thank you for using mylanguageexchange.com!<br>
             <br>
             </p>
        
              <p align="center"><a href="/Teachers/LessonListMine.asp">View my lessons.</a></p>
                          <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/LearnerAdCreate.asp?Showmenu=1" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLearnerAdCreate.asp%3FShowmenu%3D1&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f1bfb7592447464" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df42ca4d183df7e%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff309d5a7143a486%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLearnerAdCreate.asp%3FShowmenu%3D1&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
