
				

                <!-- Page Begin -->

<center><font class="topcaption">A w a r d s  &nbsp;&nbsp; a n d  &nbsp;&nbsp; R e v i e w s </font></center>
<br><br>
<hr width="85%" align="center">
<br>
<table width="85%" cellspacing="0" cellpadding="15" border="0" align="center">
    <tbody><tr>
        <td width="30%" align="center">
            <img src="images/YilJan2000.jpg" alt="Yahoo! Internet Life coverage of MyLanguageExchange.com" width="76" height="102">
            <!-- A HREF="http://www.zdnet.com/yil/stories/features/0,9539,2671415-2,00.html" target=_blank><IMG SRC="images/YilJan2000.jpg" width="76" height="102" ALT="Yahoo! Internet Life coverage of MyLanguageExchange.com"></A -->
        </td>
        <td>
            <strong>
            My Language Exchange is <i>"doing extraordinary things online."</i></strong><br>
            - <i>Yahoo! Internet Life magazine, January 2001</i><br>
            
        </td>
    </tr>
</tbody></table>

<br>
<br>
<br>
<table width="85%" cellspacing="0" cellpadding="15" border="0" align="center">
    <tbody><tr>
        <td width="30%" align="left">
            <img src="images/PCWorldLogo.gif" width="160" height="50">
        </td>
        <td align="left">
            <strong>
            <i>"Top 101"</i> websites</strong><br>
            - <i>PC World magazine, August 2003</i><br>
        </td>
    </tr>
</tbody></table>

<br>
<br>
<br>
<table width="85%" cellspacing="0" cellpadding="15" border="0" align="center">
    <tbody><tr>
        <td width="30%" align="left">
            <img src="images/nytlogo152x23.gif" border="0">
        </td>
        <td align="left">
            <strong>
            <i>"An e-mail or two is all it takes to find a study partner."</i></strong><br>
            - <i>The New York Times, July 28, 2010</i><br>
        </td>
    </tr>
</tbody></table>

<br>
<br>
<br>
<table width="85%" cellspacing="0" cellpadding="15" border="0" align="center">
    <tbody><tr>
        <td width="30%" nowrap="" align="left">
            <img src="images/WSJ.jpg" border="0">
        </td>
        <td align="left">
            <strong>
            <em>One of "<b>the best ways</b>" to learn a foreign language</em></strong><br>
            - <i>The Wall Street Journal, November 18, 2002</i><br>
        </td>
    </tr>
</tbody></table>

<br>
<br>
<br>
<table width="85%" cellspacing="0" cellpadding="15" border="0" align="center">
    <tbody><tr>
        <td width="30%" align="left">
            <img alt="My Language Exchange in Montreal TV News" src="images/CFCFCTVNews2.jpg" width="160" height="120">
        </td>
        <td align="left">
            <strong>
            <i>My Language Exchange is "taking off, worldwide."</i></strong><br>
            - <i>CFCF, CTV evening news, 2004</i><br>
            See <a href="Video.asp">language exchange news</a>.
        </td>
    </tr>
</tbody></table>


<a name="StudyWeb"></a>

<br>
<hr width="85%" align="center">
<br>
<br>
<a name="Testimonials"></a>
<br>
<br>
<p align="left"><font class="topcaption"><strong>What Our Members Say...</strong></font></p>


<br>
<table width="85%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="left">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
<table cellspacing="1" cellpadding="0" border="0">
    <tbody><tr bgcolor="Ivory">
      <td>
        <font style="color: SandyBrown; font-family: sans-serif; font-size: 15pt; font-weight: bold;">
        "Our level of knowledge has increased a lot."</font>
      </td>
    </tr>
    <tr>
        <td nowrap="" bgcolor="black"><img src="images/spacer.gif" height="1" border="0"></td>
    </tr>
    <tr>
        <td nowrap=""><img src="images/spacer.gif" height="3" border="0"></td>
    </tr>
    <tr>
        <td>
"I must say that it's been great!. My first language is Spanish and I'm learning Greek. 
I've been looking around on the net for months just to find someone to practice that language, 
but without any success. I was also looking for someone to voice chat, so I thought that it 
was going to be impossible.<br>

<table width="150" cellspacing="8" cellpadding="0" border="0" align="right">
    <tbody><tr>
        <!-- TD><img src="../images/spacer.gif" width="6" height="160" border=0></TD -->
        <td bgcolor="Black"><img src="images/spacer.gif" width="3" height="120" border="0"></td>
        <td valign="middle"><font style="FONT-SIZE: 15pt; FONT-family: Serif; ">
"You made my dream come true. Thank you so much."
</font>
        </td>
    </tr>
</tbody></table>

<br>
When I saw that there were four Greeks registered on your site and one of them wanted to 
voice chat, I went crazy! I sent him a message and he answered to me a few days later. 
That was about three weeks ago, and ever since we've been talking and our level of knowledge 
has increased a lot.<br>
<br>
I haven't used the lesson plans nor the how-to guides. I'm quite a very communicative person 
myself and I always have something to talk about (our conversations last two or more hours 
every time we meet!!). <br>
<br>
I must congratulate you for such a great site. I'm telling all my friends about it, and 
some have already registered!<br>
<br>
Thank you so much for your help. You made my dream come true. Thank you so much."<br>
<br>
<b>Juan José Guerrero</b><br>
<small>
Seville (Spain)<br>
February 25, 2002
</small>
        </td>
    </tr>
</tbody></table>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>

<br clear="all">
<br>
<br>
<br>

<!-- Begin chronological order -->
<b>Recent testimonials...</b><br>

<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Thanks Dan <br>
  <br>
Love the site. It has really opened up a lot of possibilities for me and obviously for many others<br> 
  <br>
Cheers <br>
Bill<br>
<br>
<p align="right"><i><a href="Minfo.asp?UId=3745541">Bill, Toronto, Canada</a>, March 2, 2022</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>
 

<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi there,<br>
<br>
I just want to tell you how fantastic my experience has been with MyLanguageExchange. I've been corresponding now with one language exchange member for almost a year, and another for a few months. One of my biggest challenges in learning Arabic has been speaking and oral comprehension, and my weekly, hour-long practice sessions with one exchange partner have helped tremendously with this. The other partner prefers a written exchange, but we're both huge language nerds and love chatting about the ins and outs of Arabic and English grammar. So that's been a ton of fun, and I've learned a lot from him about Arabic grammar! I think both these folks will be life-long friends. The one that I've been chatting with for almost a year is someone I feel comfortable telling literally anything going on in my life, and I think she feels the same way. Who knew I'd be able to do it in Arabic!<br>
<br>
Anyway I logged back on to find another conversation partner now that work has calmed down a bit and I have some more time. Thank you for this wonderful service. My Arabic has really improved, and I've made two wonderful friends in the process. Take care, and feel free to use this on your site if helpful.<br>
Catherine<br>
<br>
<br>
<p align="right"><i><a href="Minfo.asp?UId=4170829">Catherine, Pittsburgh, United States</a>, January 4, 2022</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
If my testimony can help you, know that I am in contact with an extraordinary person from Vietnam: serious, spontaneous, available, dynamic, with a very educational method to teach me her native language.<br>
<br>
Thank you 'Mylanguageexchange'.<br>
<br>
Respectful greetings.<br>
<br>
<p align="right"><i><a href="Minfo.asp?UId=3611784">Bernard Mathieu, Wanze, Belgium</a>, May 31, 2020</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Congratulations!<br>
<br>
Hello, <br>
This is an amazing site. So easy to use and so handy !<br>
I discovered My Language during the lock-down. Thank you so much.<br>
<br>
...In addition, I would like to say that the field "Description contains" is very powerful and helps a lot to find somebody sharing the same areas of interest : writer, musician, etc ...<br>
<br>
Thanks !<br>
<br>
Another valuable aspect of MLE is the absence of advertisements on the website. It is so relaxing for the eye and to me it also makes the site authentic.
Thanks Dan and have a good day,<br>
<br>
<br>
Regards,<br>
Pierre <br>
<br>
<p align="right"><i><a href="Minfo.asp?UId=4140284">Pierre, Paris, France</a>, May 15, 2020</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>






<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Just so you know, the website has been great. I have found 4 language 
partners and my German has greatly improved.<br>
<br>
<p align="right"><i><a href="Minfo.asp?UId=4135348">Tiffany, Victoria, Canada</a>, May 12, 2020</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>





<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Really, I love your language exchange platform! <br>
Linguistic exchanges are motivating and I see that in only 3 months, I have already made a lot of progress in several languages.<br>
<br>
<p align="right"><i>Delphine, Bordeaux, France, April 1, 2020</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>





<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
If your service did not exist it would have to be invented. Seems like a  
lot of people are looking for an opportunity to communicate with the world and improve their language skills and familiarity with the rest of humanity. You are providing a great, much needed service to the world. 
<br>
<p align="right"><i>Jim, Port Dover, Canada, September 3, 2019</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dear Dan, <br>
<br>
my name is Paolo and I am an engineer who live close to Venice. <br>
I have no word to thank you for your website. Honestly, it has improved my life. 
I met here incredible people. Sometimes these people have become friends. 
Last but not least, It helped me to improve my English. Before writing/chatting here,
 I was a bad at speaking/writing English. Now... It is so so better. <br>
 <br>
If you come to Venice in the future, I would like to shake hands personally and offer you a good glass 
of italian wine. <br>
<br>
Thanks to all again. <br>
Bye. <br>
<br>
<p align="right"><i>Paolo, Venice, Italy, July 22, 2017</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>

<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hello Dan!<br>
<br>
thx a lot and congratulation for your website !<br>
<!--Could you post my testimonial please? <br-->
<br>
Fin 2013, j’en avais assez de prendre des cours d’Anglais ‘’classiques’’ Je trouvais que c’était ennuyeux, et que je ne progressais pas assez. J’ai donc décidé de m’inscrire gratuitement sur ce site que j’avais découvert par hasard, car correspondre avec un étranger, je trouvais le concept intéressant et fun
Très vite, j’ai été contacté par Paddy qui était ‘’gold member’’. Nous avons commencé a nous échanger des emails et ensuite nous nous sommes contacter par Skype .
Nous avons vite sympathisé ainsi qu’avec sa femme Julie. Très vite nous nous sommes rencontrés pour la première fois en France. Ensuite j’ai eu plusieurs fois l’occasion d’aller en Angleterre et de découvrir la famille de Paddy et Julie, ainsi que leurs amis. Depuis, j’ai fait beaucoup de progrès en Anglais. 
Depuis plus de trois ans maintenant, nous sommes quotidiennement en contact.<br> 
<br>
Grace a Mylanguageexchange, je n’ai pas seulement correspondu avec un étranger, j’ai aussi rencontré mon meilleur ami !<br>
<br>
Maintenant je suis "gold member" et j'aimerai rencontré d'autres personnes dans d'autres pays!<br>
<br>
<i>[Translation by Google Translator...
At the end of 2013, I was tired of taking classes of English "classics" I thought it was boring, and that I did not progress enough. I decided to register for free on this site that I had discovered by chance, because to correspond with a stranger, I found the concept interesting and fun
Soon, I was contacted by Paddy who was a gold member. We started exchanging emails and then we got in touch with Skype.
We quickly sympathized as well as with his wife Julie. Very soon we met for the first time in France. Then I had several times the opportunity to go to England and discover the family of Paddy and Julie, as well as their friends. Since then, I have made a lot of progress in English.
For more than three years now, we are in daily contact.<br>
<br>
Thanks to Mylanguageexchange, I not only corresponded with a stranger, I also met my best friend!<br>
<br>
Now I am "gold member" and I would like to meet other people in other countries!
]</i>

<br>
<p align="right"><i>Dixie, Dieppe, France, January 11, 2017</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Hey Dan, <br>
I just purchased Gold membership and I have to say I dont regret it one bit. <br>
Comparing the Gold features of your website to the features of other language sites it really 
makes me see that there is no competition. Looks like the subscription fees are indeed worth it!<br>
Thanks for changing my mind. <br>
<br>
<p align="right"><i>Name withheld, Republic of Ireland, March 14, 2015</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Thank you for your excellent website, which has all the features I need and is very easy to use. 
I am bi-lingual English-Spanish, recently began to study European Portuguese, and just went to a 
language school there for three months. I was very happy with my progress in reading and writing 
Portuguese. However, once I came back to the USA, I needed more practice speaking. As the old saying 
goes: "Use it or loose it". Joining your website was the "missing link" in my self-study program. 
I now have quite a few wonderful language exchange partners in Portugal. My new Portuguese friends 
are coming to visit me here and I will soon go visit them there.  My spoken Portuguese has improved 
dramaticallly in a few short months. For me, as a retired person, your site has helped me continue to 
grow and remain engaged with the world around me. In addition, I have been accepted to study for a 
semester at a university in Portugal, started publishing short stories in Portuguese, and really feel 
at home in Portuguese and amoung the Portuguese. I could not be happier with MyLanguageExchange. 
It is a powerful tool for connecting people, improving foreign language fluency, and building an 
international community. With appreciation, Gerardo do Arizona<br>
<br>
<br>
Sincerely,<br>
Gerardo do Arizona<br>
<br>
<p align="right"><i>Gerardo, Phoenix, Arizona, United States, December 16, 2014</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Just wanted to say thank you for this great website. I am learning Russian and your site has connected me with some great people. Great job.<br>
Thanks again, <br>
Elizabeth <br>
<br>
<br>
...I am a great supporter of your site. 
Every other site I visited was geared towards dating/hooking up or flirting. Not my intention at all. 
Ya'll operate a useful page.<br>
Thanks again and keep up the good work.<br>
<br>
Elizabeth Briggs<br>

<p align="right"><i>- <a href="Minfo.asp?UId=2670617">Elizabeth Briggs</a>, Brooksville, United States, October 11, 2014</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
        
...I have been a Gold Member for a number  of years and have thoroughly enjoyed your website. 
It is absolutely the best of its kind that I have found. 
In your site, I have met many wonderful people and have improved my Spanish and Italian 
as a result.<br>
<br>
Regards<br> 
Mike Kelly <br>
<br>

<p align="right"><i>- <a href="Minfo.asp?UId=475047">Mike Kelly</a>, southeast United States, February 11, 2014</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>

<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
        
This site is really really great! <br>
I found 3 partner here, real partners i mean!!<br> 
Thank your for such a good site. <br>
Just tanx :) <br>
<br>
<br>
Hi dear Dan<br>
...it's really great to be here and it would be my pleasure to help improve this site :)<br>
Regards<br>
Hasti<br>

<p align="right"><i>- <a href="Minfo.asp?UId=2398685">Hasti Teimouri</a>, January 21 and 22, 2014</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>

<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
        
My maternal tongue is Spanish and I practice English and French.
I've been in MLE for 8 years and since then, I've met many friends to practice. 
Now both of them are my great friends and I've visited them in USA and France, 
and I«ve invited them to visit Mexico.<br> 
<br> 
It«s been wonderful to find this partners and practice with them... personally!<br>
<br> 
(To MLE users:) I hope you will find this special partner and live the unique experience of learning your practicing language 
with real people!!  
Have fun in this project!!<br>
<br>
Thaks a Lot Dan <br>
<br>
<br>

<p align="right"><i>- <a href="Minfo.asp?UId=213827">Laura</a>, Guanajuato, Mexico, December 6, 2013</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi Dan, I am pleased to inform you that I joined my membership as a gold member several days ago. 
I had several responses from my language partners. 
I am quite excited for the opportunity to find this site and found out it works so well for me and my partners. 
We are very pleased with the Internet service you provided for the members. 
Thank you very much. <br>
<br>
<br>
Hi Dan, I wanted to add the following comments:   In just three days I had received seven responses.  
These members are so interested and excited in practicing their languages and help their partners. 
Your language exchange program makes the language learning come alive.  <br>
<br>
<br>
I am gradually learning the site and its benefits to the members, I will grow more in 
Understanding how to improve more in my Japanese learning. It is the most effective tool I have tried.<br> 
<br>
Congratulations to you and your team members for developing this great website. Keeping on trucking! 

<p align="right"><i>- <a href="Minfo.asp?UId=2367971">Gold member, name withheld</a>, September 15 and 16, 2013</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>



<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

...I made acquaintance with Eileen through MyLanguageExchange.com. She was the partner I was looking for. 
We have been working together for 6 years now and I can say that they were 6 years of steady, continuous improvement in listening, 
understanding and speaking English. It was done from home, at hours that were convenient for me and for no cost.<br>
<br>
The improvement came through totally free talks. Depending on the circumstances, we discussed questions of the moment, 
risen by the media, or other issues that one or the other of the 2 partners was interested in. Sometimes the talk was about an 
important event unfolding somewhere in the world, could it be in the US, France or Middle East. Other times, it was on subjects 
related to religion, economy, science or any other matter. Thus, I learned to better understand how Canadians think, live and do things. <br>
<br>
Later, the relationship deepened into friendship. In 2011, my wife and I got to spend Christmas time as Eileen and Andrew’s guests in Ottawa. 
They served as guides to us through the celebrations and they took us to the Christmas mass at an Anglican church. They introduced us to 
English speaking Canadians we would otherwise never have met. I hope that, in the other hand, Eileen and Andrew enjoyed being with us in 
Montreal and that they learned a bit about how North Africans like us think and live.<br>
<br>
And all that was possible thanks to MyLanguageExchange.com website and to Skype system. <br>
		
<p align="right"><i>- <a href="Minfo.asp?UId=1076203">Belkacem Kesraoui</a>, June 21, 2013</i></p>
Read the full testimonial <a href="OCOLTrBelkacem.asp">here</a>.<br>
<br>
This was part of a presentation to the Office of the Conmmissioner of Official Languages of Canada in Ottawa by 
My Language Exchange and exclusive partner Friendship Force International.
For more information about the presentation by MLE and FFI to OCOL, please click <a href="OCOL.asp">here</a>.
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>




<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
This site is great. Never experienced anything like before. Thanks to Helene Cormier and Dan Yuen who made this dream come true. <br>
<br>
Biju<br>
September 22,2012<br>
-----<br>
Hi Dan,<br>
<br>
Thanks for your email. So happy to be here and please post my comments in your testimonials section in this website. 
You can also use my full name. This site is the best way to learn a language from anywhere in the world. 
You did a great job Dan, more than anything. I consider this site is one of the best for language learning. 
You made this world an open space to connect with different culture, language and people. Keep it going. God bless you every moment.<br>
<br>
Thank you so much.<br>
Biju<br>
September 24, 2012<br>
-----<br>
Dear Dan,<br>
<br>
Thank you so much for the reply. Of course you can add my complete text in the last email i have sent to you. 
Its a honor to contact you again. You guys rocks!!.  I don't know how to explain, but its really great to be here. <br>
<br>
Cheers!<br>
Biju<br>
September 25, 2012<br>
<br>
<p align="right"><i>- <!--a href="Minfo.asp?UId=xxx"-->Biju (Phoenix Born Again)<!--/a-->, September, 2012</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>



<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Mylanguageexchange.com is the best site I have ever seen for language learners, I sincerely hold the idea that it will go on. <br>
<br>
Looking forwards to hearing from you! <br>
<br>
<br>
<p align="right"><i>- <!--a href="Minfo.asp?UId=xxx"-->Quincy<!--/a-->, July 4 2012</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
<!--A year ago in March, I met a woman online. She lives in Colombia, and I live in the US. She doesn't speak English (still, which is my fault!), 
and when I met her, my Spanish was limited. I met her in person after months of talking, and fell in love. I still go and see her when I can, 
and we have been dating now for seven months. <br>
<br>
I go back in a month, and -->I can't express the thanks that I have for this page. It was through the hands of God that I found this page, and I 
thank him every chance I can.<br>
<br>
Keep doing what you guys are doing, because not only do you change the way we learn language, but also the way we live. This is my language exchange, 
and it's not only given me the chance to become very fluent in Spanish, but also the chance to meet the person that I love so dearly.<br>
<br>
God bless you all. <br>
<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=1558537">Ryan Eckerson</a>, Tennessee, United States, February 19 2012</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>




<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi there,<br>
<br> 
I would like to take the time to thank you for all what this wonderful website did for me. I'm a german native who joined this language exchange 
website about 4 almost 5 yrs ago in order to improve my english. Today I am fluent in English. <!--Today I am not only fluent in english but got a wonderful bonus. 
I'm happily married to my former mylanguageexchange pen pal.--><br>
<br>
Tons of thanks to you guys.<br>
<br>
<p align="right"><i>- Mandy, Germany, September 23 2011</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dear Dan,<br>
<br>
Thanks for your email. I am so happy with the Language Exchange website. This is the best way to learn a language that I have found.
I have been trying to learn Spanish for several years and talking with a language partner through your site has worked beyond everything else.
Thanks for such a great website!<br>
<br>
<br>
...Please feel free to use my comments in the Member Testimonial section....
I just read through the testimonials section for the first time. I found the comments very interesting and understand completely why
your members are so enthusiastic. Congratulations on doing such a great job!<br>
<br>
Best Regards,<br>
Renee<br>
<p align="right"><i>- Renee, United States, August 17 2011</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>



<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hello Dan,<br>
<br>
...I truly love your website and find myself visiting the language exchange website more than any other site on the Internet.
I have made many friends who are interested in language exchanges. Because of these friendships I am learning so much about other cultures
and the way of life in many other parts of the world...<br>
<br>
A very pleased member of www.mylanguageexchange.com,<br>
Don Hoover<br>
<p align="right"><i>- <a href="Minfo.asp?UId=1776400">Don Hoover</a>, United States, July 7 2011</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dear Mr. Yuen, <br>
<br>
I just want to take a moment and let you know how much I am enjoying MLE. I have met the NICEST people through your site. I have friends who I recommend your site to because, when they find out I have pen pals in Jordan, Egypt and Cairo they are green with envy and want to meet new people too. 
I am planning a trip to Beijing soon, and I have no doubt I will meet plenty of folks to share cultural exchange with and learn about the city from the locals. (That's always the best way to get to know a city.)
Finally, I've been sharing recipes with a pen pal in Jordan. I just filmed and posted on my facebook account the result of the latest cooking adventure. I plan to put it on youtube and will send you the link if you are interested. Now HIS family wants an American recipe and he is filming his home and city for my family to see. 
None of this would have happened without you. THANK YOU! I think you deserve the Nobel Peace Prize. <br>
<br>
Very Sincerely, <br>
Stacy Hamlet, OD <br>
Thousand Oaks, California <br>

<p align="right"><i>- <a href="Minfo.asp?UId=1654777">Stacy</a>, California, United States, October 13 2010</i></p>

Dear Dan,<br>
<br> 
By all means, please post my comments in your testimonials section.... and please feel free to fix any of my typos! : )<br>
 <br>
In my youth I was able to work and travel all over the globe and met interesting, wonderful people. I really miss that. Now I have a practice, and a family with two small children. International travel is just not something I get to do anymore. However, with your website, I am a few clicks away from making international friends again. I really think this is a grass roots way any individual can promote peace and prosperity in our world. You have made my world better. Thank you.<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=1654777">Stacy</a>, California, United States, October 14 2010</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi , i am now member in mylanguageexchange, and i have to tell u, that i am lucky there is such a good website.<br>
i payd for 1 month and during only 1 day i got 3 msn-contacts.<br> 
it is so so so nice. <br>
when this month is over, i will do the 1 year membership..... <br>
it is so good site....thanks a lot <br>
Stella^^ <br>
<p align="right"><i>- <a href="Minfo.asp?UId=1356916">Daao Stella</a>, Berlin, Germany, June 15 2010</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Hi Dear Dan,<br>
<br>
I hope you are well and everything is ok there :-)<br>
<br>
I took my speaking exam last Thursday and the main exam on Saturday. I m not sure about the writing part in the main exam but i will get the mark i need in other parts and about the speaking part i should say it is much better and easier than I thought before. I wanted to say it couldn't be like this if you wasn't. You and your site was the most important help and i m really grateful for that. <br>
<br>
Thank you again very very much,<br>
<br>
Warm regards,<br>
Amirnaser<br>
<p align="right"><i>- <a href="Minfo.asp?UId=1553183">Amirnaser Nemat</a>, Tehran, Iran, April 13 2010</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>

<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Thank you for your quick reply! I am very impressed with the amazing job you do with this website :). <br>
Just wanted to tell you. Really, Great job! <br>
Andrea Veliz <br>

<br>
<p align="right"><i>- <a href="Minfo.asp?UId=1584210">Andrea</a>, Montreal, Canada, March 31 2010</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>




<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Dear Dan, <br>
I wanted to be able to thank you so very much for your web-site. I 
am so happy to have found it. My interest is the Polish language and 
already two Polish people have contacted me.<br>
<br>
I know that you have made many people very happy. <br>
Congratulations!!!! <br>
Dolores (new usuer)<br> 
<br>
<br>
Dear Dan,<br>
You are most welcome to use my name if that would help your web site.  I want you to know 
that I am not really computer saavy, and I don't visit a lot of web sites.  Yours was so 
friendly and easy to use and provided a wonderful service.  <br>
<br>
Thanks for your response.<br>
Sincerely,<br>
Dolores<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=1279632">Dolores</a>, Yorktown Heights, United States, January 4-5 2009</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

I love this website.<br>
<br>
I discovered this website via an internet
spanish course with Marcus Santamaria, and I am hooked. I have 3 friends in
Spain, 2 of which I speak to on a weekly basis. I have just achieved a grade A
in my exams and I am very pleased. The help I have had from the friends on this
website has been invaluable.<br>
Thanks again!!!<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=1024642">Deborah Rees</a>, Cardiff, Wales, UK, August 31 2008</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Dear Dan,<br>
<br>
We want to thank you for your fantastic website. WE met here two years ago. 
David was looking for a way to improve his English for work. Briana was looking for a chance to meet people and improve her French.
We expected to find correspondants, but what we also found is a the truly wonderful friendship.<br>
<br>
David and his family have come to the US twice to visit Briana's family. Briana has traveled in France
and will return with her entire family to stay with David's family next summer. We are both now fluent in the other's language. We share more than just language. We share culture, food, hobbies, music, and friendship. It was far more than we ever expected.<br>
<br>
Thanks for making it possible.<br>
Briana and David<br>
<br>
<p align="right"><i>- Briana, Chicago, United States, December 7 2007</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Ciao! <br>
I've been using your site since spring 2006, and I have made many wonderful friends through it. I live in the US and my friends live in Italy. I have met several of them on my trips to Italy.<br>
<br>
My life has completely changed because of the opportunity to become friends with these wonderful people who are dedicated to our language exchanges through email and Skype. Because of this, I have hope than I can become fluent in Italian.<br>
<br>
Thank you so much for making this possible through the creation of this site! <br>
grazie mille! <br>
Marybeth Bethel<br>

<br>
<p align="right"><i>- <a href="Minfo.asp?UId=538931">Marybeth Bethel</a>, near Kansas City, United States, Sept 22 2007</i></p>

Dan,<br>
Please use my recent comments to you as you like. I will soon take my third trip to Italy since I joined the Language Exchange, and I will be visiting several penpals who have become good friends. I am truly grateful for the chance to learn of another culture by making friends through this site. <br>
<br>
grazie ancora,<br>
Marybeth <br>

<br>
<p align="right"><i>- <a href="Minfo.asp?UId=538931">Marybeth Bethel</a>, Sept 22 2007</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

MyLanguageExchange ROCKS. <br>
<br>
  In March I was accepted into New Bulgarian University master of science
program. Living in the USA, I did not know any of the Bulgarian language.
Though the program is in English, I wanted to learn enough Bulgarian to get 
myself around when I arrived to Sofia. I will be here for two years.<br>
<br>
  Immediately after my acceptance, I joined MyLanguageExchange and emailed
about 50 English speaking Bulgarians from Sofia. Over the following months, 
I made a dozen or so friends from Sofia who helped me out a great deal. I
also met a few Bulgarians in Cincinnati, where I was living.<br>
<br>
  During those months, through MyLanguageExchange, I found a tutor to teach 
me BG in cincinnati. I found a Bulgarian who had a vacant flat in Sofia
where I am now living. I found an English professor at New Bulgarian
University who is helping me get a job teaching English at the University. I 
found many Bulgarian friends in Sofia who have helped me tramendously since
my arrival one week ago today.<br>
<br>
  Without MyLanguageExchange, I would have been absolutely lost here in
Sofia. But now I have friends and a very effective network that all formed 
before my arrival.<br>
<br>
  I will continue to use MLE to meet more Bulgarians in Sofia. Thank you
MLE!<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=810235">Adam Danz</a>, formerly of Cincinnati OH, currently from Sofia, Bulgaria, June 27 2007</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dear Dan, dear "My language exchange.com",<br>
<br>
I'm just writing to say "THANK YOU" to you, thank you a thousand times for your marvellous website. So far I have only used very little of what you offer but it has helped me so much to improve my French and to find new friends, really interesting and nice people. You warn people not to use their real address and not to meet their pen pals in person and you are right to do so. However, I did risk a bit and have met three of my pen pals in person and they are all great. Thanks to your website I met a Frenchman who is now a good friend of mine, I spent a wonderful week in France with him and his family (this was one of my dreams and it came true)and then he and his family came to Slovakia and now both our families are befriended! <br>
<br>
Your website is trustworthy, reliable, incredibly rich and helpful. What a brilliant idea it was! <br>
<br>
I am a language teacher and I recommend you to all of my students. <br>
<br>
Wishing you all the best,<br>
Lucia Bujnova<br>
<p align="right"><i>- <a href="Minfo.asp?UId=396224">Lucia Bujnova</a>, near Bratislava Slovakia, March 13 2007</i></p>


Hi Dan,<br>
<br>
of course you can reproduce my comments in your Member Testimonials 
section! "Lucia Bujnova" is my real name and you can include all of it, 
what I have written is what I believe and I want to encourage other 
people to sign up because it is definitely worth it. Anonymous letters 
are less convincing, I think. If you also want to give a link to my 
profile, you can.<br>
<br>
By the way, one of those three pen pals that I have already met in 
person comes from Canada, which is really far from Slovakia! :) I can 
see that you are Canadian, too.<br>
<br>
I think that if everybody spoke a few foreign languages and got to know 
a few foreigners, learning about their culture, trying to understand or 
to a certain extent accept their way of thinking, there would be fewer 
international conflicts and maybe fewer wars. Your website not only 
helps people learn foreign languages, it also gives them an opportunity 
to make friends all over the world, which is very valuable. (You can 
reproduce that too if you like. :)  )<br>
<br>
Well, best of luck to you, Dan, and to your wonderful website!<br>
Lucia<br>
<br>

<p align="right"><i>- <a href="Minfo.asp?UId=396224">Lucia Bujnova</a>, near Bratislava Slovakia, March 14 2007</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
<br>


<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Thanks for your website. I only signed up yesterday and am already communicating 
with 3 people my age from France and Switzerland. <br>
I am very sleepy from staying up late to email but I can feel my French improving already.<br>
Your website has been so simple to use and so effective.<br>
Merci Beaucoup! Thanks!<br>
Caz<br>
<br>
<p align="right"><i>- Christchurch, New Zealand, January 3, 2007</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Since I found your Website I'm almost everyday here and I'm glad to be a
gold-member.
<br>
<br>
Claudia<br>
<br>
<p align="right"><i><a href="MemberInfo.asp?UId=649678">Claudia Sauer</a> - Germany, July 16, 2006</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Absolutely, words cannot describe the value I have derived from this 
extraordinary club. Please provide me with information concerning my next 
membership dues. Over the period of time I have enjoyed membership, I lost 
track of when the next membership payment is due. Please advise concerning 
this. This club has been an extraordinary joy for me and I plan on 
maintaining membership for many years to come.<br>
<br>
Van Welton<br>
<br>
<p align="right"><i>- Chicago, United States, June 25, 2006</i></p>

<br>
Yes of course you can reproduce the comments. Within the last three days I 
returned from a two week trip visiting friends, from our club, in Sao Paulo, 
Brazil. (I reside in Chicago, USA) This club is a gateway to the world, and 
for individuals attempting to expand their minds, this is the ideal method. 
Thank you for arguably the most productive language club on the entire 
Internet. I'll pay my dues in advance.<br>
<br>
Van Welton<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=590691">Van Welton</a>, Chicago, United States, June 26, 2006</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I have made so many wonderful friends and contacts through the service......
It is invalueable to me. I can't say enough wonderful things about it!.... 
Your website has helped me in fulfilling many of my dreams....Thanks.<br>
<br>
Risha,<br>
U.S.A.<br>
<p align="right"><i>- March 24, 2006</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hello<br>
<br>
I have been using your Gold service for the past several months and I just have 
to say that it has been fantastic. I was able to connect with an incredible 
language partner who has been extremely helpful in my quest to learn Swahili. 
Thank you so much for providing this service.<br>
<br>
Asante Sana,<br>
Jason Warren<br>
<p align="right"><i>- Jason Warren, Glen Rock, United States, November 14, 2005</i></p>
<br>
You may use my comments in any way you wish.  I am just glad I found 
your service and I appreciate the opportunity to spread the word about 
your site.<br>
<br>
Thanks,<br>
Jason<br>
<p align="right"><i>- November 15, 2005</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dear Dan Yuen<br>
<br>
I just wanted to drop you a note to say Thank You for this wonderful site.  
I met my Japanese penpal in Japan a couple of weeks ago when my family and 
I traveled from the US to Japan for vacation.<br>
<br>
We had a wonderful time together and she took us sightseeing and we were invited to 
dinner to meet her family. They were very kind,`generous, 
helpful and hospitable. They have invited us to stay with them the next time we visit Japan. 
We have also invited them to stay with us should they ever visit the USA.<br>
<br>
Through your site, I have made wonderful friends in Japan.<br>
<br>
Thank You!


<br>
<br>
<p align="right"><i>- Chip Pretzman, Columbus, OH, United States, August 9, 2005</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hello,<br>
<br>
I just wanted to tell you that I'm very impressed with your website. I do alot of traveling
and have met people where I go. It has been a valuable information tool as a traveler and 
fun to write/chat with like minded people. All for $6 a month. 
I blew $8 today on subway fares alone. I'll be around. <br>
<br>
Hasta Pronto

<br>
<br>
<p align="right"><i>- Christopher, New York City, United States, August 2, 2005</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I started out to learn a few words of Swahili in prep for a visit to 
Tanzania.  Now I have friends in a town I will visit, I know
more Swahili then I ever expected, understand some of the culture, swapped 
family photos, text chat almost every day, and more!<br>
<br>
Thanks for helping to make that happen.

 
<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=318232">Colin Charles</a>, Brisbane, Australia, April 6, 2005</i></p>


        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">



<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I joined as a gold member sometime last year. I met with a lot of 
people online and in person through your site. Not only did I
improve in my language skills (Japanese), but I also was able to 
get a job and move to the country of that language (Japan). This
site was a great aid for me. Thanks.
 
<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=116928">Gino Mongelli</a>, Japan, December 28 2004</i></p>


        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">



<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

You can quote me on this, but I think&nbsp;it's a truly remarkable and wonderful site 
that&nbsp;you have going. It gives people such as myself a place to go and truly 
learn a language; not from a CD ROM or from lessons, but from the natives that 
actually speak it. The many&nbsp;benefits&nbsp;I see are that I can learn from the most 
realistic perspective possible, and even learn things&nbsp;one couldn't learn 
anywhere else in a language, such as slang or common phrases. Keep doing what 
you do. The best of luck, and God bless.<br>
<br>
<p align="right"><i>- Felix Raikan, United States, October 8 2004</i></p>


        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>

Dear Sir,<br>
<br>
I have always wanted a language exchange partner. I searched the Internet for months, but in vain. I logged onto your website, and found one the next day.<br>
<br>
Some language learners compare the Internet to a gold mine. I think MyLanguageExchange.com is a mine lamp, without which you have to dig in darkness.<br>
<br>
Regards,<br>
Yours faithfully,<br>
<a href="Minfo.asp?UId=205659">Liu</a><br>
<br>
...Feel free to include my first name and give a link to the profile. I hope more people know about your site.<br>
<br>
<p align="right"><i>- <a href="Minfo.asp?UId=205659">Liu</a>, Zhengzhou, China, July 27 2004</i></p>


        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I am really impressed by the way you make it possible for people wanting
to learn/improve a language to get in touch with each other.<br>
<br>
I now have the real-time contact I need to implement and check what I
learn from texts.<br>
<br>
Linguistically, this site helps people get past that frustrating plateau
in language learning: being able to get by. With the knowledge, support
and experience of your email partner, you can take the risks required to
learn more complex language forms, as your partner can with your help.<br>
<br>
Caveat: when it comes to casual conversation, you can probably learn a
fair bit with a partner of average skills, but if you want to learn more,
check that your language partner has the depth of knowledge you need. It
is useful to shop around and compare the level of understanding people
appear to have of their first language. For example, many people can
converse idiomatically in English, but how many can explain why the
language is structured the way it is, or why you use a certain word
instead of another?<br>
<br>
With My Language Exchange, you have the whole world in front of you, so
the possibilities for partners of different levels are almost endless.<br>
<br>
from Clytie Siddall, lecturer in languages<br>
<br>
<p align="right"><i>- Renmark, Australia, July 6 2004</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi.  Just wanted to let you know how successful your site has been for me!
I met a new friend from your site.  Frank from Germany.  We have
corresponded by email and later by MSN Messenger since last October.  My
wife and I invited Frank to visit our family here in Colorado.  He came
over for 3 weeks in June and we had a super time hosting Frank and he got
along wonderfully with our entire family.  We now have a good friend in
Germany and we are planning a visit to Frank in
October.  Thanks for everything! <br>
<br>
<p align="right"><i>- Mark, Colorado, United States, July 5 2004</i></p>

        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">



<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Thank you for your significant impact in making the world a much warmer, more 
open, accepting place! Jesus said we are to let the light within us shine. 
Boy, are you doing that and letting many, many others do the same. Thanks for 
realizing your dream. You are a real inspiration.<br>
<br>
<p align="right"><i>- Steven Schelling, Reading, United States, June 3 2004</i></p>

You certainly may use my letter as a testimonial from a very satisfied customer.<br>
<p align="right"><i>- June 4 2004</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">



<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I am so pleased with My Language Exchange.com that I can't even find the
words.  It has helped me immensely with my Hungarian, Turkish, Finnish and
Portuguese practice. It's ideal for language learners.  Not only can you
really put your language study to use, but you can meet nice people and
make good friends.<br>
<br>
THANKS SO MUCH!!
<br>
<br>
<p align="right"><i>- Kevin Hayden, Massachusetts, United States, December 17 2003</i></p>

Dear Dan,<br>
<br>
Absolutely, use my comments on the testimonials page and you have my permission to use my full name as well!  Thanks for using them and for co-founding and creating such an awesome site.  It couldn't be more user friendly or efficient.  Super!<br>
<br>
Sincerely,<br>
Kevin<br>
<br>
<p align="right"><i>- December 19 2003</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Subject: Your site has opened up a life I only dreamed about!<br>
<br>        
I have encountered many sites on the web for language exchange and penpals
but none have surpassed what you have to offer.  I am a Spanish Major at a
university and my first language is English. I am increasing my speaking
and understanding skills so rapidly that I often find myself thinking in
Spanish, something that I had only dreamed about in the past. Your site
has allowed me to find not only a language exchange partner but someone
with which I know I will have a lifelong friendship.  The individuals who
come to mylanguageexchange.com are serious about helping each other to
learn to communicate freely and expressively in another language and this
alone, the caliber of the community here, far surpases what I have
encountered thus far. Bravo for a job well done!  Thank you very much for
opening up so many possibilities in my life for me and my family!
<br>
<br>
<p align="right"><i>- Mark Gage, United States, August 31 2003</i></p>

<br>
<br>
Mr. Yuen:<br>
I don't mind at all if you publish my name (along with my comments), 
I think you have a tremendous site and I would be proud to have my letters displayed there and 
hope that it will encourage someone new to try out a language exchange. <br>
<br>
Have a great day!<br>
Mark (Richard Mark Gage)<br>
<p align="right"><i>- September 6 2003</i></p>

<br>
<br>
Dan:<br>
My fluency has increased so much that it is close to that of the native speakers 
in the university level classes I am enrolled in at the University of Texas at Tyler. 
They all ask me how I have become so fluent without going outside the country and 
I just say, "well, in essence I do travel outside the country, almost on a daily basis"...
thanks to my contacts on mylanguageexchange.com that is....<br>
<br>
<br>
Thanks again for everything and have a great day!<br>
Mark Gage<br>
<p align="right"><i>- March 8 2004</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
A few month ago when I first signed up with mylangageexchange.com, 
I started off with a lot of language partners with the hope to improve 
both my Japanese and my Putonghua. The webpages had tons of contacts as 
well as lots of handy tips, so you really have to just give just about 
everyone who matches your search criteria a try. After a month or so, I 
decided to settle with one Japanese lady from Kyoto and a Chinese lady here in Hong Kong.<br> 
<br>
My Japanese partner is very keen to improve on her Cantonese - a bit of surprise to me 
as Cantonese is a spoken language not that often spoken outside the southern part of 
China. We exchanged a lot of emails and I must say that we didn't really follow the 
instructions from the webpage. Last month, I had a chance to actually visit her in Japan. 
We went visiting together so many interesting places which I would not have been able to 
visit without a native speaker, shrine, local university etc. It was so much fun to actually 
meet your language partner. Those few days were probably the most intensive language lessons 
we both have ever had in our life!<br>
<br>
As for my Putonghua partner, she was just perfect. Every other day, we had a phone conversation 
for about an hour, alternating in English and Putonghua. Since I live in the countryside in HK,
I spent quite a bit of time commuting and that turns out to be just perfect for some language 
practices. We talked about practically everything from Chinese culture, religion to where you 
can get the best dim sum in Hong Kong. I am going to invite her to my Toastmasters club where 
hopefully she would find more opportunities to strengthen her spoken English. For us, although 
we're both Chinese, it was very much a cultural lesson for both of us since we came from very 
different background - mainland China and Hong Kong are just like two different worlds and we 
are always surprised at how different people from the two places think.<br>
<br>
Thanks to mylanguageexchange.com, language learning has never been boring.<br>
<br>
<p align="right"><i>- Bill Mak, Hong Kong, July 26, 2003</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dan, Everything's perfect. You have a wonderful
service. I was looking for something like this a
couple of years ago and couldn't find it. This time
I
just stumbled on it by accident. I lived in Milan
and
Buenos Aires for a while and used to meet people for
exchanges by posting notices in the colleges and
travel agencies. This is much easier! Thanks again.<br>
<br>
<p align="right"><i>- Mike, New York, June 9, 2003</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I want to thank you and God for having this site. This will open so many
doors for people to communicate, and i am sure that it has. It's great to
go somewhere and be able to find ways to communicate through different
languages. I just can't thank u enough.
May the Lord continue to bless you all.<br>
<p align="right"><i>- Tony Spalding, Louisville, United States, May 7, 2003</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dear Dan<br>
<br>
This has to be one of the best free online sites I have discovered. There
is no doubt a great deal of effort has gone into endeavouring to create a
site that incorporates good language learning principles including the
intrinsically motivational aspects of interactivity.<br>
<br>
And no stone has been left unturned in ensuring the site's users
understand how to use each feature and facility in order to gain maximum
benefit from their online learning experience.<br>
<br>
What a site! You deserve wide reognition from around the globe for your
efforts.<br>
<br>
Thank you and with every good wish.<br>
<br>
Regards<br>
Ian Hodges<br>
(Australian TESOL educator currently working in Brunei Darussalam.)<br>
<br>
<p align="right"><i>- April 24, 2003</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I am impressed with your great idea and execution 
in programming such a communicative and delightful and truly useful website for all of us members. 
The reasonable cost allows everyone the world over to participate! 
What a good and noble effort, and what a worthy man you are. I am honored to be part of your 
website circle.  Thank you again for everything. <br> 
<br>
Sincerely,  <br>
Marie<br>
<p align="right"><i>- San Diego, United States, April 20, 2003</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Well your system has been awesome for me,
I haven't done anything but I feel like
I get new friends automatically.<br>
<br>
Now I don't have much time so I
can't do anything other than email
correspondance with my partners but
when I get sometime I would like to
participate in your other activities.<br>
<br>
Don't work too much, yet, I expect
that you guys will improve your site more and more.
I think I will continue to have new friends
forever, as long as I use my computer.
Je vous remercie ca infiniment!!<br>
<br>
Best regards.<br>
<p align="right"><i>- Masaki Yanagisawam, Japan, March 10, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I  met one person through the language
exchange. I am helping her learn english and she is helping
me learn french. She plans on coming to my state to
work soon. Thank you for the language exchange.<br>
<p align="right"><i>- Uche, United States, March 5, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
My experience has been good; I have found about 5 partner for practice.
We use e-mail (I haven't a lot of time to spend on my personal computer.)<br>
<br>
Yours faithfully.<br>
LUCA<br>
<p align="right"><i>- Perugia, Italy, March 2, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Thanks for creating this website, Now I had been able 
to find different partners from all over the world. We exchange by emails 
and now know 4 persons. I try to improve my english and to know their 
life styles as well. Many thanks and congratulations.<br>
<br>
Yes you can use my comments for your web site. I'm very happy to 
use this site. It has all qualities that I was looking 
for  : interesting, cultural,  ...<br>
<p align="right"><i>- Catherine, Plaisir, France, February 24/March 1, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
It is awsome keep up the good work. 
I have recommended you to many foreign and domestic friends. <br>
<p align="right"><i>- Javier Gonzalez, United States, February 25, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>

<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi Dan,<br>
<br>
Your site helped me to find a partner and practice my foreign language.
Not being still a good speaker in this language, "the English",
unfortunelly, I didn't know what say, now I speak better, but I always
study to progress yet, and I haven't much time to exchange with much partner.<br>
<br>
It's very interesting, to have the exchanges with partner; to know others
countries, and other  ways to live.<br>
<br>
I'm glad to have your site to find partners to talk with.<br>
<p align="right"><i>- Brigitte Anjoran, France, February 24, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>

<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
My experince has been worth it. I have found a partner to help me 
learn Egyptian.   <br>
<p align="right"><i>- Shoshanna, United States, February 23, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hello Mr. Yuen, How are you?<br>
<br>
I am very pleased with your site and consider it one
of the best for language learning.
I have been looking mainly for Chinese in exchange
for English, Spanish or German, and I have got around 4
exchanges.
Wish you a big success with the page.<br>
<p align="right"><i>- Antonio, Age 36, Madrid, Spain, February 25, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I took part in this site before one month. I really appreciate you. 
This site is very helpful. I am Japanese. And I am practicing English. 
I found a few pen friends in this site. They are very good people, I guess. 
I have a lot of chances to write English recently. I will continue to study. 
And to help for people who wants to learn Japanese is very good for me, too. 
To teach is difficult but interesting. Thank you. Bye.<br>
<p align="right"><i>- Tomoko, Onoda, Japan, February 25, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Indeed, your site is an excellent way of practising foreign languages. If
you ask me, yes, I found a penpal in Florida who help me to improve my
English and in exchange I help her in progressing in French. Currently, our
mean of communication is by e-mail. We will see later for other ways of
correspondance. I read your lessons plans once : they are well done but as
I use e-mail I don't need to use them for the moment. 
Thank you very much for your site !<br>
<p align="right"><i>- Alice, France, February 25, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Since a month already i'm chatting with someone encountered via
language exchange. For now i'ts only text chat.<br>
<br>
J'aime beaucoup la formule du jeu. I have not yet explored all the
potential, but surely I will.<br>
<br>
Thanks, dont give up your hard work. Jp<br>
<p align="right"><i>- Jean, Montreal, Canada, February 23, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Je trouve votre site formidable!  
Présentement, je correspond avec un Iranien des États-Unis.  J'apprend l'anglais et lui 
le français.  Je voulais parler à un Iranien, car j'ai connu un Iranien et j'aime ce pays, 
malgré les différences énormes!  Je ne pensais pas que je pouvais être aussi spécifique 
dans mes demandes.<br>
<br>
Mon correspondant est entré en communication avec moi sans même que j'aie à faire la 
recherche.<br>
<br>
Merci beaucoup!<br>
<p align="right"><i>- France, Québec, Canada, February 25, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>

<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I have been using MyLanguageExchange for 
several months, and I did find a partner, who helps me with my French 
learning by text, voice and email chats.&nbsp;Best regards! <br>
<br>
<p align="right"><i>- China, February 23, 2002</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>

<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Bonjour,<br>
<br>
J'ai beaucoup apprécié ce site. L'on trouve ce que l'on veut. Je trouve que les sélections pour 
trouver un correspondant sont variées et que grâce à cela l'on arrive à trouver beaucoup plus 
facilement les personnes qui nous intéressent. Cela fait environ un mois que je cherche des sites 
de ce genre sans en rencontrer un à mon goût. Je vous félicite vraiment et vous remercie beaucoup. 
Continuer votre beau travail.<br>
<br>
<p align="right"><i>- Paskoila, St-jean (québec) Canada, November 3, 2001</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">
                   
<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi, Danny:<br>
<br>
Just to tell you that my language exchange is working wonderfully. I found a
French woman (from Paris) who was interested in improving her English and I
my French.<br>
<br>
We communicate daily (except weekends, as her computer is at her office) and
have written e-mails (only...no voice chat, no live chat). That seems to be
the best for both of us.<br>
<br>
We have been writing each other, as I said, virtually every day since the
10th of January (2001) and we really enjoy communicating with one another. I
think, for awhile, she had been e-mailing with another person (woman) in
California but she has let that one go. To my knowledge we only communicate
with each other.<br>
<br>
I have learned her last name and her work address and I've sent a couple of
presents to her little 4-year-old son. Since this package went through
customs she knows my address as well and she said she'll be sending me
something when she goes on her next vacation.<br>
<br>
I have found it very easy to keep up this kind of communications with her
and she feels the same way. It is conceivable that someday when I travel to
France I may even get a chance to meet her and her son...it would be nice. I
am happily married and there is absolutely nothing to this e-mail
relationship except totally platonic. My wife knows about it and thinks it's
a good way for me to keep up my French proficiency.<br>
<br>
One thing [my penpal] and I do is critique each other's
letters...when I write in French she corrects my mistakes and when she
writes in English I correct hers. We both enjoy this and seem to have
learned from our mistakes (though I still make some every time...that's the
nature of the beast, I'm afraid!).<br>
<br>
We also feel very free to write in our own language to each other whenever
we feel like it. For example, she just got back from a 4-day business trip
to Malta and she wrote me what came out to 3 pages worth of copy (when i
printed it out!)...all in French. It was great for me to read all that
French and to know that I understood virtually every word (I only had to
look up about 4 words).<br>
<br>
I do the same to her frequently...if I'm too tired to write something long
or complicated in French (not my native tongue!!), I write her in English
and she gets the workout.<br>
<br>
We couldn't be happier with the exchange. Thank you for setting it all up.<br>
<br>
One more thing. Because of the frequency and intensity of our
correspondence, I cannot see myself getting into another exchange now.
Perhaps if [my penpal] and I stop writing one another then I will look into
another pen pal.<br>
<br>
Thank you for everything.<br>
<p align="right"><i>- John C., New York, United States, March 29, 2001</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Dear Danny, It has been a great experience for me so far. I have just done 
e-mails, but the people I have met have been very nice. Usually we write half 
in my language and half their language. We correct each others' grammar too 
usually. They've also given me some good info on an area in France that I 
will visit this summer. Two of the people that I correspond with contacted 
me, which I thought was wonderful. I really was hesitant about putting in my 
age, however. I would like people to write to me no matter what my age is... <br>
Anyway, this is my #1 favorite online site. Thanks...
<p align="right"><i>- United States, March 29, 2001</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Bonjour à tous,
et tout d'abord merci pour le plaisir que vous nous apporté
ma fille et moi  avons pu profité de ces échanges.
ma fille qui a 9 ans communique avec un Africain de 30 ans en
français et
moi avec une américaine de mon âge en anglais ; Ma fille a cherché
d'autres
contacts mais sans succès et il n'y a que le camerounais qui ai
cherché à
nous contacter...
merci pour tout<br>
<p align="right"><i>- Muriel, Bordeaux, France, 8 avril 2001</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
Hi, I got your e-mail asking for input and thought I'd let you 
know how pleased I was to use your service.&nbsp; I haven't used any of the 
voice&nbsp;services, but I connected with an e-mail "pen-pal" and we have continued 
to send mail back and forth to each other.&nbsp; I am a student majoring in 
elementary education, with a Spanish concentration, so this is the next best 
thing to actually speaking to someone and gives me good practical experience.&nbsp; 
My schedule is too hectic at the moment to pursue any other contacts, but I hope 
to do so in the future.&nbsp; At the beginning when I had difficulty filling out the 
form, you responded immediately and I was able to get through with your 
suggestions.&nbsp; I recommended your site to my Spanish professors and other 
students.&nbsp; I think it's a great idea!&nbsp; Hopefully I will use it more in the 
future as a teacher.&nbsp; Thanks.
<p align="right"><i>- United States, March 29, 2001</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
All in all, I like this site!!  As I said before, "finally something useful
on the internet."  It is a good way to concentrate those people who are
interested in learning a language (like me) without having to go over dozens
and dozens of emails (like those dating sites) finding someone interested in
language exchange.<br>
<p align="right"><i>- Niel Smith, Silicon Valley, California, U.S.A., February 9, 2001</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">

<br>
<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="Maroon" align="center">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="Ivory">
    <tbody><tr>
        <td>
I'm an English as a Second Language teacher in the United States, and I
just wanted to let you know that you have a very nice site.  It's great
that there is a place that students of foreign languages can go to chat
with others that are looking for the same thing.  When I get my own site
going (I have lots of work ahead, so it will be a while...), I'll be sure
and send people to yours.  Again, I really am happy to see a site that is
dedicated to those serious about language learning and where PRACTICE is
the concept!  I've tried the chat rooms on the big search engines, but
they are filled with strange people.  Yours looks much more serious.  I'm
sure you've received lots of compliments. - Katerina Vallianatos
By the way, I'll be using your site to practice my French, and I'll
recommend it to everyone I know.
<p align="right"><i>- Katerina Vallianatos , U.S.A., January 1, 2001</i></p>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
<br clear="all">


<br>
<br>
<br>



				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/awards.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2Fawards.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f786b48a36726e" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df12463d99fbb7c6%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ffaef2a80ad1a0e%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2Fawards.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
            