<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>My Language Exchange Member's Presentation to the Office of the Commissioner of Official Languages of Canada</h2>

On June 21 2013, representatives of My Language Exchange and Friednship Force International 
<a href="OCOL.asp">presented to the Office of the Commissioner of Official Languages of Canada</a> the benefits 
of using language exchange practice to promote bilingualism in Canada.<br>
<br>
The following is the transcript of the presentation of Belkacem Kesraoui, a member My Language Exchange and language partner 
of Eileen Howell for 6 years.<br>
<br>
<br>
<br>
Thank you, Eileen. Thank you. M. Giguere, ladies and gentlemen.<br>
<br>
I am going to tell you, in English, my small experience on learning English and how far this experience led me.

As a newcomer to Quebec, the first thing you do is find a shelter, an apartment or a house for rent. The second thing 

you have to worry about is having your children registered at a schoolboard, so that they can attend school. Then you 

are a little relaxed and have more time to focus on the third but not the least important part of the process: get a job to 

make a living.<br>
<br>


That was the path I followed.<br>
<br>


But when I went job hunting, I soon knew that, even being in a French speaking place, having good credentials was not 

enough: most of companies expect applicants to have some knowledge of English in order to be hired. That is what 

made me start learning English.<br>
<br>


I took evening English lessons for two years in Montreal, at a school run by the English Montreal School Board, which 

allows very low tuition fees for immigrants. <br>
<br>

Then, in 2006, I got a job with the provincial government of Quebec, in Quebec-City. Learning English there was a lot 

more difficult than in Montreal : very few colleges were offering lessons, these colleges were far from where I lived, the 

schedules did not fit the time I could allocate and the fees were high. But I had already understood that I was in that 

great part of the world called North America, and I had to gain some level in English if I wished to live a full life.<br>
<br>

I turned my quest to internet, where I found websites dedicated to learning languages and using Skype system 

as a means of communication. I worked with 2 people and then I made acquaintance with Eileen through 

MyLanguageExchange.com . She was the partner I was looking for. We have been working together for 6 years now 

and I can say that they were 6 years of steady, continuous improvement in listening, understanding and speaking 

English. It was done from home, at hours that were convenient for me and for no cost.<br>
<br>

The improvement came through totally free talks. Depending on the circumstances, we discussed questions of the 

moment, risen by the media, or other issues that one or the other of the 2 partners was interested in. Sometimes the 

talk was about an important event unfolding somewhere in the world, could it be in the US, France or Middle East. Other 

times, it was on subjects related to religion, economy, science or any other matter. Thus, I learned to better understand 

how Canadians think, live and do things. <br>
<br>

Later, the relationship deepened into friendship. In 2011, my wife and I got to spend Christmas time as Eileen and 

Andrew’s guests in Ottawa. They served as guides to us through the celebrations and they took us to the Christmas mass 

at an Anglican church. They introduced us to English speaking Canadians we would otherwise never have met. I hope 

that, in the other hand, Eileen and Andrew enjoyed being with us in Montreal and that they learned a bit about how 

North Africans like us think and live.<br>
<br>

And all that was possible thanks to MyLanguageExchange.com website and to Skype system.

Thank you.<br>
<br>

<br>
<br>
<br>



				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/OCOLTrBelkacem.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrBelkacem.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f1cfc70a006fc4a" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2688a112b6068a%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff6a16c7d11552e%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrBelkacem.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
