<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>Friendship Force's Presentation to the Office of the Commissioner of Official Languages of Canada</h2>

On June 21 2013, representatives of My Language Exchange and Friednship Force International 
<a href="OCOL.asp">presented to the Office of the Commissioner of Official Languages of Canada</a> the benefits of using language exchange practice to 
promote bilingualism in Canada.<br>
<br>
The following is a summary of the presentation of George Brown, President of Friendship Force International.<br>
<ol>
<li> Friendship Force International (FF) was created with the endorsement of President 

Jimmy Carter in 1977 for the purpose of bringing people together across the barriers 

that separate them. We do it through a global network of volunteer clubs in 57 countries. 

Groups of 16-24 members from one country are hosted for a week in the homes of their 

counterparts in a different country. The informality and genuine hospitality of the home 

stay environment provide an excellent setting to break down barriers and establish lasting 

friendships.<br>

</li><li> For years FFI treated the “language barrier” as not being important: “Don’t worry, you’ll 

get along fine.” In recent years we’ve come to understand that language is important 

and that in many cases our exchanges provide an excellent setting for language learning 

to take place. Therefore, we have asked our non English speaking clubs , for example, 

the French in France and Quebec to conduct the host week in their native language as 

opposed to English as the default language. We are calling them “Global” exchanges 

because they will be open to both native speakers and learners of the language and come 

from all over the world, not just one city. We have had Germans in the US improving 

their English, Americans traveling to Bogota for Spanish, French to the UK for English 

and soon, we hope, Canadians and others traveling to Quebec for French (and vice versa).<br>

</li><li> With the new partnership between FFI and My Language Exchange.com (MLE) we 

are able to take this one step further, using the MLE website to offer their members 

the opportunity to join one of the many exchanges that provide excellent programs for 

language learners in French and English among others. The process has now begun and 

we look forward to expanding the linkage in the months ahead. We are doing this by 

opening up many of our English language hosting opportunities to new participants; as 

well as developing customized language learning opportunities.<br>

</li><li> FFI is also interested in using the language learning theme as a way to expand our 

programs in Canada, particularly in Quebec and other francophone regions. Any support 

that can be provided by the Official Language Commission in this effort will be greatly 

appreciated. FFI is a non-profit organization, and while there is a fee for people to 

participate, we are not seeking any financial assistance from the Commission. What we 

value are your ideas on how to get the word out about our programs to key people in 

various regions of the country.<br>

</li><li> Finally, we are hoping that our resources, particularly when combined with those of 

MLE, may be of assistance to the Commission as it carries out its mission and we are 

eager to find ways to make this a reality. We are encouraged by the interest that has been 

shown by the Official Language Commission and appreciate the opportunity to make this 

presentation today.<br>
</li></ol>
<br>
<br>


				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/OCOLTrGBrown.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrGBrown.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f235adbd363d6fc" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfe059c8e662a92%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff184b02de8a68ba%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrGBrown.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
