<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>Friendship Force's Presentation to the Office of the Commissioner of Official Languages of Canada</h2>

On June 21 2013, representatives of My Language Exchange and Friednship Force International 
<a href="OCOL.asp">presented to the Office of the Commissioner of Official Languages of Canada</a> the benefits of using language exchange practice to 
promote bilingualism in Canada.<br>
<br>
The following is the transcript of the presentation of Eileen Howell, Marketing Consultant FFI (Languages) of Friendship Force
and a language learner and member of My Language Exchange for several years.<br>
<br>
<br>
<br>

Learning French and Making Friends<br>
<br>
<!-- Mr.Giguere, members of the panel, ladies and gentlemen. I am delighted to be 

here today... and pleased to introduce you to the panel of presenters.

From my right are: 
<UL>
<LI>Madam Cecile Latour Current Member of the Board of Directors FFI , Canada's former Ambassador to 

Vietnam from Ottawa.

<LI>Dr. Andrew Stirling, retired Nuclear Physicist, Past Member of FFI Board and current member of its 

International Advisory Council. Living in Ottawa.

<LI>Myself, Eileen Howell, retired Management Consultant who ran my own business across Canada for 25 

years now living in Ottawa.

<LI>Dr. George Brown, President of FFI from Atlanta, Georgia

<LI>Dan Yuen, Engineer turned entrepreneur and founder of MLE.com from Toronto

<LI>Belkacem Kesraoui, Civil Engineer with Government of Quebec, from Montreal .. One of my language 

partners from mylanguageexchange.com
</UL-->


Everyone who has become bilingual as an adult, knows that becoming fluent, 

requires all the things you learn in class, and a whole lot more. How to get 

that is the big challenge. Canada's first Commissioner of Official Languages, 

Keith Spicer, was challenged to get enough Anglophones speaking French, early 

enough, to meet the new language requirements in the Federal Civil Service. 

So he helped start Canadian Parents for French. I was part of that movement 

starting a chapter in Drumheller, Alberta 10 years later. This was in an era when 

having French on a loaf of bread meant it would not sell. I lived to tell the tale 

of French Immersion in Drumheller and CPF provided the political will all across 

Canada, that has resulted in over 300,000 Anglophones becoming bilingual thanks 

to French Immersion.<br>
<br>

But, learning to speak French, without also creating friendships with French 

speakers, means losing these gains when school's out. Today, we have the 

challenge to create links, bonds and connections between Canada's two language 

groups so that we create real friendships, not just work relationships. I think 

it's time for another grass roots initiative, this time using new technology 

and exchanges for adults, to create real friends in the other official language. 

My Language Exchange and Friendship Force International are ways to do just that.

At the age of 60, almost 8 years ago, I decided it was my turn to learn French. 

After more than 1000 hours of classes and more than $5000 from my own pocket, 

I passed the advanced intermediate level with high marks. However, I could 

neither speak nor understand spoken French. <br>
<br>

Ten days in Jonquière did start me talking, but even there, I did not spend enough 

time with native speakers, I spent too much time with other Anglophones 

speaking broken French. And then, my relationship with my host family ended 

when I went home.. In the real world, bilinguals immediately switched to English. 

Even those whose English was worse than my French. <br>
<br>

I could see that if you had to learn French, not just wanted to do it, you could get 

pretty demoralized and start thinking like those people in Drumheller did twenty-
five years ago.

 I was not ready to quit, yet, and not ready to bankrupt myself trying, either.

I watched how children learn to talk and I tried to reconstruct such a milieu for 

myself.<br>
<br>

I happened upon www.mylanguageexchange.com . It was a breakthrough for 

me. It's inexpensive, I do not have to leave home and I choose my partners 

because of shared interests and compatibility. Neither age nor level of ability 

in the other language matters. All that matters is that each one chooses the 

partner of his own volition and remains in the relationship because it is mutually 

beneficial. My first partner was a 22 year old from New Caledonia who spoke 

quite good English at a point where I could hardly put together one sentence. 

We talked daily. Her progress after two weeks was so noticeable that her 

teacher was asking her, to ask me, how to say some things in English. Sometimes 

my French is better than the other's English and sometimes it's the other way 

around.<br>
<br>

I created a family of 12, ranging in age today from 33 to 77 and it comes to me 

via Skype from all over the world. Like a child who shows everyone his new toy, 

I started by telling each of them, the same story. Each one corrected me and 

my story improved till by Friday it was pretty good. Today I can talk about world 

events and discuss articles from Le Monde and L'actualité switching then to the 

Globe and Mail and the New York Times. I'm not very eloquent in French but I 

talk with my partner who is, then I'm more eloquent in English when it's his turn.

Language partners listen patiently, correct a little and become friends. It is a sort 

of sheltered immersion, as opposed to standing panicked at the front of a long 

line ordering fast-food in French. Nevertheless sheltered immersion only goes so 

far because we speak clearly , one-on-one with no background noise and there is 

always the chat screen as a safety net. <br>
<br>

Direct and dynamic contact with native speakers is the next step in becoming 

fluent and confident. FFI, the 40 year expert in group home-stays, provides 

cultural immersion with groups and individuals talking at a normal rate using both 

formal and informal vocabulary, living as they normally do. Friendship Force 

International is a network of 360 clubs in 57 countries who exchange hospitality in 

what are like student exchanges for adults. <br>
<br>

This winter, I travelled to France with my husband, meeting my language partners in 

their homes. Then I spent two months in Paris, participating three times a week, 

in a wonderful bar event called Franglish. It's a sort of speed-dating for language 

learners without romance. There we met over 200 French people needing to 

learn English, mostly young professionals. The French who once considered 

it a matter of national pride not to speak English, now, need to learn English 

to survive, particularly in the EU. However, the French cannot find enough 

Anglophones learning French with whom to find language partners. Furthermore, 

French speaking immigrants to Canada and native Quebeckers compete with the 

French for the scarce Anglophones learning French. Where are the anglophone 

learners of French? They are in the Canadian Public Service and you have links 

to them. I hope you will help us find them. I am sure they would appreciate 

the opportunity to make friends with ordinary Quebeckers and ordinary people 

from the Francophonie. I just know that making friends with real francophones 

uncomplicated by money, history or work competition would go a long way to 

improving the mood of anglophones learning French.<br>
<br>

To summarize, we can offer
<ol>
<li> Language partners on Skype 

</li><li> Immersion for Francophones in our FF exchanges in all the English speaking 

countries

</li><li> Immersion for Anglophones in Quebec, France, Guadeloupe and New 

Caledonia.

</li><li> In the next few months we have 55 exchanges in the English speaking 

world, each having space to add francophones wanting to improve 

their English. For example, September 4th 

available for Francophones to join a group of English speaking FF members 

from Ottawa in Cornwall, UK. Also joining this group is one person from 

Belgium and another from Normandie. For both of these people it will 

be English immersion with a group of British hosts and English speaking 

Canadians... all of us struggling a little with the various accents.

I hope The Office of the Commissioner of Official Languages can help publicize 

these opportunities with MLE and FFI. I hope that more people can know the 

pleasure of making friends who enriched one's life and make learning another 

language worth the effort.
</li></ol>
<br>
<br>
<br>



				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/OCOLTrEileen.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrEileen.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f205a607311b896" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1c73a61b9a786e%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2d25ff9ed954d4%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrEileen.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
