
				

                <!-- Page Begin -->

<table cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
<td>
<h2>FAQ's</h2>

<a href="#_top" class="rounded-btn-outline">Language Learning FAQ's</a>
<a href="FAQMembers.asp" class="rounded-btn-outline">Membership FAQ's</a>

<br>
<br>
<br>
<a class="pageAnchor" name="_top"></a>
<h2>Language Learning FAQ's</h2>
<b>
1. 	<a href="#_a1">What is a language exchange?</a><br>
2.	<a href="#_a2">Why a language exchange?</a><br>
3.	<a href="#_a3">I am learning a second language for business. Why are informal expressions and slang important to me?</a><br>
4.	<a href="#_a4">Why should we use the Cormier method? Why not just talk?</a><br>
5.	<a href="#_a5">How will we practice?</a><br>
6.	<a href="#_a6">Why can't I speak in my second language all the time?</a><br>
7.	<a href="#_a7">Voice chat, text chat or pen pal?</a><br>
8.	<a href="#_a8">You have a lot of silly activities in your lesson plans that don't seem to be very challenging. Do we have to do them?</a></b><br>

<br><br>
<a class="pageAnchor" name="_a1"></a>
<h4>1. What is a language exchange?</h4>
A language exchange is two or more people who speak different languages practicing each other's language. For example, an English speaker who is learning French will do a language exchange with a French speaker who is learning English. There are many ways to practice in a language exchange.<br>
<br>
MyLanguageExchange.com uses the Cormier method of language exchange that has been proven for 3 years at the C.E.L.M. language school in Montreal, Canada. In this method, small mixed groups of native speakers of two languages spend half the time speaking in one language and half the time in the other language. Activities are structured to ensure all areas of language acquisition are exercised such as vocabulary, pronunciation and listening comprehension. In addition, the activities in the Cormier method are designed to enable students to discover the "conversation culture" - how native speakers of the other culture interact. The method relies on ensuring the students have fun and are relaxed to make language practice more enjoyable and therefore more effective.<p>

<a href="#_top">To the questions list</a></p><p>

<a class="pageAnchor" name="_a2"></a>
</p><h4>2. Why a language exchange?</h4>
You need the right kind of practice - and lots of it. In these respects, a language exchange is more effective than the other popular ways to practice: the language class and complete cultural immersion.<p>

In a class, there is very little time to practice speaking, because a lot of time is spent on instruction and the class may have too many students to give everyone enough meaningful practice. Also, there is no native speaker except the teacher (if you're lucky). That means you are not used to listening to native speakers and may not be able to understand them. You're probably not learning the informal expressions and slang that native speakers use all the time. You don't learn anything about how the people "are" in that culture, how they interact, their sense of humor, their values, etc.</p><p>

On the other hand, a complete immersion can be ineffective because people don't know how to help you learn - they may speak too fast or use slang you don't understand. Also they may not be patient and just switch to your native language if they speak it, not giving you a chance to practice. Immersion can also be scary. The people in the place of your immersion may speak with a very different accent than the one you learned from your teacher. Also, if people don't speak your language, you can get stuck and not be able to communicate at all!</p><p>

In a language exchange, however, you practice more than you would in a class, talking with native speakers of the language you're learning, in a relaxed and supportive environment where there is patience and time to understand. A language exchange is also a wonderful way to learn the real spoken language of the culture, with all its "incorrect" grammar, informal expressions and slang. Therefore, a language exchange is the best training to bridge the gap between classroom learning and communicating in the real world!</p><p>

<a href="#_top">To the questions list</a></p><p>

<a class="pageAnchor" name="_a3"></a>
</p><h4>3. I am learning a second language for business. Why are informal expressions and slang important to me?</h4>
Having a strong business relationship is priceless. And if you think about it, a business relationship really is built on the personal relationships between the people of the two parties. Knowing and comfortably using informal expressions and slangs is a requisite for moving your relationship to a more personal and therefore closer level. Being able to joke around like buddies is a sure sign of a closer personal relationship.<p>

<a href="#_top">To the questions list</a></p><p>

<a class="pageAnchor" name="_a4"></a>
</p><h4>4. Why should we use the Cormier method? Why not just talk?</h4>

Experience has shown that structure is necessary for most people who want to do
a language exchange. Without structure or lesson plans, most people do not know
what to talk about. One of the exchange partners may be shy or they may have
little in common.&nbsp;<p>
The Cormier method is a proven method that has helped students at the C.E.L.M. language school in Montreal, Canada improve fluency for 3 years.
Through the carefully designed <a href="ChatCompanion.asp">lesson plans</a> and
the <a href="HowTo.asp">How-to</a> guidelines, the Cormier method provides the
necessary structure, and also ensures a positive learning environment.</p><p>These
lesson plans suggest activities that not only give you something to talk about,
but equally important, they give you permission to talk about them! As you will
see, the lesson plans cover a large variety of topics that are meaningful and
relevant to almost anyone - including some fun topics that a shy person would
definitely not suggest, left to his own initiative. This large variety of topics
and the emphasis on having fun allows you to find things in common with your
exchange partners. Indeed, many lasting friendships have been formed at the
language exchange workshops at the C.E.L.M. language school in Montreal. The
lesson plans will also challenge your vocabulary and other communication skills.</p><p>Finally,
the Cormier method fosters a fun and supportive environment where
you can feel relaxed, secure and eager to try out your second language skills -
there's no pressure and no evaluation. This is important for the following
reasons.&nbsp;
</p><ul>
	<li>The best way to learn a language is by speaking it</li>
	<li>Mistakes are a natural part of language acquisition</li>
	<li>A relaxed atmosphere is more conducive to learning</li>
	<li>It takes time to learn a language, so it's important to have fun, enjoy the process, and stay motivated.</li>
</ul>

<a href="#_top"><to the="" questions="" list<="" a=""></to></a><p><a href="#_top">

</a><a class="pageAnchor" name="_a5"></a>
 
</p><h4>5.	How will we practice?</h4>
Please see <a href="HowTo.asp"> How To</a> Do a Language Exchange for more detailed instructions.<p>

<a href="#_top"><to the="" questions="" list<="" a=""></to></a></p><p><a href="#_top">



</a><a class="pageAnchor" name="_a6"></a>
 
</p><h4>6.	Why can't I speak in my second language all the time?</h4>
It's important to respect the half-and-half idea, where everyone speaks in the same language for a period of time and then switch to the other language for an equal period of time. This is because:
<ul>
	<li>You need to hear native speakers talk so you can understand their accent and slang, and also to help you speak more naturally - more like them. This is accomplished by improving your pronunciation, learning expressions and learning about the "conversation culture". The same is true for your exchange partners.</li>
	<li>This mini-immersion helps you think in your second language.</li>
</ul>



Speaking in your own language with your exchange partners has other advantages:
<ul>
	<li>It helps you relax.  It's easier to accept (understand that it's OK) to make mistakes while speaking in your second language after you've been communicating with your exchange partners in your own language despite their mistakes.</li> 
	<li>The time spent speaking in your own language also alleviates the pressure of speaking for long periods of time in your second language.</li>
</ul>



Finally, even in your first language, you will be learning the following:
<ul>
	<li>Broader communication skills, by participating in all the various activities in the lesson plans.</li>
	<li>Through your partner's questions, you'll learn vocabulary (as you'll find out, a native speaker is often better than a dictionary!) and also how ideas are expressed differently.</li>
	<li>By noticing the mistakes your partners make in your language, you'll learn about their language - the one you are practicing.</li>
	<li>You will learn about the culture(s) and "conversation culture" of the people of your second language.</li>
</ul>

<a href="#_top"><to the="" questions="" list<="" a=""></to></a><p><a href="#_top">



</a><a class="pageAnchor" name="_a7"></a>
 
</p><h4>7.	Voice chat, text chat or pen pal?</h4>
This depends on your proficiency level in your second language. Please see <a href="HowTo.asp"> How To</a> Do a Language Exchange.<p>

<a href="#_top"><to the="" questions="" list<="" a=""></to></a></p><p><a href="#_top">



</a><a class="pageAnchor" name="_a8"></a>
 
</p><h4>8.	You have a lot of silly activities in your lesson plans that don't seem to be very challenging. Do we have to do them?</h4>
YES!!!!!!! 
These activities are very important for a successful language exchange. Being relaxed and feeling comfortable is a requisite for learning. So, actively doing fun exercises is important to reduce feelings of vulnerability and insecurity that many people have when practicing their second language. That's why each lesson plan starts with a fun and easy warm-up that allows everyone to relax and get into a playful mode where mistakes are not so important, and where you are interested in communicating. Have fun, relax, and Learn!<p>

<a href="#_top"><to the="" questions="" list<="" a=""></to></a></p><p><a href="#_top">

<!-- p align="right"><i>April 5, 2001</i>&nbsp;&nbsp;</p -->

</a></p></td>
</tr>
</tbody></table>
<br>	

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/faq.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2Ffaq.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f18a31899b60ef" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df34f9d183d16572%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2540fa20ce301c%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2Ffaq.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
             
