<!-- div align=center><font style="font-family: sans-serif; font-size: 16pt; font-weight: bold;">Your Language Exchange Online Community</font><br></div -->
 <h1 style="font-family: arial; font-size: 16pt; font-weight: bold;">Your Online Language Exchange Community!</h1>
 <table border="0" cellpadding="0" cellspacing="0" width=100%> 
  <tr>
    <td valign="top" align="left"> 
      <p align=center><a href="DBShowCase.asp" style="COLOR: #cb6a1f;">Over 3 million members from over 175 countries, practicing 164 languages!</a></p>
      <p align=left>
        Become fluent in <a href="DBShowCase.asp">any language</a> while making friends with native speakers. <br>
		<br>		
		We are the only website with a proven <a href="HowTo.asp">language exchange method</a> and <a href="" onclick="CFOpen(0); return false;">lesson plans</a>, so you can get fun, effective practice! Created by a <a href="Helene.asp">qualified language teacher</a> specializing in language exchange learning, this will:
		<UL>
		<li>Show you <a href="HowTo.asp">how to do a language exchange</a> effectively - even without a teacher and no matter what your level or personality.
		<li>Foster a safe and supportive learning environment during your practice.
		<li>Promote fun and friendship with your language partners, so you stay motivated.
		</UL>		
		Our powerful <a href="Search.asp">member's search tool</a> and community of millions of language learners let you find compatible partners, no matter what your interests, what language you are learning or where you live.<br>
		<br>
		We host your online practice with 
        <a href="" onclick="CFOpen(0); return false;">lesson plans</a>, <a href="" onClick='WhosOnPopUp(); return false;'>text chat rooms</a> and <a href="defaultMore.asp">more</a>.
		</td>
	</tr>
	
	<tr>
		<td>&nbsp;
		</td>
	</tr>
	
	<tr>
		<td>

	  <!-- Begin Quadrant Layout -->
      <table class="LayoutQuad" border="0" cellpadding="1" cellspacing="1" width="100%">
	  <tbody>
      <tr>
        <td class="LayoutQuadUL" align="left" width="41%" valign=top>
 


<table class="TblCard floating" border="0" cellpadding=1 cellspacing=1 width="100%">
            <tr class="table-heading">
              <td>New Users</td>
            </tr>
            <tr>
              <td ><a href="faq.asp#_a1">What</a> is a language exchange?</td>
            </tr>
            <tr>
              <td ><a href="faq.asp#_a2">Why</a>  do a language exchange?</td>
            </tr>
            <tr>
              <td ><a href="HowTo.asp">How</a> to do a language exchange?</td>
            </tr>
            <tr>
              <td ><a href="defaultMore.asp">Learn more</a> about this site</td>
            </tr>
            <tr>
              <td ><a href="SignUp.asp?showmenu=1" class="go-btn btn-med" style="padding: 0px 45px;">Sign up for free!</a>
              </td>
            </tr>
          </table>  
          <small>&nbsp;</small><br>
        </TD>

        <td width="3px"><!-- leave small space down the middle -->
        </td>

        <td align="left" valign="top">

          <table class="TblCard floating" border="0" cellpadding=1 cellspacing=1 width="100%">
            <tr class="table-heading" >
              <td>Features</td>
            </tr>
			<tr>
				<td  >
				  <a href="Penpals.asp">Penpals</a> -
				  International penpals for exchange of language and culture!
				</td>
			</tr>
			<tr>
				<td  >
				  <a href="Teachers">Language Teachers</a> -
				  Find a language teacher to suit your unique learning needs.
				</td>
			</tr>
			
			<tr>
				<td  >
				<a href="Member.asp">Edit Your Profile</a> Members: view/edit your account.<br>
				</td>
			</tr>
			<tr>
				<td  >
				<a href="Inbox.asp">Email Inbox</a> View your emails and reply.<br>
				</td>
            </tr>
          </table>  

        </TD>
      </tr>
	  
      <tr>
        <td colspan="3" >&nbsp;
        </TD>
      </tr>
	  
      <tr>
        <td align="left" valign=top>
			
<script>
	var sSrchList = '';
</script>
<script src="SearchLib_min.js"></script>


  <table class="TblInputForm TblUserForm" border="0" cellpadding="1" cellspacing="0">
   <tr class="table-heading"><td>Your Language Exchange Partner</td></tr>
   <tr>
     <td>  
    <form method="get" action="Search.asp" id=form1 name=form1>
       <div align="left">  
       <!-- Find someone who has: -->
       </div>
         <!-- small><strong>Note:</strong> You don't have to fill all fields.</small -->
     
       <table class="TblInputForm" width="100%" border="0" cellpadding="1" cellspacing="0" align="center">
         <tr>
           <td nowrap>Native language:</td>
           <td><script>$(document).ready(function() {    $(".select-suggestselX3").select2();});</script><select name="selX3" id="selX3" size="1"   class="select-suggestselX3"><option value="null" SELECTED>- All -<option value="120" >- Other -<option value="77" >Afrikaans<option value="106" >Akan<option value="60" >Albanian<option value="94" >Amharic (Ethiopian)<option value="18" >Arabic, Egyptian<option value="3" >Arabic, Middle Eastern<option value="2" >Arabic, Moroccan<option value="4" >Arabic, other<option value="168" >Arabic, Palestinian<option value="82" >Aramaic<option value="64" >Armenian<option value="112" >Assamese<option value="78" >Assyrian<option value="72" >Azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >Basque<option value="144" >Bavarian (Austro-Bavarian)<option value="100" >Belarusian<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >Bengali<option value="9" >Berber (Tamazight)<option value="59" >Bosnian<option value="116" >Breton<option value="10" >Bulgarian<option value="96" >Burmese<option value="65" >Cambodian (Khmer)<option value="55" >Catalan<option value="136" >Cebuano (Bisaya)<option value="95" >Chichewa (Nyanja)<option value="11" >Chinese, Cantonese<option value="12" >Chinese, Mandarin<option value="13" >Chinese, other<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="147" >Chuvash (Bulgar)<option value="14" >Creole<option value="83" >Croatian<option value="15" >Czech<option value="16" >Danish<option value="17" >Dutch<option value="1" >English<option value="19" >Esperanto<option value="63" >Estonian<option value="146" >Faroese<option value="88" >Fijian<option value="20" >Filipino (Tagalog)<option value="21" >Finnish<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >French<option value="68" >Gaelic (Irish)<option value="170" >Gaelic (Manx)<option value="69" >Gaelic (Scottish)<option value="79" >Galician<option value="71" >Georgian<option value="23" >German<option value="24" >Greek<option value="74" >Gujarati<option value="138" >Hausa<option value="73" >Hawaiian<option value="25" >Hebrew<option value="26" >Hindi<option value="117" >Hmong<option value="27" >Hungarian<option value="56" >Icelandic<option value="109" >Ido<option value="157" >Igbo (Ibo)<option value="5" >Indonesian (Bahasa)<option value="108" >Interlingua<option value="29" >Italian<option value="30" >Japanese<option value="159" >Kachchi<option value="67" >Kannada<option value="91" >Kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >Konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="31" >Korean<option value="53" >Kurdish<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >Ladino<option value="84" >Lao<option value="57" >Latin<option value="62" >Latvian<option value="114" >Ligurian<option value="142" >Lingala (Ngala)<option value="61" >Lithuanian<option value="66" >Lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >Macedonian<option value="115" >Malagasy<option value="6" >Malay (Bahasa Malaysia)<option value="93" >Malayalam<option value="119" >Maldivian (Dhivehi)<option value="101" >Maltese<option value="160" >Mandinka<option value="122" >Maori (New Zealand Maori)<option value="85" >Marathi<option value="105" >Mongolian<option value="158" >Montenegrin<option value="104" >Native American (Ojibway, Cree...)<option value="81" >Nepali<option value="102" >Newari<option value="32" >Norwegian<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >Oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="161" >Papiamento (or Papiamentu)<option value="124" >Paraguayan Guarani<option value="33" >Persian (Farsi, Dari)<option value="34" >Polish<option value="35" >Portuguese<option value="128" >Pulaar<option value="36" >Punjabi<option value="166" >Purépecha (Tarascan)<option value="58" >Pushto (Pashto)<option value="80" >Quechua<option value="169" >Rapa Nui<option value="37" >Romanian<option value="89" >Romansch<option value="150" >Romany (Gypsy, Danubian)<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >Russian<option value="139" >Rwanda (Kinyarwanda)<option value="121" >Saami (sami)<option value="132" >Samoan<option value="111" >Sanskrit<option value="39" >Serbian<option value="98" >Shona<option value="131" >Sicilian<option value="40" >Sign Language<option value="76" >Sindhi<option value="86" >Sinhalese<option value="41" >Slovak<option value="54" >Slovenian<option value="99" >Somali<option value="42" >Spanish<option value="43" >Swahili<option value="44" >Swedish<option value="163" >Swiss German<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >Tamil<option value="126" >Tatar (Tartar)<option value="75" >Telugu<option value="103" >Tetum<option value="46" >Thai<option value="47" >Tibetan<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >Tongan<option value="92" >Tswana<option value="134" >Tumbuka<option value="48" >Turkish<option value="49" >Ukrainian<option value="50" >Urdu<option value="127" >Uyghur (Wighor)<option value="97" >Uzbek<option value="113" >Venetian<option value="51" >Vietnamese<option value="70" >Welsh<option value="129" >Wolof<option value="118" >Xhosa<option value="52" >Yiddish<option value="130" >Yoruba<option value="125" >Zulu</select></td>
         </tr>

           <tr>
             <td nowrap>Practicing language:</td>
             <td><script>$(document).ready(function() {    $(".select-suggestselX6").select2();});</script><select name="selX6" id="selX6" size="1"   class="select-suggestselX6"><option value="null" SELECTED>- All -<option value="120" >- Other -<option value="77" >Afrikaans<option value="106" >Akan<option value="60" >Albanian<option value="94" >Amharic (Ethiopian)<option value="18" >Arabic, Egyptian<option value="3" >Arabic, Middle Eastern<option value="2" >Arabic, Moroccan<option value="4" >Arabic, other<option value="168" >Arabic, Palestinian<option value="82" >Aramaic<option value="64" >Armenian<option value="112" >Assamese<option value="78" >Assyrian<option value="72" >Azerbaijani<option value="165" >Bambara (Bamana)<option value="145" >Baoulé (Baule, Bawule)<option value="7" >Basque<option value="144" >Bavarian (Austro-Bavarian)<option value="100" >Belarusian<option value="153" >Bemba (Chiwemba, Wemba)<option value="8" >Bengali<option value="9" >Berber (Tamazight)<option value="59" >Bosnian<option value="116" >Breton<option value="10" >Bulgarian<option value="96" >Burmese<option value="65" >Cambodian (Khmer)<option value="55" >Catalan<option value="136" >Cebuano (Bisaya)<option value="95" >Chichewa (Nyanja)<option value="11" >Chinese, Cantonese<option value="12" >Chinese, Mandarin<option value="13" >Chinese, other<option value="167" >Chinese, Taiwanese (Hokkien, Minnanhua)<option value="147" >Chuvash (Bulgar)<option value="14" >Creole<option value="83" >Croatian<option value="15" >Czech<option value="16" >Danish<option value="17" >Dutch<option value="1" >English<option value="19" >Esperanto<option value="63" >Estonian<option value="146" >Faroese<option value="88" >Fijian<option value="20" >Filipino (Tagalog)<option value="21" >Finnish<option value="155" >Fon (Dahomeen, Djedji, Fongbe)<option value="22" >French<option value="68" >Gaelic (Irish)<option value="170" >Gaelic (Manx)<option value="69" >Gaelic (Scottish)<option value="79" >Galician<option value="71" >Georgian<option value="23" >German<option value="24" >Greek<option value="74" >Gujarati<option value="138" >Hausa<option value="73" >Hawaiian<option value="25" >Hebrew<option value="26" >Hindi<option value="117" >Hmong<option value="27" >Hungarian<option value="56" >Icelandic<option value="109" >Ido<option value="157" >Igbo (Ibo)<option value="5" >Indonesian (Bahasa)<option value="108" >Interlingua<option value="29" >Italian<option value="30" >Japanese<option value="159" >Kachchi<option value="67" >Kannada<option value="91" >Kazakh<option value="141" >Kituba (Kikoongo, Munukutuba)<option value="123" >Konkani<option value="143" >Konkani (Kunabi, Cugani, Bankoti)<option value="31" >Korean<option value="53" >Kurdish<option value="135" >Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)<option value="133" >Ladino<option value="84" >Lao<option value="57" >Latin<option value="62" >Latvian<option value="114" >Ligurian<option value="142" >Lingala (Ngala)<option value="61" >Lithuanian<option value="66" >Lombard<option value="148" >Luxembourgeois (Luxemburgian)<option value="87" >Macedonian<option value="115" >Malagasy<option value="6" >Malay (Bahasa Malaysia)<option value="93" >Malayalam<option value="119" >Maldivian (Dhivehi)<option value="101" >Maltese<option value="160" >Mandinka<option value="122" >Maori (New Zealand Maori)<option value="85" >Marathi<option value="105" >Mongolian<option value="158" >Montenegrin<option value="104" >Native American (Ojibway, Cree...)<option value="81" >Nepali<option value="102" >Newari<option value="32" >Norwegian<option value="151" >Nyanja (Chewa, Chinyanja)<option value="154" >Occitan (Occitani)<option value="90" >Oriya<option value="152" >Oromo (Oromoo , Oromiffa)<option value="161" >Papiamento (or Papiamentu)<option value="124" >Paraguayan Guarani<option value="33" >Persian (Farsi, Dari)<option value="34" >Polish<option value="35" >Portuguese<option value="128" >Pulaar<option value="36" >Punjabi<option value="166" >Purépecha (Tarascan)<option value="58" >Pushto (Pashto)<option value="80" >Quechua<option value="169" >Rapa Nui<option value="37" >Romanian<option value="89" >Romansch<option value="150" >Romany (Gypsy, Danubian)<option value="140" >Rundi (Kirundi, Urundi)<option value="38" >Russian<option value="139" >Rwanda (Kinyarwanda)<option value="121" >Saami (sami)<option value="132" >Samoan<option value="111" >Sanskrit<option value="39" >Serbian<option value="98" >Shona<option value="131" >Sicilian<option value="40" >Sign Language<option value="76" >Sindhi<option value="86" >Sinhalese<option value="41" >Slovak<option value="54" >Slovenian<option value="99" >Somali<option value="42" >Spanish<option value="43" >Swahili<option value="44" >Swedish<option value="163" >Swiss German<option value="149" >Tajiki (Tajiki, Tadzhik)<option value="45" >Tamil<option value="126" >Tatar (Tartar)<option value="75" >Telugu<option value="103" >Tetum<option value="46" >Thai<option value="47" >Tibetan<option value="137" >Tigrigna (Tigray, Tigrinya)<option value="162" >Tok Pisin<option value="107" >Tongan<option value="92" >Tswana<option value="134" >Tumbuka<option value="48" >Turkish<option value="49" >Ukrainian<option value="50" >Urdu<option value="127" >Uyghur (Wighor)<option value="97" >Uzbek<option value="113" >Venetian<option value="51" >Vietnamese<option value="70" >Welsh<option value="129" >Wolof<option value="118" >Xhosa<option value="52" >Yiddish<option value="130" >Yoruba<option value="125" >Zulu</select></td>
           </tr>

           <tr>
             <td nowrap>Country:</td>
             <td><script>$(document).ready(function() {    $(".select-suggestselCountry").select2();});</script><select name="selCountry" id="selCountry" size="1"   class="select-suggestselCountry"><option value="null" SELECTED>- All -<option value="98" >- Other -<option value="1" >Afghanistan<option value="171" >Albania<option value="108" >Algeria<option value="189" >Andorra<option value="197" >Angola<option value="2" >Argentina<option value="3" >Armenia<option value="4" >Australia<option value="5" >Austria<option value="118" >Azerbaijan<option value="6" >Bahamas<option value="7" >Bahrain<option value="8" >Bangladesh<option value="107" >Barbados<option value="9" >Belarus<option value="10" >Belgium<option value="11" >Belize<option value="168" >Benin<option value="157" >Bermuda<option value="173" >Bhutan<option value="12" >Bolivia<option value="13" >Bosnia and Herzegovina<option value="172" >Botswana<option value="14" >Brazil<option value="15" >Bulgaria<option value="162" >Burkina Faso<option value="135" >Burma (Myanmar)<option value="194" >Burundi<option value="16" >Cambodia<option value="17" >Cameroon<option value="18" >Canada<option value="19" >Cayman Islands<option value="114" >Central African Republic<option value="166" >Chad<option value="20" >Chile<option value="21" >China<option value="22" >Colombia<option value="174" >Comoros<option value="111" >Congo<option value="23" >Costa Rica<option value="24" >Croatia<option value="25" >Cuba<option value="175" >Curacao<option value="169" >Cyprus<option value="26" >Czech Republic<option value="27" >Denmark<option value="28" >Dominican Republic<option value="29" >Ecuador<option value="30" >Egypt<option value="31" >El Salvador<option value="129" >Estonia<option value="133" >Ethiopia<option value="160" >Faroe Islands (Faeroe Islands)<option value="176" >Fiji<option value="32" >Finland<option value="33" >France<option value="177" >French Polynesia<option value="198" >Gabon<option value="188" >Gambia<option value="117" >Georgia<option value="34" >Germany<option value="35" >Ghana<option value="37" >Greece<option value="161" >Greenland<option value="156" >Guam<option value="38" >Guatemala<option value="202" >Guinea<option value="178" >Guyana<option value="39" >Haiti<option value="40" >Honduras<option value="41" >Hong Kong<option value="42" >Hungary<option value="43" >Iceland<option value="44" >India<option value="45" >Indonesia<option value="46" >Iran<option value="47" >Iraq<option value="48" >Ireland (Republic of)<option value="49" >Israel<option value="50" >Italy<option value="167" >Ivory Coast<option value="51" >Jamaica<option value="52" >Japan<option value="53" >Jordan<option value="139" >Kazakhstan<option value="54" >Kenya<option value="55" >Kuwait<option value="158" >Kyrgyzstan<option value="115" >Laos<option value="127" >Latvia<option value="56" >Lebanon<option value="57" >Liberia<option value="150" >Libya<option value="190" >Liechtenstein<option value="128" >Lithuania<option value="58" >Luxembourg<option value="106" >Macedonia<option value="148" >Madagascar<option value="134" >Malawi<option value="59" >Malaysia<option value="141" >Maldives<option value="193" >Mali<option value="116" >Malta<option value="201" >Martinique<option value="179" >Mauritania<option value="102" >Mauritius<option value="60" >Mexico<option value="136" >Moldova<option value="61" >Monaco<option value="151" >Mongolia<option value="203" >Montenegro<option value="62" >Morocco<option value="146" >Mozambique<option value="180" >Namibia<option value="155" >Nepal<option value="63" >Netherlands<option value="159" >New Caledonia<option value="64" >New Zealand<option value="65" >Nicaragua<option value="112" >Niger<option value="132" >Nigeria<option value="66" >North Korea<option value="67" >Norway<option value="68" >Oman<option value="69" >Pakistan<option value="196" >Palestine<option value="70" >Panama<option value="181" >Papua New Guinea<option value="71" >Paraguay<option value="72" >Peru<option value="73" >Philippines<option value="74" >Poland<option value="75" >Portugal<option value="76" >Puerto Rico<option value="77" >Qatar<option value="78" >Romania<option value="79" >Russia<option value="182" >Rwanda<option value="80" >Saudi Arabia<option value="154" >Senegal<option value="170" >Serbia<option value="165" >Seychelles<option value="82" >Singapore<option value="103" >Slovakia<option value="104" >Slovenia<option value="83" >Somalia<option value="84" >South Africa<option value="85" >South Korea<option value="86" >Spain<option value="145" >Sri Lanka<option value="110" >Sudan<option value="164" >Suriname<option value="87" >Sweden<option value="88" >Switzerland<option value="89" >Syria<option value="90" >Taiwan<option value="163" >Tajikistan<option value="113" >Tanzania<option value="91" >Thailand<option value="183" >Togo<option value="147" >Trinidad and Tobago<option value="109" >Tunisia<option value="92" >Turkey<option value="199" >Turkmenistan<option value="184" >Uganda<option value="140" >Ukraine<option value="93" >United Arab Emirates<option value="195" >United Kingdom<option value="94" >United States<option value="95" >Uruguay<option value="137" >Uzbekistan<option value="96" >Venezuela<option value="97" >Vietnam<option value="185" >Yemen<option value="105" >Yugoslavia<option value="186" >Zambia<option value="138" >Zimbabwe</select></td>
           </tr>

           <tr>
             <td nowrap>Age</td>
             <td>
               From: <input type="number" id="txtAgeMin" name="txtAgeMin" value="" style="width: 65px" min="0" max="130" step="!" placeholder="Optional">
               To: <input type="number" id="txtAgeMax" name="txtAgeMax" value="" style="width: 65px"  min="0" max="130" step="1" placeholder="Optional">
             </td>
           </tr>

           <!-- tr>
             <td nowrap>Age:</td>
             <td><script>$(document).ready(function() {    $(".select-suggestselAge").select2();});</script><select name="selAge" id="selAge" size="1"   class="select-suggestselAge"><option value="" SELECTED>- All -<option value="1" >-17<option value="2" >18-26<option value="3" >27-34<option value="4" >35-42<option value="5" >43-50<option value="6" >51+</select></td>
           </tr -->

           <tr>
             <td align=left></td>
             <td align=left>
                <input type="submit" value="Search" id=BtnSubSrch name=BtnSubSrch>
                <a href="Search.asp"><small>Advanced search</small></a>
             </TD>
           </tr>

       </table>
    </form>
     </td>
   </tr>       
  </table>
  

			<br>
			<br>
        </TD>
        
        <td> <!-- leave small space down the middle -->
        </td>
        
        <td align="left" valign="top">
<iframe width="350" height="200" src="https://www.youtube.com/embed/lFm4WIMc4QY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
        </td>
      </tr>
      <tr>
<!-- -->
        <td align="left" valign=top>
<TABLE WIDTH=100% BORDER=0 CELLSPACING=0 CELLPADDING=0>
    <TR>
        <TD width=185 valign=top>
<table ID="yahoo" bgcolor="Sienna" BORDER="0" CELLSPACING="0" CELLPADDING="1" width="180" height="100%">
    <tr>
        <td>
<table WIDTH="100%" bgcolor="ivory" BORDER="0" CELLSPACING="0" CELLPADDING="6">
    <tr>
        <td>
<table BORDER="0" CELLSPACING="1" CELLPADDING="0">
    <tr bgcolor="ivory">
      <td align="center">
    <em>MyLanguageExchange.com is doing &quot;extraordinary things online</em>.&quot;<br>
    <br>
    <a href="awards.asp"><img src="images/YilLogo2.gif" border="0" alt="Yahoo! Internet Life Magazine Logo" WIDTH="163" HEIGHT="44"></a><br>
    <!--small style="FONT-SIZE: 8pt;">- January 2001</small-->
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
        </TD>
        <TD valign=top align=left>
<div style="display: flex; flex-direction: column; justify-content: space-between; height:136px; margin-left:3px">
<table id="pcworld" bgcolor="Sienna" BORDER="0" CELLSPACING="0" CELLPADDING="1" width=100%>
    <tr>
        <td>
<table WIDTH="100%" bgcolor="ivory" BORDER="0" CELLSPACING="0" CELLPADDING="6">
    <tr>
        <td>
<table BORDER="0" CELLSPACING="1" CELLPADDING="0">
    <tr bgcolor="ivory">
      <td align="center">
    <b><em>"Top 101" websites</em></b><br>
    <div align=left>
    - <a href="awards.asp" style="FONT-SIZE: 8pt;">PC WORLD magazine</a><!--br>
    &nbsp;<small style="FONT-SIZE: 8pt;">August 2003</small-->
    </div>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
<table id="cfcf" bgcolor="Sienna" BORDER="0" CELLSPACING="0" CELLPADDING="1" >
    <tr>
        <td>
<table WIDTH="100%" bgcolor="ivory" BORDER="0" CELLSPACING="0" CELLPADDING="6">
    <tr>
        <td>
<table BORDER="0" CELLSPACING="1" CELLPADDING="0">
    <tr bgcolor="ivory">
      <td align="center">
    My Language Exchange is<br> <b><em>"taking off, worldwide."</em></b><br>
    <div align=left>
    - <a href="video.asp" style="FONT-SIZE: 8pt;">CFCF, CTV News</a><!--,
    &nbsp;<small style="FONT-SIZE: 8pt;">2004</small-->
    </div>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
</div>
        </TD>
    </TR>
</TABLE>
<br>
<table id="juan" bgcolor="Sienna" BORDER="0" CELLSPACING="0" CELLPADDING="1" >
    <tr>
        <td>
<table WIDTH="100%" bgcolor="ivory" BORDER="0" CELLSPACING="0" CELLPADDING="6">
    <tr>
        <td>
<table BORDER="0" CELLSPACING="1" CELLPADDING="0">
    <tr bgcolor="ivory">
      <td align="left">
    <em>&quot;<font color=Black>Our level of knowledge has increased a lot. You made my dream come true.</font>&quot;</em><br>
    <br>
    <small style="FONT-SIZE: 8pt;">- Juan José Guerrero, Seville (Spain)<!--br>February 25, 2002--></small> <br>
    <a href="awards.asp#Testimonials"><small>Read entire testimonial</small></a><br>
    <a href="awards.asp#Testimonials"><small>Read all testimonials</small></a>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>

<br>

	<small>Recommended by</small><br>
	<div style="width=100%; border:1px sienna solid;">
	<img src="images/FFI_banner3.jpg" border=o width=300 alt="Friendship Force International">
	<br>
	<small>A nobel peace prize nominee co-founded by ex-president Jimmy Carter.</small>
	</div>


        </TD>
        
        <td> <!-- leave small space down the middle -->
        </td>
        
        <td align="left" valign="top">
<a href="OCOL.asp"><img src="images/ocol-logo.gif" width="270" border=1 alt="Office of the Commissioner of Official Languages"></a><br>
<small>MLE and partner FFI presents to Canada's Office of the Commissioner of Official Languages
in June 2013. Read about it <a href="OCOL.asp"><small>here</small></a></small>.<br>
<br>
 
<table bgcolor="Bisque" BORDER="0" CELLSPACING="0" CELLPADDING="1" >
    <tr>
        <td>
<table WIDTH="100%" bgcolor="FloralWhite" BORDER="0" CELLSPACING="0" CELLPADDING="6">
    <tr>
        <td>
<table BORDER="0" CELLSPACING="1" CELLPADDING="0">
    <tr>
      <td align="left">
    <em>One of &quot;<b>the best ways</b>&quot; to learn a foreign language</em>.
        </td>
    </tr>
    <tr>
      <td align="left">
      <br>
    <div><font style="font-family: serif; font-size: 14pt; font-weight: bold; color: SandyBrown;">- The Wall Street Journal</font></div>
    <em><small style="FONT-SIZE: 8pt; color: Black;"><!--November 18, 2002--></small></em>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>

<img src="images/spacer.gif" height=10 width=1>
<table bgcolor="Sienna" BORDER="0" CELLSPACING="0" CELLPADDING="1" >
    <tr>
        <td>
<table WIDTH="100%" bgcolor="white" BORDER="0" CELLSPACING="0" CELLPADDING="6">
    <tr>
        <td>
<table BORDER="0" CELLSPACING="1" CELLPADDING="0">
    <tr bgcolor="white">
      <td align="center">
    <em>"An e-mail or two is all it takes to find a study partner."</em><br>
    <br>
    <div align=left>
    <a href="awards.asp"><img src="images/nytlogo152x23.gif" border=0></a><br>
    &nbsp;<small style="FONT-SIZE: 8pt;"><em>- July 28, 2010</em></small>
    </div>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>
        </td>
    </tr>
</table>



        </td>
      </tr>
	  </tbody>
      </table>
	  <!-- End Quadrant Layout -->      

	</td>
  </tr>
  <tr>
    <td colspan=2>
    
<br>
<br>
<a href="SignUp.asp?showmenu=1" class="go-btn">Sign up for free!</a>
<br>
<br>
<a name="Country"></a><br>
<H2>Browse Language Exchange Partners by Location</H2>
<table class="TblListMenu" border="0" cellpadding=0 cellspacing=0 width="80%" >
  <tr class="table-heading">
    <td valign="middle" >
      <span title="Lnguage Exchange">Language Exchange Partners - Browse by Country</span>
    </td>
  </tr>
  <tr>
    <td >

    <table class="TblListMenuCol" width=50% align=left cellpadding=1 cellspacing=1>
    
      <TR>
        <TD>
          
          <a href="Country/Other.asp" title="language exchange in - Other -"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in - Other -" WIDTH="12" HEIGHT="14"> - Other -</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Afghanistan.asp" title="language exchange in Afghanistan, Afghanistani, Afghan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Afghanistan, Afghanistani, Afghan" WIDTH="12" HEIGHT="14"> Afghanistan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Albania.asp" title="language exchange in Albania"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Albania" WIDTH="12" HEIGHT="14"> Albania</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Algeria.asp" title="language exchange in Algeria"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Algeria" WIDTH="12" HEIGHT="14"> Algeria</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Andra.asp" title="language exchange in Andorra"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Andorra" WIDTH="12" HEIGHT="14"> Andorra</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Angola.asp" title="language exchange in Angola"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Angola" WIDTH="12" HEIGHT="14"> Angola</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Argentina.asp" title="language exchange in Argentina, Argentine"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Argentina, Argentine" WIDTH="12" HEIGHT="14"> Argentina</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Armenia.asp" title="language exchange in Armenia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Armenia" WIDTH="12" HEIGHT="14"> Armenia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Australia.asp" title="language exchange in Australia, Aussie"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Australia, Aussie" WIDTH="12" HEIGHT="14"> Australia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Austria.asp" title="language exchange in Austria"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Austria" WIDTH="12" HEIGHT="14"> Austria</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Azerbaijan.asp" title="language exchange in Azerbaijan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Azerbaijan" WIDTH="12" HEIGHT="14"> Azerbaijan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bahamas.asp" title="language exchange in Bahamas"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bahamas" WIDTH="12" HEIGHT="14"> Bahamas</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bahrain.asp" title="language exchange in Bahrain"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bahrain" WIDTH="12" HEIGHT="14"> Bahrain</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bangladesh.asp" title="language exchange in Bangladesh, East Pakistani"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bangladesh, East Pakistani" WIDTH="12" HEIGHT="14"> Bangladesh</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Barbados.asp" title="language exchange in Barbados"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Barbados" WIDTH="12" HEIGHT="14"> Barbados</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Belarus.asp" title="language exchange in Belarus"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Belarus" WIDTH="12" HEIGHT="14"> Belarus</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Belgium.asp" title="language exchange in Belgium"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Belgium" WIDTH="12" HEIGHT="14"> Belgium</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Belize.asp" title="language exchange in Belize"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Belize" WIDTH="12" HEIGHT="14"> Belize</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Benin.asp" title="language exchange in Benin"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Benin" WIDTH="12" HEIGHT="14"> Benin</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bermuda.asp" title="language exchange in Bermuda"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bermuda" WIDTH="12" HEIGHT="14"> Bermuda</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bhutan.asp" title="language exchange in Bhutan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bhutan" WIDTH="12" HEIGHT="14"> Bhutan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bolivia.asp" title="language exchange in Bolivia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bolivia" WIDTH="12" HEIGHT="14"> Bolivia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bosnia.asp" title="language exchange in Bosnia and Herzegovina"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bosnia and Herzegovina" WIDTH="12" HEIGHT="14"> Bosnia and Herzegovina</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Botswana.asp" title="language exchange in Botswana"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Botswana" WIDTH="12" HEIGHT="14"> Botswana</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Brazil.asp" title="language exchange in Brazil"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Brazil" WIDTH="12" HEIGHT="14"> Brazil</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Bulgaria.asp" title="language exchange in Bulgaria"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Bulgaria" WIDTH="12" HEIGHT="14"> Bulgaria</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/BurkinaFaso.asp" title="language exchange in Burkina Faso"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Burkina Faso" WIDTH="12" HEIGHT="14"> Burkina Faso</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Burma_Myanmar.asp" title="language exchange in Burma (Myanmar)"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Burma (Myanmar)" WIDTH="12" HEIGHT="14"> Burma (Myanmar)</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Burundi.asp" title="language exchange in Burundi"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Burundi" WIDTH="12" HEIGHT="14"> Burundi</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Cambodia.asp" title="language exchange in Cambodia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Cambodia" WIDTH="12" HEIGHT="14"> Cambodia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Cameroon.asp" title="language exchange in Cameroon"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Cameroon" WIDTH="12" HEIGHT="14"> Cameroon</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Canada.asp" title="language exchange in Canada"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Canada" WIDTH="12" HEIGHT="14"> Canada</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Cayman_Islands.asp" title="language exchange in Cayman Islands"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Cayman Islands" WIDTH="12" HEIGHT="14"> Cayman Islands</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Central_African_Republic.asp" title="language exchange in Central African Republic"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Central African Republic" WIDTH="12" HEIGHT="14"> Central African Republic</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Chad.asp" title="language exchange in Chad"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Chad" WIDTH="12" HEIGHT="14"> Chad</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Chile.asp" title="language exchange in Chile"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Chile" WIDTH="12" HEIGHT="14"> Chile</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/China.asp" title="language exchange in China"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in China" WIDTH="12" HEIGHT="14"> China</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Colombia.asp" title="language exchange in Colombia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Colombia" WIDTH="12" HEIGHT="14"> Colombia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Comoros.asp" title="language exchange in Comoros"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Comoros" WIDTH="12" HEIGHT="14"> Comoros</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Congo.asp" title="language exchange in Congo"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Congo" WIDTH="12" HEIGHT="14"> Congo</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Costa_Rica.asp" title="language exchange in Costa Rica"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Costa Rica" WIDTH="12" HEIGHT="14"> Costa Rica</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Croatia.asp" title="language exchange in Croatia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Croatia" WIDTH="12" HEIGHT="14"> Croatia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Cuba.asp" title="language exchange in Cuba"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Cuba" WIDTH="12" HEIGHT="14"> Cuba</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Curacao.asp" title="language exchange in Curacao"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Curacao" WIDTH="12" HEIGHT="14"> Curacao</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Cyprus.asp" title="language exchange in Cyprus"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Cyprus" WIDTH="12" HEIGHT="14"> Cyprus</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Czech_Republic.asp" title="language exchange in Czech Republic"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Czech Republic" WIDTH="12" HEIGHT="14"> Czech Republic</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Denmark.asp" title="language exchange in Denmark, Dane"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Denmark, Dane" WIDTH="12" HEIGHT="14"> Denmark</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Dominican_Republic.asp" title="language exchange in Dominican Republic"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Dominican Republic" WIDTH="12" HEIGHT="14"> Dominican Republic</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Ecuador.asp" title="language exchange in Ecuador"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Ecuador" WIDTH="12" HEIGHT="14"> Ecuador</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Egypt.asp" title="language exchange in Egypt"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Egypt" WIDTH="12" HEIGHT="14"> Egypt</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/El_Salvador.asp" title="language exchange in El Salvador"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in El Salvador" WIDTH="12" HEIGHT="14"> El Salvador</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Estonia.asp" title="language exchange in Estonia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Estonia" WIDTH="12" HEIGHT="14"> Estonia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Ethiopia.asp" title="language exchange in Ethiopia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Ethiopia" WIDTH="12" HEIGHT="14"> Ethiopia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/FaroeIslands.asp" title="language exchange in Faroe Islands (Faeroe Islands)"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Faroe Islands (Faeroe Islands)" WIDTH="12" HEIGHT="14"> Faroe Islands (Faeroe Islands)</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Fiji.asp" title="language exchange in Fiji"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Fiji" WIDTH="12" HEIGHT="14"> Fiji</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Finland.asp" title="language exchange in Finland"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Finland" WIDTH="12" HEIGHT="14"> Finland</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/France.asp" title="language exchange in France"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in France" WIDTH="12" HEIGHT="14"> France</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/FrenchPolynesia.asp" title="language exchange in French Polynesia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in French Polynesia" WIDTH="12" HEIGHT="14"> French Polynesia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Gabon.asp" title="language exchange in Gabon"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Gabon" WIDTH="12" HEIGHT="14"> Gabon</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Gambia.asp" title="language exchange in Gambia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Gambia" WIDTH="12" HEIGHT="14"> Gambia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Georgia.asp" title="language exchange in Georgia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Georgia" WIDTH="12" HEIGHT="14"> Georgia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Germany.asp" title="language exchange in Germany"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Germany" WIDTH="12" HEIGHT="14"> Germany</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Ghana.asp" title="language exchange in Ghana, Ghanese, Ghanian"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Ghana, Ghanese, Ghanian" WIDTH="12" HEIGHT="14"> Ghana</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Greece.asp" title="language exchange in Greece, Grecian, Hellenic"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Greece, Grecian, Hellenic" WIDTH="12" HEIGHT="14"> Greece</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Greenland.asp" title="language exchange in Greenland"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Greenland" WIDTH="12" HEIGHT="14"> Greenland</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Guam.asp" title="language exchange in Guam"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Guam" WIDTH="12" HEIGHT="14"> Guam</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Guatemala.asp" title="language exchange in Guatemala"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Guatemala" WIDTH="12" HEIGHT="14"> Guatemala</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/" title="language exchange in Guinea"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Guinea" WIDTH="12" HEIGHT="14"> Guinea</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Guyana.asp" title="language exchange in Guyana"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Guyana" WIDTH="12" HEIGHT="14"> Guyana</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Haiti.asp" title="language exchange in Haiti, Haytian"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Haiti, Haytian" WIDTH="12" HEIGHT="14"> Haiti</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Honduras.asp" title="language exchange in Honduras"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Honduras" WIDTH="12" HEIGHT="14"> Honduras</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Hong_Kong.asp" title="language exchange in Hong Kong"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Hong Kong" WIDTH="12" HEIGHT="14"> Hong Kong</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Hungary.asp" title="language exchange in Hungary"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Hungary" WIDTH="12" HEIGHT="14"> Hungary</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Iceland.asp" title="language exchange in Iceland"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Iceland" WIDTH="12" HEIGHT="14"> Iceland</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/India.asp" title="language exchange in India"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in India" WIDTH="12" HEIGHT="14"> India</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Indonesia.asp" title="language exchange in Indonesia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Indonesia" WIDTH="12" HEIGHT="14"> Indonesia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Iran.asp" title="language exchange in Iran"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Iran" WIDTH="12" HEIGHT="14"> Iran</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Iraq.asp" title="language exchange in Iraq, Iraki"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Iraq, Iraki" WIDTH="12" HEIGHT="14"> Iraq</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Ireland_Republic_of.asp" title="language exchange in Ireland (Republic of)"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Ireland (Republic of)" WIDTH="12" HEIGHT="14"> Ireland (Republic of)</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Israel.asp" title="language exchange in Israel"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Israel" WIDTH="12" HEIGHT="14"> Israel</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Italy.asp" title="language exchange in Italy"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Italy" WIDTH="12" HEIGHT="14"> Italy</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/IvoryCoast.asp" title="language exchange in Ivory Coast"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Ivory Coast" WIDTH="12" HEIGHT="14"> Ivory Coast</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Jamaica.asp" title="language exchange in Jamaica"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Jamaica" WIDTH="12" HEIGHT="14"> Jamaica</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Japan.asp" title="language exchange in Japan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Japan" WIDTH="12" HEIGHT="14"> Japan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Jordan.asp" title="language exchange in Jordan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Jordan" WIDTH="12" HEIGHT="14"> Jordan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Kazakhstan.asp" title="language exchange in Kazakhstan, Kazak, Kazakstan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Kazakhstan, Kazak, Kazakstan" WIDTH="12" HEIGHT="14"> Kazakhstan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Kenya.asp" title="language exchange in Kenya"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Kenya" WIDTH="12" HEIGHT="14"> Kenya</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Kuwait.asp" title="language exchange in Kuwait"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Kuwait" WIDTH="12" HEIGHT="14"> Kuwait</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Kyrgyzstan.asp" title="language exchange in Kyrgyzstan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Kyrgyzstan" WIDTH="12" HEIGHT="14"> Kyrgyzstan</a>
        </TD>
      </TR>
  
    </table>
    
    <table class="TblListMenuCol" width=50% align=left cellpadding=1 cellspacing=1>
    
      <TR>
        <TD>
          
          <a href="Country/Laos.asp" title="language exchange in Laos"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Laos" WIDTH="12" HEIGHT="14"> Laos</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Latvia.asp" title="language exchange in Latvia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Latvia" WIDTH="12" HEIGHT="14"> Latvia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Lebanon.asp" title="language exchange in Lebanon"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Lebanon" WIDTH="12" HEIGHT="14"> Lebanon</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Liberia.asp" title="language exchange in Liberia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Liberia" WIDTH="12" HEIGHT="14"> Liberia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Libya.asp" title="language exchange in Libya"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Libya" WIDTH="12" HEIGHT="14"> Libya</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Liechtenstein.asp" title="language exchange in Liechtenstein"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Liechtenstein" WIDTH="12" HEIGHT="14"> Liechtenstein</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Lithuania.asp" title="language exchange in Lithuania"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Lithuania" WIDTH="12" HEIGHT="14"> Lithuania</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Luxembourg.asp" title="language exchange in Luxembourg"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Luxembourg" WIDTH="12" HEIGHT="14"> Luxembourg</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Macedonia.asp" title="language exchange in Macedonia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Macedonia" WIDTH="12" HEIGHT="14"> Macedonia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Madagascar.asp" title="language exchange in Madagascar"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Madagascar" WIDTH="12" HEIGHT="14"> Madagascar</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Malawi.asp" title="language exchange in Malawi"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Malawi" WIDTH="12" HEIGHT="14"> Malawi</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Malaysia.asp" title="language exchange in Malaysia, Malayan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Malaysia, Malayan" WIDTH="12" HEIGHT="14"> Malaysia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Maldives.asp" title="language exchange in Maldives"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Maldives" WIDTH="12" HEIGHT="14"> Maldives</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Mali.asp" title="language exchange in Mali"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Mali" WIDTH="12" HEIGHT="14"> Mali</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Malta.asp" title="language exchange in Malta"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Malta" WIDTH="12" HEIGHT="14"> Malta</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Martinique.asp" title="language exchange in Martinique"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Martinique" WIDTH="12" HEIGHT="14"> Martinique</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Mauritania.asp" title="language exchange in Mauritania"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Mauritania" WIDTH="12" HEIGHT="14"> Mauritania</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Mauritius.asp" title="language exchange in Mauritius, Mauritian"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Mauritius, Mauritian" WIDTH="12" HEIGHT="14"> Mauritius</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Mexico.asp" title="language exchange in Mexico"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Mexico" WIDTH="12" HEIGHT="14"> Mexico</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Moldova.asp" title="language exchange in Moldova"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Moldova" WIDTH="12" HEIGHT="14"> Moldova</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Monaco.asp" title="language exchange in Monaco, Monegasque"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Monaco, Monegasque" WIDTH="12" HEIGHT="14"> Monaco</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Mongolia.asp" title="language exchange in Mongolia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Mongolia" WIDTH="12" HEIGHT="14"> Mongolia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/" title="language exchange in Montenegro"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Montenegro" WIDTH="12" HEIGHT="14"> Montenegro</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Morocco.asp" title="language exchange in Morocco, Maroc"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Morocco, Maroc" WIDTH="12" HEIGHT="14"> Morocco</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Mozambique.asp" title="language exchange in Mozambique, Mocambique"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Mozambique, Mocambique" WIDTH="12" HEIGHT="14"> Mozambique</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Namibia.asp" title="language exchange in Namibia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Namibia" WIDTH="12" HEIGHT="14"> Namibia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Nepal.asp" title="language exchange in Nepal"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Nepal" WIDTH="12" HEIGHT="14"> Nepal</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Netherlands.asp" title="language exchange in Netherlands, Holland"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Netherlands, Holland" WIDTH="12" HEIGHT="14"> Netherlands</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/NewCaledonia.asp" title="language exchange in New Caledonia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in New Caledonia" WIDTH="12" HEIGHT="14"> New Caledonia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/New_Zealand.asp" title="language exchange in New Zealand"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in New Zealand" WIDTH="12" HEIGHT="14"> New Zealand</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Nicaragua.asp" title="language exchange in Nicaragua"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Nicaragua" WIDTH="12" HEIGHT="14"> Nicaragua</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Niger.asp" title="language exchange in Niger"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Niger" WIDTH="12" HEIGHT="14"> Niger</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Nigeria.asp" title="language exchange in Nigeria"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Nigeria" WIDTH="12" HEIGHT="14"> Nigeria</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/North_Korea.asp" title="language exchange in North Korea"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in North Korea" WIDTH="12" HEIGHT="14"> North Korea</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Norway.asp" title="language exchange in Norway, Norseman, Norse"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Norway, Norseman, Norse" WIDTH="12" HEIGHT="14"> Norway</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Oman.asp" title="language exchange in Oman"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Oman" WIDTH="12" HEIGHT="14"> Oman</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Pakistan.asp" title="language exchange in Pakistan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Pakistan" WIDTH="12" HEIGHT="14"> Pakistan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Palestine.asp" title="language exchange in Palestine"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Palestine" WIDTH="12" HEIGHT="14"> Palestine</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Panama.asp" title="language exchange in Panama"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Panama" WIDTH="12" HEIGHT="14"> Panama</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/PapuaNewGuinea.asp" title="language exchange in Papua New Guinea"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Papua New Guinea" WIDTH="12" HEIGHT="14"> Papua New Guinea</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Paraguay.asp" title="language exchange in Paraguay"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Paraguay" WIDTH="12" HEIGHT="14"> Paraguay</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Peru.asp" title="language exchange in Peru"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Peru" WIDTH="12" HEIGHT="14"> Peru</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Philippines.asp" title="language exchange in Philippines, Filipino,  Filipina"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Philippines, Filipino,  Filipina" WIDTH="12" HEIGHT="14"> Philippines</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Poland.asp" title="language exchange in Poland"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Poland" WIDTH="12" HEIGHT="14"> Poland</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Portugal.asp" title="language exchange in Portugal, Lusitanian"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Portugal, Lusitanian" WIDTH="12" HEIGHT="14"> Portugal</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Puerto_Rico.asp" title="language exchange in Puerto Rico"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Puerto Rico" WIDTH="12" HEIGHT="14"> Puerto Rico</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Qatar.asp" title="language exchange in Qatar, Katari"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Qatar, Katari" WIDTH="12" HEIGHT="14"> Qatar</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Romania.asp" title="language exchange in Romania"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Romania" WIDTH="12" HEIGHT="14"> Romania</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Russia.asp" title="language exchange in Russia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Russia" WIDTH="12" HEIGHT="14"> Russia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Rwanda.asp" title="language exchange in Rwanda"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Rwanda" WIDTH="12" HEIGHT="14"> Rwanda</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Saudi_Arabia.asp" title="language exchange in Saudi Arabia, Saudi Arabian"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Saudi Arabia, Saudi Arabian" WIDTH="12" HEIGHT="14"> Saudi Arabia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Senegal.asp" title="language exchange in Senegal"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Senegal" WIDTH="12" HEIGHT="14"> Senegal</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Serbia.asp" title="language exchange in Serbia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Serbia" WIDTH="12" HEIGHT="14"> Serbia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Seychelles.asp" title="language exchange in Seychelles"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Seychelles" WIDTH="12" HEIGHT="14"> Seychelles</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Singapore.asp" title="language exchange in Singapore"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Singapore" WIDTH="12" HEIGHT="14"> Singapore</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Slovakia.asp" title="language exchange in Slovakia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Slovakia" WIDTH="12" HEIGHT="14"> Slovakia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Slovenia.asp" title="language exchange in Slovenia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Slovenia" WIDTH="12" HEIGHT="14"> Slovenia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Somalia.asp" title="language exchange in Somalia, Somalian"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Somalia, Somalian" WIDTH="12" HEIGHT="14"> Somalia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/South_Africa.asp" title="language exchange in South Africa"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in South Africa" WIDTH="12" HEIGHT="14"> South Africa</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/South_Korea.asp" title="language exchange in South Korea"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in South Korea" WIDTH="12" HEIGHT="14"> South Korea</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Spain.asp" title="language exchange in Spain"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Spain" WIDTH="12" HEIGHT="14"> Spain</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Sri_Lanka.asp" title="language exchange in Sri Lanka"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Sri Lanka" WIDTH="12" HEIGHT="14"> Sri Lanka</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Sudan.asp" title="language exchange in Sudan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Sudan" WIDTH="12" HEIGHT="14"> Sudan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Suriname.asp" title="language exchange in Suriname"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Suriname" WIDTH="12" HEIGHT="14"> Suriname</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Sweden.asp" title="language exchange in Sweden"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Sweden" WIDTH="12" HEIGHT="14"> Sweden</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Switzerland.asp" title="language exchange in Switzerland"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Switzerland" WIDTH="12" HEIGHT="14"> Switzerland</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Syria.asp" title="language exchange in Syria"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Syria" WIDTH="12" HEIGHT="14"> Syria</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Taiwan.asp" title="language exchange in Taiwan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Taiwan" WIDTH="12" HEIGHT="14"> Taiwan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Tajikistan.asp" title="language exchange in Tajikistan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Tajikistan" WIDTH="12" HEIGHT="14"> Tajikistan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Tanzania.asp" title="language exchange in Tanzania"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Tanzania" WIDTH="12" HEIGHT="14"> Tanzania</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Thailand.asp" title="language exchange in Thailand, Tai, Siamese"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Thailand, Tai, Siamese" WIDTH="12" HEIGHT="14"> Thailand</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Togo.asp" title="language exchange in Togo"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Togo" WIDTH="12" HEIGHT="14"> Togo</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Trinidad_and_Tobago.asp" title="language exchange in Trinidad and Tobago"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Trinidad and Tobago" WIDTH="12" HEIGHT="14"> Trinidad and Tobago</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Tunisia.asp" title="language exchange in Tunisia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Tunisia" WIDTH="12" HEIGHT="14"> Tunisia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Turkey.asp" title="language exchange in Turkey"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Turkey" WIDTH="12" HEIGHT="14"> Turkey</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Turkmenistan.asp" title="language exchange in Turkmenistan"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Turkmenistan" WIDTH="12" HEIGHT="14"> Turkmenistan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Uganda.asp" title="language exchange in Uganda"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Uganda" WIDTH="12" HEIGHT="14"> Uganda</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Ukraine.asp" title="language exchange in Ukraine"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Ukraine" WIDTH="12" HEIGHT="14"> Ukraine</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/United_Arab_Emirates.asp" title="language exchange in United Arab Emirates, U.A.E."><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in United Arab Emirates, U.A.E." WIDTH="12" HEIGHT="14"> United Arab Emirates</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/United_Kingdom.asp" title="language exchange in United Kingdom"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in United Kingdom" WIDTH="12" HEIGHT="14"> United Kingdom</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/United_States.asp" title="language exchange in United States, U.S., U.S.A."><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in United States, U.S., U.S.A." WIDTH="12" HEIGHT="14"> United States</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Uruguay.asp" title="language exchange in Uruguay"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Uruguay" WIDTH="12" HEIGHT="14"> Uruguay</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Uzbekistan.asp" title="language exchange in Uzbekistan, Uzbekiston"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Uzbekistan, Uzbekiston" WIDTH="12" HEIGHT="14"> Uzbekistan</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Venezuela.asp" title="language exchange in Venezuela"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Venezuela" WIDTH="12" HEIGHT="14"> Venezuela</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Vietnam.asp" title="language exchange in Vietnam, Annamese"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Vietnam, Annamese" WIDTH="12" HEIGHT="14"> Vietnam</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Yemen.asp" title="language exchange in Yemen"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Yemen" WIDTH="12" HEIGHT="14"> Yemen</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Yugoslavia.asp" title="language exchange in Yugoslavia, Jugoslav, Yugoslavian, Jugoslavian"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Yugoslavia, Jugoslav, Yugoslavian, Jugoslavian" WIDTH="12" HEIGHT="14"> Yugoslavia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Zambia.asp" title="language exchange in Zambia"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Zambia" WIDTH="12" HEIGHT="14"> Zambia</a>
        </TD>
      </TR>
  
      <TR>
        <TD>
          
          <a href="Country/Zimbabwe.asp" title="language exchange in Zimbabwe"><img SRC="images/bullet.gif" align="texttop" border="0" alt="language exchange in Zimbabwe" WIDTH="12" HEIGHT="14"> Zimbabwe</a>
        </TD>
      </TR>
  
    </table>
    
<br clear=all>
    </td>
  </tr>
</table>


    </td>
  </tr>
</table>
<br>
<br>




				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like" data-href="https://www.mylanguageexchange.com/Default.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>				
				&nbsp;&nbsp;