
				

                <!-- Page Begin -->
 
<h2>More About This Site</h2>
 <table cellspacing="0" cellpadding="0" border="0"> 
  <tbody><tr>
    <td valign="top" align="center"> 

      
      <p align="left">
      This is the first site to actually host online language exchange practice, thus allowing you to find exchange partners from all over the world instead of only where you live.&nbsp;<br>
      <br>
      We host your online language exchange by providing voice chat rooms, an online dictionary, proven lesson plans from a teacher specializing in language exchange practice and your own notepad to record new words and expressions.<br>
      <br>
      Have fun improving your conversation skills while making friends from all over the world. Learn the latest slang and expressions not found in books! Practice as often as you like.<br>
      <br><br>
      Becoming a member is fast and easy. You get:
      </p><table width="100%" cellspacing="0" cellpadding="0" border="0">
	   <tbody><tr>
	    <td>•&nbsp;</td>
        <td>
         Tools to find language exchange partners from our members, from all over the world
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Text chat rooms
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Links to free Voice chat rooms
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Lesson plans for online practice
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Multi-language dictionary
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Your own private member notepad to record informal expressions and slang that you learn
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Club library to share new expressions and slang with other club members like yourself
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Bulletin Boards
        </td>
       </tr> 
	   <tr>
	    <td>•&nbsp;</td>
        <td>
          Hangman word games to exchange slang and expressions.
        </td>
       </tr> 
      </tbody></table>
      <p></p>
      <p align="left">
      <a href="SignUp.asp?showmenu=1"><strong>Sign-up now</strong></a> <br>
      <br>
      <b>
      What Kind of Language Exchange?</b><br>
      <br>
      Voice chat practice is not for everyone. Beginners should start by practicing using email (penpals) or text chat. Intermediate level students can practice using text or voice chat. Advanced students are perfect for voice chat.
      <a href="HowTo.asp#a1"> Click here</a> for more details.<br>
      <br>
      <br>
      <b>
      Before Practicing</b><br>
      <br>
      Please read <a href="HowTo.asp"> How To Do A Language Exchange</a> for hints on how to get the most from your practice session.<br>
      <br>
      <br>
      </p>
<!-- p align="right"><i>- May 12, 2001</i>&nbsp;&nbsp;</p -->
    </td>
  </tr>

  
    
 </tbody></table>
 

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/defaultMore.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FdefaultMore.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f1e9b1dfc0b972a" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df355d3a5fa05dce%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2752c121cd9346%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FdefaultMore.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
            
