
				

                <!-- Page Begin -->
<h2>Simple Editor to Type Accents in French, Spanish and Other Languages</h2>
<p>
Type accents on international keyboards. 
Just click the accented character in the menu to insert.</p>

 

<form method="post" id="MailForm" name="MailForm" action="/MultiPad.asp">
<table style="width:95%; max-width:500px;" cellspacing="0" cellpadding="0" border="0">

  <tbody><tr class="table-heading">
	<td align="left">
	  <font color="white"><b>
	    Type your message below.<br>
	    Click on an accented character to insert.
	  </b></font>
	</td>
  </tr><tr>
  </tr><tr>
    <td bgcolor="Ivory">
	    
	<style>
		.Accents {
			color: #009688!important;  /* teal */
			text-align: center;
			font-size: 19px;
			padding: 5px 5px;
			display: block;
		}

		.Accents:hover {
			font-size: 19px;
			background-color: #ddd;
		}
	</style>
	
<table width="300px" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
        <td>
            <a href="" onclick="InsertAccentsMail('Ā'); return false;" class="Accents">Ā</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('À'); return false;" class="Accents">À</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Á'); return false;" class="Accents">Á</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Â'); return false;" class="Accents">Â</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǎ'); return false;" class="Accents">Ǎ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ã'); return false;" class="Accents">Ã</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ä'); return false;" class="Accents">Ä</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Å'); return false;" class="Accents">Å</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('ā'); return false;" class="Accents">ā</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('à'); return false;" class="Accents">à</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('á'); return false;" class="Accents">á</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('â'); return false;" class="Accents">â</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǎ'); return false;" class="Accents">ǎ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ã'); return false;" class="Accents">ã</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ă'); return false;" class="Accents">ă</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ä'); return false;" class="Accents">ä</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('å'); return false;" class="Accents">å</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('Ē'); return false;" class="Accents">Ē</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('È'); return false;" class="Accents">È</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('É'); return false;" class="Accents">É</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ê'); return false;" class="Accents">Ê</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ě'); return false;" class="Accents">Ě</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ë'); return false;" class="Accents">Ë</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('ē'); return false;" class="Accents">ē</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('è'); return false;" class="Accents">è</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('é'); return false;" class="Accents">é</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ê'); return false;" class="Accents">ê</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ě'); return false;" class="Accents">ě</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ë'); return false;" class="Accents">ë</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('Ī'); return false;" class="Accents">Ī</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ì'); return false;" class="Accents">Ì</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Í'); return false;" class="Accents">Í</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Î'); return false;" class="Accents">Î</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǐ'); return false;" class="Accents">Ǐ </a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ï'); return false;" class="Accents">Ï</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('I'); return false;" class="Accents">I</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('ī'); return false;" class="Accents">ī</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ì'); return false;" class="Accents">ì</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('í'); return false;" class="Accents">í</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('î'); return false;" class="Accents">î</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǐ'); return false;" class="Accents">ǐ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ï'); return false;" class="Accents">ï</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ı'); return false;" class="Accents">ı</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('Ō'); return false;" class="Accents">Ō</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ò'); return false;" class="Accents">Ò</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ó'); return false;" class="Accents">Ó</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ô'); return false;" class="Accents">Ô</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǒ'); return false;" class="Accents">Ǒ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Õ'); return false;" class="Accents">Õ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ö'); return false;" class="Accents">Ö</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ő'); return false;" class="Accents">Ő</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ø'); return false;" class="Accents">Ø</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('ō'); return false;" class="Accents">ō</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ò'); return false;" class="Accents">ò</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ó'); return false;" class="Accents">ó</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ô'); return false;" class="Accents">ô</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǒ'); return false;" class="Accents">ǒ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('õ'); return false;" class="Accents">õ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ö'); return false;" class="Accents">ö</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ő'); return false;" class="Accents">ő</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ø'); return false;" class="Accents">ø</a>
        </td>  
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('Ū'); return false;" class="Accents">Ū</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ù'); return false;" class="Accents">Ù</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ú'); return false;" class="Accents">Ú</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Û'); return false;" class="Accents">Û</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǔ'); return false;" class="Accents">Ǔ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ů'); return false;" class="Accents">Ů</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ü'); return false;" class="Accents">Ü</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ű'); return false;" class="Accents">Ű</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǖ'); return false;" class="Accents">Ǖ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǜ'); return false;" class="Accents">Ǚ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǘ'); return false;" class="Accents">Ǘ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ǚ'); return false;" class="Accents">Ǚ</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('ū'); return false;" class="Accents">ū</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ù'); return false;" class="Accents">ù</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ú'); return false;" class="Accents">ú</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('û'); return false;" class="Accents">û</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǔ'); return false;" class="Accents">ǔ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ů'); return false;" class="Accents">ů</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ü'); return false;" class="Accents">ü</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ű'); return false;" class="Accents">ű</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǖ'); return false;" class="Accents">ǖ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǜ'); return false;" class="Accents">ǚ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǘ'); return false;" class="Accents">ǘ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ǚ'); return false;" class="Accents">ǚ</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('Ÿ'); return false;" class="Accents">Ÿ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ÿ'); return false;" class="Accents">ÿ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ý'); return false;" class="Accents">ý</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('ß'); return false;" class="Accents">ß</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Č'); return false;" class="Accents">Č</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('č'); return false;" class="Accents">č</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ç'); return false;" class="Accents">Ç</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ç'); return false;" class="Accents">ç</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ğ'); return false;" class="Accents">Ğ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ğ'); return false;" class="Accents">ğ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ñ'); return false;" class="Accents">Ñ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ñ'); return false;" class="Accents">ñ</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('Ř'); return false;" class="Accents">Ř</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ř'); return false;" class="Accents">ř</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Š'); return false;" class="Accents">Š</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('š'); return false;" class="Accents">š</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ş'); return false;" class="Accents">ş</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ţ'); return false;" class="Accents">ţ</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('Ž'); return false;" class="Accents">Ž</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('ž'); return false;" class="Accents">ž</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('æ'); return false;" class="Accents">æ</a> 
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('œ'); return false;" class="Accents">œ</a> 
        </td>
    </tr>
    <tr>
        <td>
            <a href="" onclick="InsertAccentsMail('¿'); return false;" class="Accents">¿</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('¡'); return false;" class="Accents">¡</a>
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('«'); return false;" class="Accents">«</a> 
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('»'); return false;" class="Accents">»</a> 
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('¹'); return false;" class="Accents">¹</a> 
        </td>
        <td>
            <a href="" onclick="InsertAccentsMail('³'); return false;" class="Accents">³</a> 
        </td>
    </tr>
    <%(("А".."Я").to_a+("а".."я").to_a).each_slice(6).to_a.each do |letters|%>
        <tr>
        <%letters.each do |h|%>
        <td>
            <a href="" onclick="InsertAccentsMail('<%=h%>'); return false;" class="Accents"><%=h%></a> 
        </td>
        <%end%>
    </tr>
    <%end%>
</tbody></table>      

    </td>
  </tr>
  <tr>
    <td bgcolor="#e9f2f5" align="center">  
       <textarea name="txaBody" id="txaBody" rows="10" style="width:99%" cols="40"></textarea>
    </td>
  </tr>
         
  <tr>
	<td bgcolor="#e9f2f5" align="left">
	  <input type="button" value="Highlight Text &amp; Copy" onclick="javascript:this.form.txaBody.focus();this.form.txaBody.select();document.execCommand('copy');">
	</td>
  </tr><tr>
</tr></tbody></table>
</form>

<br>
<br>
<br>
<br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/MultiPad.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FMultiPad.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f37b53fe9590822" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df7f3ed0d4d6f26%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff3078c9bf221928%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FMultiPad.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
       
<%=content_for :somescript do%>
                                <SCRIPT LANGUAGE=javascript>
<!--
function InsertAccentsMail(ch) {
	var targetText = document.getElementById("txaBody")
	targetText.focus();
	targetText.value = targetText.value + ch
	targetText.focus();
}
//-->
</SCRIPT>
                                <%end%>