<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>My Language Exchange Presents to the Office of the Commissioner of Official Languages of Canada</h2>

My Language Exchange and new partner Friendship Force International  spoke about the benefits of language exchange practice 
to Canada's Office of the Commissioner of Official Languages in Ottawa on June 21 2013. The presentation and subsequent 
discussion was video linked with 5 OCOL regional offices across Canada.<br>
<br>
Created as part of the response to the threat of Quebec separation in 1969, the OCOL reports directly to the prime 
minister's office and is responsible for ensuring the language rights of English and French speakers are protected 
everywhere in Canada. <br>
<br>

Since French language rights - or the perceived lack of it - sparked the rise of the Quebec separatist movement 
and continues to fuel its popularity, it can be said that the role of the OCOL is to keep Canada together. 
So we were delighted and honored to be given the opportunity to make this special presentation.<br>
<br>

MLE and FFI discussed how language exchange can help OCOL achieve 2 of its specific mandates:
<ol>
<li>To ensure Canada's federal public services are available in both official languages anywhere in the country. 
</li><li> To promote French and English in Canadian society.
</li></ol>
By practicing in a language exchange, Canadian federal civil servants - or any language learner in Canada - 
can take a step beyond formal classroom knowledge toward true language fluency and cultural understanding. <br>
<br>

The new partnership between MLE and FFI makes available a more complete range of language exchange practice options. 
While MLE up to now offers language practice from one's home or home town via email, voice chat or live in-person, 
the new partnership takes advantage of FFI's expertise in group homestay exchanges to create an exciting new option: 
language exchange practice in a group homestay in the country or culture where the language is spoken. 
This provides real cultural and language immersion that is still a safe and supportive environment. 
This new option is ideal for advanced language learners who are ready for more dynamic and challenging interactions. <br>
<br>

The partnership and the meeting with the OCOL was possible thanks to the initiative and vision of Eileen Howell, 
a language learner and an MLE subscriber who saw the natural link between MLE and FFI after using MLE to improve her French for a few years.
She approached the C of OL and persuaded him that MLE and FFI together would help him further his goals to form friendship links between 
English speaking and French speaking Canadians and would also help learners of the official languages to help themselves.  He agreed.    
She then persuaded the president of MLE (me, Dan Yuen) that FFI would be valuable to other MLE members.  
In so doing she opened up the world of a homestay language exchange not only to Canada but to the world.  <br>
<br> 

The presentation primarily consisted of presentations from:
<ol>
<li> Eileen Howell, Volunteer Marketing Consultant FFI (Languages). 
</li><li> Dan Yuen, MLE webmaster, co-founder and owner. 
</li><li> Belkacem Kesrouri, MLE user and language partner of Eileen Howell for 6 years. 
</li><li> George Brown, FFI president. 
</li></ol>

Other participants of note are:
<ul>
<li>Sylvain Giguère, Assistant commissioner, OCOL 
</li><li>Andrew Stirling, Member International Advisory Committee of FFI
</li><li>Cecile Latour, Member International Board of Directors of FFI and forrner Canadian embassador to Vietnam.
</li></ul>

You can read a transcript of Eileen Howell's presentation <a href="OCOLTrEileen.asp">here</a>.<br>
Read a transcript of Dan Yuen's presentation <a href="OCOLTrDYuen.asp">here</a>.<br>
Read a transcript of Belkacem Kesrouri's presentation <a href="OCOLTrBelkacem.asp">here</a>.<br>
Read a summary of George Brown's presentation <a href="OCOLTrGBrown.asp">here</a>.<br>


<h3>About MLE</h3>

MLE helps language learners become fluent by enabling effective language exchange practice via email, 
voice chat or live in-person. MLE provides a proven method for effective language exchange practice and 
lesson plans from a language teacher specializing in language exchange learning. The method and activities 
foster fun and friendship to help keep the learner engaged and motivated on the long road to fluency. 
MLE also provides a database of over 2 million registered learners, through which members can search profiles by location, age and interests, etc
and choose who they want for partners. This large database and self selection makes it easy to find the right partner to ensure effective practice.<br>
<br>

<h3>About FFI</h3>

FFI is a network of 360 local groups in 58 countries around the world that promote cross-cultural friendship and understanding 
by exchanging hospitality in group homestay exchanges. Co-founded by then president Jimmy Carter, FFI was nominated for a nobel peace 
prize in 1992 for promoting world peace and goodwill. Notably, they have hosted homestay exchanges across the iron curtain. 
FFI and MLE became formal partners in June 2013 so they can combine their respective expertise to offer 
language exchange homestay exchanges. 

<br>
<br>
<br>



				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/OCOL.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOL.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f177be6dc4fdcdc" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3fd0a8a51b295%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2b2e93f5f9caa8%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOL.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
