<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>Dan Yuen's Presentation to the Office of the Commissioner of Official Languages of Canada</h2>

On June 21 2013, representatives of My Language Exchange and Friednship Force International 
<a href="OCOL.asp">presented to the Office of the Commissioner of Official Languages of Canada</a> the benefits of using language exchange practice to 
promote bilingualism in Canada.<br>
<br>
The following is the transcript of the presentation of Dan Yuen, co-founder, webmaster and owner of My Language Exchange.<br>
<br>
<br>
<br>
Thank you Eileen. Mr. Giguere, ladies and gentlemen... It is a great honour and pleasure to be here today.<br>
<br>
To explain what inspired me to start My Language Exchange, I want to start with a story.<br>
<br>
It was 1999 and I had recently moved to Montreal from Toronto and was trying to learn French. My friends and colleagues supported my endeavour.
One day, after noticing I didn't understand what was said around me in French, a colleague explained just one of the sentences. 
He broke it down by the syllable! It was a simple sentence that means "You don't have a choice." <br>
<br>
I thought... I had the vocabulary and grammar to understand that. It should have sounded something like... 
<ul> 
<li>"Vous n'avez pas de choix." or 
</li><li>"Vous n'avez pas le choix."
</li></ul>
So, why didn't I recognize it?<br>
<br>
First, despite it being a professional work place (an engineering office), they used <b><i>Tu</i></b> instead of <b><i>Vous</i></b>. 
But more importantly, they used contractions that are not taught in class.<br>
<br>
"Tu n'as pas de choix." is contracted in 3 places. 
<ul> 
<li>The <b><i>u</i></b> in <b><i>Tu</i></b> is dropped. 
</li><li>The negative <b><i>ne</i></b> is dropped. 
</li><li>And the preposition <b><i>de</i></b> is dropped. 
</li></ul>

So "Tu n'as pas de choix." becomes: "T'as pas choix."<br>
<br>
T'as pas choix! What language are we speaking again?!<br>
<br>
No wonder I didn't understand anyone - except for my French teachers! <br>
<br> 

Realizing the disconnect between real French and classroom French, I approached my French teachers for help. 
I found they weren't very helpful. In fact, the higher the institution, the less helpful they were. 
At the government classes for immigrants, the Quebecois teacher gave one example, then quickly changed back to teaching the required material. 
At the community college, the teacher only suggested I find myself a quebecois girl friend. 
And at Concordia University, the teacher from Paris didn't even know what I was talking about! 
And she had no interest in anything other than the proper French she was teaching.<br>
<br>

So, I decided to speak French with my bilingual friends and hit them up for explanations whenever I could. 
But they quickly grew tired of my awkward French and just switched to English. 
Surprisingly, most of them didn't want to explain anything! They were already bilingual and were in no mood to start analyzing languages.<br>
<br>

That's when I started going to language exchange workshops.<br>
<br>
Small groups of ordinary French and English native speakers did activities together designed by a teacher. 
A bilingual teacher made sure everyone was doing the activities correctly. At the end, we all shared what we learned.<br>
<br>

A key to its success was the method. For example, everyone speaks the same language at the same time and switch at regular intervals, 
say 10 or 15 minutes depending on the activity. This creates mini-immersions when working in your 2<sup>nd</sup> language. 
And when working in your native language, gives you much needed rest and allows you to be a coach and mentor to your partner.<br>
<br>

What impressed me most was that once you got into a rhythm of helping each other, you would feed off this reciprocating positive energy. 
People would volunteer unexpected amounts of language help of unexpectedly high quality. Learners were jotting down notes almost non-stop. 
We really had fun helping our partners and learning from them. Friendships couldn't help but be formed.<br>
<br>
At that time, the Internet and voice chat was just becoming popular. And I saw that if a website gave the proper tips and activities, 
the magic that happened in those workshops in Montreal, could be replicated anywhere to help people become fluent in any language. 
I shared the idea with the innovative and creative teacher and designer of those workshops, Helene Cormier, and she agreed. 
Together, we adapted the method and activities for online, autonomous use and broadened the scope to include writing practice via email. 
My Language Exchange was born.<br>
<br>
At My Language Exchange, you decide who you want to be your partner. You search the database of language learners and contact those you think 
may make suitable partners: those with compatible learning goals, schedules, level of commitment, common interests, etc. 
You can search by language, age, gender, location and more. With over 2 million registered language learners, it is the 
largest language exchange community in the world. So you are certain to find suitable partners who will become friends and help 
keep you engaged and motivated on your long journey to fluency.<br>
<br>

Although activities are provided, you don't have to use them. Many who naturally have enough to talk about do not use them and still get effective practice.<br>
<br>
My Language Exchange is a small Canadian business wholly owned and operated by me, Dan Yuen. It's one of several online businesses I own and operate. <br>
<br>
<br>
Thank you very much for your time and attention.<br>
<br>

<br>
<br>
<br>



				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/OCOLTrDYuen.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrDYuen.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f2ad3bf580c4dc8" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df5f35ccaf53f26%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2d64f0edc94a6%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FOCOLTrDYuen.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
