
				

                <!-- Page Begin -->

<h2>Word Games for Language Learning</h2>

Play and create hangman or word match games 
to exchange expressions, slang, idioms and culture with the world! <br>
<br>
 

<table class="TblTranspose " cellspacing="1" cellpadding="1" border="0">
     <tbody><tr>
       <td width="290" valign="top">
			<table class="TblCard floating" width="100%" cellspacing="0" cellpadding="3" border="0">
				<tbody><tr class="table-heading">
					<td align="left">
					  <span title="Hangman">&nbsp;Hangman</span>
					</td>
				</tr>
				<tr>
					<td valign="top">The classic game with hints, translation help and discussion board.
					</td>
				</tr>
				<tr>
					<td valign="top">Play, discuss, then create your own. Play the world!
					</td>
				</tr>
				<tr>
					<td>Learn vocabulary, popular expressions, slang, famous quotes, proverbs, famous names or titles.
					</td>
				</tr>
				<tr>
					<td><a href="Hangman.asp"><b>Play Hangman now</b></a>
					</td>
				</tr>
			</tbody></table>
       </td>
        <td width="20" valign="top" align="right">
        </td>
        <td width="290" valign="top" align="right">
			<table class="TblCard floating" width="100%" cellspacing="0" cellpadding="3" border="0">
				<tbody><tr class="table-heading">
					<td align="left">
					  <span title="Word match">Word Match</span>
					</td>
				</tr>
				<tr>
				   <td valign="bottom">
					 Drag and drop matching words or phrases.
				   </td>
				</tr>
				<tr>
				   <td>
					 Learn the words or phrases shared by others in the club library.
					 Add the ones you are trying to learn. 
				   </td>
				</tr>
				<tr>
				   <td>
					 Great for acquiring new words and phrases or as a refresher!
				   </td>
				</tr>
				<tr>
				   <td>
					 The system remembers your performance, so you practice only what you need.
				   </td>
				</tr>
				<tr>
					<td>
						<a href="CLScatter.asp"><b>Play now - random club library entries</b></a><br>
						<a href="LessonScatter.asp"><b>Play now - pre-defined lessons</b></a><br>
					</td>
				</tr>
			</tbody></table>
        </td>
     </tr>
     <tr>
		<td>
			<table class="TblCard floating" width="100%" cellspacing="0" cellpadding="3" border="0">
				<tbody><tr class="table-heading">
					<td align="left">
					  <span title="Word match">Lessons and Quizzes created by Teachers and Tutors</span>
					</td>
				</tr>
				<tr>
				   <td valign="bottom">
					 <a href="Teachers/LessonList.asp">View lessons and quizzes</a>.
				   </td>
				</tr>
				<tr>
				   <td valign="bottom">
					 <a href="Teachers">Find a language teacher or tutor</a> in a location of your choice.
				   </td>
				</tr>
			</tbody></table>
		</td>
     </tr>
</tbody></table>	 

<br clear="all">

<br>
<br>


				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/Games.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FGames.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f39b803e26d2b6" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df12bf55b0bfbc26%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff1ed8477b6374ac%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FGames.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
            