<tr bgcolor='Ivory'>
		<td data-th="Title" valign=top class="userdata">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=897" class="BoldLink">TAGALOG SENTENCE</a><br>

          <font color=gray >
          by <a href="LessonListTeacher.asp?uid=45650">happymagnet calalay</a>
          </font><br>
          
      <img SRC="images/Star5of5.jpg" alt="5 stars of 5" WIDTH="69" HEIGHT="14">
    
          <font color="gray" size="-2">- 58 reviews</font>
        <br>
          <font color=gray size="-2">
          December 4, 2013</a>
          <!--Edited: June 16, 2014</a-->
          </font>
        </td>
		<td data-th="Learn" valign=top class="userdata">
          <a href="LessonList.asp?X3Id=20">Filipino (Tagalog)</a>
          <small>
          <font color=gray>
          (Beginner/Intermediate, Grammar)
          </small></font>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" valign=top class="userdata">
         3693
        </td>
