<table bordercolorlight="Ivory" width="100%" cellspacing="0" cellpadding="1" bordercolor="ForestGreen" border="1">
         <tbody><tr>
            <td valign="top">
            <table class="TblNarrowBlock" width="100%" cellspacing="0" cellpadding="2" border="0" bgcolor="Ivory">
                <tbody><tr>
                  <td width="30%" valign="top" bgcolor="#e9f2e9">Teacher Name:
                  </td>
                  <td>
                     <a href="TeacherInfo.asp?uid=67221"><b>Harun Kurd</b></a><br>
                     <a href="TeacherInfo.asp?uid=67221"><small>More info</small></a> -
                     <a href="TeacherInfo.asp?uid=67221"><small>Contact teacher</small></a><br>
                     <small><font color="black">July 19, 2022</font><small>
                  </small></small></td>
                </tr>
                <tr>
                  <td valign="top" bgcolor="#e9f2e9">Student Feedback:
                  </td>
                  <td>
                     
                      <font color="gray"><small>No student feedback</small></font>
                     
                  </td>
                </tr>
                <tr>
                  <td valign="top" bgcolor="#e9f2e9">Self-study Lessons:
                  </td>
                  <td>
                  
                    <font color="gray"><small>No self-study lessons</small></font>
                  
                  </td>
                </tr>

                <!-- tr>
                  <td bgcolor="#e9f2e9" valign="top">Responsiveness:
                  </td>
                  <td>
                  
      <img SRC="images/Star3of5.jpg" alt="3 stars of 5" WIDTH="69" HEIGHT="14">
    
                  </td>
                </tr -->


                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">Language to teach:</td>
                    <td>
                      <font color="ForestGreen"><b>Kurdish</b></font><font color="gray"><small> (+1 other)</small></font>
                      
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">
                    City, state or province:
                    </td>
                    <td valign="top">
                    Warsaw, Jana Pawła
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">Country:</td>
                    <td>Poland</td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">Lessons delivery:</td>
                    <td>
                      <li>Live in person<br></li><li>Email<br></li><li>Text chat<br></li><li>Voice chat<br></li><li>Video conferencing
                    </li></td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">Teaching approach:</td>
                    
                    <td>I want to concentrate on speaking mostly but via grammar.&nbsp;</td>
                </tr>
            </tbody></table>
           
            </td>
         </tr>
         </tbody></table>
         <br>
