<tr>
          <td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin --> 
<h2>English, German Teacher &amp; Tutor: Marion Charlotte Oploh</h2>
Private lessons, classes  in Berlin, Berlin, Germany or online via telephone, email, text chat, voice chat, video conferencing.<br>
<br>

  Buy custom lessons from  Marion Charlotte Oploh.<br>
  <br>
    
     <table width="100%" cellspacing="0" cellpadding="2" border="0">
     <tbody><tr bgcolor="ForestGreen">
       <td height="10">
        <font color="Ivory"><b>&nbsp;Profile of <a href="SendTeacher.asp?uid=21752" title="Contact this teacher."><font color="Ivory">Marion Charlotte Oploh</font></a></b></font>
       </td>
       <td align="right">
        <font color="Ivory">Date: March 18, 2020&nbsp;</font>
       </td>
     </tr>
     <tr>
        <td colspan="2" valign="top" bgcolor="ForestGreen">
        <table class="TblNarrowBlock" width="100%" cellspacing="0" cellpadding="3" border="0" bgcolor="White">
          <tbody><tr>
              
              <td width="50%" valign="top">
            
                <table width="100%" cellspacing="1" cellpadding="2" border="0">
                    <tbody><tr>
                        <td colspan="2" valign="top" bgcolor="#e9f2e9" align="center">
                          <font color="ForestGreen"><b>The Basics</b></font>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" valign="top" align="left"><font color="ForestGreen"><b>Name:</b></font></td>
                        <td>
                          <a href="SendTeacher.asp?uid=21752" title="Contact this teacher."><b>Marion Charlotte Oploh</b></a>
                        </td><td>
                    </td></tr>
                    
                    

                    <tr>
                      <td valign="top"><font color="ForestGreen"><b>Feedback rating:</b></font>
                      </td>
                      <td>
                     
      <img src="images/Star5of5.jpg" alt="5 stars of 5" width="69" height="14">
    <a href="TeacherReviews.asp?UId=21752">54 reviews</a>
                     
                      </td>
                    </tr>

                    <tr>
                      <td valign="top"><font color="ForestGreen"><b>Self-study lessons:</b></font>
                      </td>
                      <td>
                  
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    <br>
                    <a href="LessonListTeacher.asp?uid=21752">24 online lessons</a>
                  
                      </td>
                    </tr>

                    <!-- tr>
                      <td  valign="top"><font color=ForestGreen><b>Responsiveness:</b></font>
                      </td>
                      <td>
                  
      <img SRC="images/Star4of5.jpg" alt="4 stars of 5" WIDTH="69" HEIGHT="14">
    
                      </td>
                    </tr -->

                    <tr>
                        
                            <td valign="top" align="left"><font color="ForestGreen"><b>Language(s) to teach:</b></font></td>
                            <td valign="top" align="left">
                              
<!-- TABLE WIDTH=100% BORDER=0 CELLSPACING=0 CELLPADDING=0>
	<TR>
		<TD align="left" valign=top -->

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="left"><tbody><tr><td width="0" valign="top" align="left"></td><td valign="top" align="left">English</td></tr><tr><td width="0" valign="top" align="left"><small>(N)&nbsp;</small></td><td valign="top" align="left">German</td></tr></tbody></table>
		<!-- /TD>
	</TR>
</TABLE -->
<br clear="all">
<font color="Gray"><small>(N) = Also native language of teacher.</small></font>
<br clear="all">

                            </td>
                        
                    </tr>

                    <tr>
                        <td valign="top" align="left"><font color="ForestGreen"><b>City:</b></font></td>
                        <td>Berlin</td>
                    </tr>
                    <tr>
                        <td valign="top" align="left"><font color="ForestGreen"><b>State, province or region:</b></font></td>
                        <td valign="top">Berlin</td>
                    </tr>
                    <tr>
                        <td valign="top" align="left"><font color="ForestGreen"><b>Country:</b></font></td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td valign="top" align="left"><font color="ForestGreen"><b>Services:</b></font></td>
                        <td valign="top">
                          <li>Teaching<br></li><li>Tutoring
                        </li></td>
                    </tr>
                    <tr>
                        <td valign="top" align="left"><font color="ForestGreen"><b>Lessons delivery:</b></font></td>
                        <td valign="top">
                          <li>Live in person<br></li><li>Telephone<br></li><li>Email<br></li><li>Text chat<br></li><li>Voice chat<br></li><li>Video conferencing
                        </li></td>
                    </tr>
                    
                    <tr class="NarrowGone">
                        <td colspan="2" valign="top" bgcolor="#e9f2e9" align="center">
                          &nbsp;
                        </td>
                    </tr>
                    
                </tbody></table>
            </td>
            
              <td width="50%" valign="top">
                <table width="100%" cellspacing="1" cellpadding="2" border="0">
                    <tbody><tr>
                        <td colspan="2" valign="top" bgcolor="#e9f2e9" align="center">
                          <font color="ForestGreen"><b>Program Summary</b></font>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" valign="top" align="left"><font color="ForestGreen"><b>Class sizes available:</b></font></td>
                        <td>
                          <li>Private Lessons<br></li><li>2-3 students<br></li><li>4-8 students<br></li><li>9 or more students
                        </li></td>
                    </tr>
                    <tr>
                        <td valign="top" align="left"><font color="ForestGreen"><b>Student proficiency levels:</b></font></td>
                        <td>
                          <li>Beginner<br></li><li>Intermediate<br></li><li>Advanced
                        </li></td>
                    </tr>
                    <tr>
                        <td valign="top" align="left"><font color="ForestGreen"><b>Facets available:</b></font>
                        </td>
                        <td>
                          <li>Grammar<br></li><li>Conversation<br></li><li>Study Abroad<br></li><li>Business<br></li><li>Test Preparation
                        </li></td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top" bgcolor="#e9f2e9" align="center">
                          &nbsp;
                        </td>
                    </tr>
                </tbody></table>
              </td>
            
          </tr>
          
          <tr>
            <td colspan="2" valign="top">
                <br>    
                <table width="100%" cellspacing="1" cellpadding="0" border="0">
                    
                    <tbody><tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Teaching Approach</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                    </td>
                                </tr>
                            </tbody></table>
                          The emphasis is on the balanced exercising of listening, speaking, reading and writing, which are the four important  necessary skills, to learn and master a foreign language. Depending on the students demands I suggest certain course books (or provide them, see costs) which enables them to self-studies after class. I provide some materials such as useful tables, lists of words, audio files etc. No need to mention that whatever books or materials are chosen, the individuals needs and interests will always have priority.<br>Th e joy of discovery is the key to learning. What one wants to learn one will learn. My job is to support students in this endeavor, according to the goals they have set for themselves and want to achieve.<br>The intercultural contrasts between other countries and Germany are always an interesting recurring theme during the lessons.<br>The "online classroom" almost  resembles a live classroom and proved in my experience as a very effective platform for teaching and learning.
                          <br>
                          <br>
                        </td>
                    </tr>
                    
                    <tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Program Description</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                    </td>
                                </tr>
                            </tbody></table>
                          I offer German for<br><br>1. Business purposes<br>2. People who want to work and live in Germany<br>3. University students and pupils<br>4. People who want to brush up their German or are just interested in learning the language<br><br>o f all ages.<br><br>At the start of every course we'll assess together how you  learn best and what you need or would like to learn. The training is tailored to your wishes and needs. A final report marks your progress and recommends paths for further learning. Along with the general courses for beginners and advanced students (A1 to C2 according to the Common European Framework), which can either be held individually or in small groups, I also offer separate courses that assist you in preparing for exams, as well as specific units about grammar. Additionally, I can also support you in preparing, developing and editing  presentations and reports, telephone conversations , in the composition of mail, electronic or otherwise, etc. <br>The length of the course depends on your wishes and demands.<br>
                          <br>
                          <br>
                        </td>
                    </tr>
                    
                    <tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Teaching Experience</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                        
                                    </td>
                                </tr>
                            </tbody></table>
                            I've been teaching German as a Foreign Language for over 20 years. Currently I teach specified Business German to people who want to live and work in Germany, either in legal, medical or technical professions, offices or in in the catering trade like hotels etc., as well as foreign students who want to attend German universities. But also to people who just like to learn the language or brush up their German. I also provide training for both middle management and senior staff who need German for their businesses. Students I teach/taught are/were literally from all continents. <br><br>
                            <br>
                            <br>
                        </td>
                    </tr>
                    
                    <tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Teacher Training</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                        
                                    </td>
                                </tr>
                            </tbody></table>
                          I hold the "Certificate in the Teaching German as a Foreign Language" by the Trinity College University London, which I acquired 23 years ago while I was living in England. Additionally I acquired three years ago a certificate by the German Federal Office for Migrants and Refugees for teaching in integration courses. I also hold all licenses as an examiner  in German language examinations (A-C + DSH), like the "Certificate German" (Deutsch Zertifikat) and the "Certificate German for Jobs", plus  DTZ. I'm also experienced in the preparation for the German citizenship test. Besides private teaching I'm working in Berlin at German language schools acknowledged by the a.m. Federal Office for Migrants and Refugees and the European Social Fond and work as an examiner. I regularly attend seminaries on realizations of new teaching approaches to learners of different needs and backgrounds.
 

                          <br>
                          <br>
                        </td>
                    </tr>
                    
                    <tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Frequently Asked Questions</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                    </td>
                                </tr>
                            </tbody></table>
                          Teaching schedule:<br>- The teaching schedule will be  arranged individually. <br><br>Payment policy:<br>- Payments in advance for a minimum of four lessons by PayPal or bank transfer.<br><br> Cancellation policy: <br>You might know that the normal announcement for a cancellation is 24 hours in advance in many private or single arrangements of all sorts of businesses.  But the experience showed that it happens in almost all sorts of businesses that people get short term notifications which they couldn't have foreseen 24 hours in advance. Therefore my cancellation policy is as follows (exceptions due to situation and circumstances are always possible):<br>
 
24 hours in advance:  No charge.<br>12 hours in advance:  Third price of cancelled lessons.<br>  6 hours in advance:  Half prie of cancelled lessons.<br>  3 hours in advance:  Full price of cancelled lessons.<br><br>W hy me?<br>- I'm certain to be able to cover any learning needs of students whatever field they come from, as I've been working with a wide variety of students coming from all professions, e.g., Attorneys, Architects, Engineers, Physicians, Psychologists , Conductors, Opera singers, Actors, Journalists, as well as business people from all areas, e.g. PAREXEL Medical Research Company, British Gas, Rolls Royce, Real Estate Agencies, to name but a few. Not to forget to mention the many students of all ages, who wanted to come and live in Germany.<br><br>A ny other questions:<br>- You are welcome to ask any other lesson relevant questions when you contact me.
                          <br>
                          <br>
                        </td>
                    </tr>
                    

                    <tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Cost of Lessons</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                        
                                    </td>
                                </tr>
                            </tbody></table>
                          Fees are the same for both, online lessons and live-in-perso n lessons.<br><br>- The first lesson is free (trial lesson).<br><br>L ength of lessons and costs::<br><br>- 30 minutes units, one-to-one, costs depending on level and needs, and number of hours booked in advance.<br>- 45 minutes units, one-to-one, costs depending on level and needs, and number of hours booked in advance.<br>- 60 minutes units, one-to-one, costs depending on level and needs, and number of hours booked in advance.<br>- 90 minutes units, one-to-one, costs depending on level and needs, and number of hours booked in advance.<br>- Reductions for groups. <br>- If you book a package of at least 16 units in advance I'll provide you with a German text book of the newest standard including a work book CD,  according to your level, which will be send to you.<br><br>All fees include providing you with useful material, like tables and audio files. I am available per email and text messages for questions while you're working on your course, and for correcting your homework before the actual lesson etc.
                          <br>
                          <br>
                        </td>
                    </tr>


                    <tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <a name="Activity"></a>
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Activity</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                    </td>
                                </tr>
                            </tbody></table>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                <td width="25%" valign="top" align="left">Profile Creation:</td>
                                <td>
                                March 4, 2010
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" valign="top" align="left">Profile Last Edit:</td>
                                <td>
                                March 18, 2020
                                </td>
                            </tr>
                            <tr>
                                <td width="25%" valign="top" align="left">Last Login:</td>
                                <td>
                                June 18, 2022
                                <br>
                                <br>
                                </td>
                            </tr>

                            
                            <tr>
                                <td width="25%" valign="bottom" align="left">Response time of most recent learner enquiry:</td>
                                <td valign="middle">
                                <font color="green">same day</font>
                                <br>
                                <br>
                                </td>
                            </tr>
                            
                          </tbody></table>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" align="left">
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                    <td width="1%" nowrap="" align="left">
                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                            <tbody><tr>
                                                <td width="1%" nowrap="" bgcolor="#dfe7df" align="left">
                                                <img src="images/spacer.gif" width="1" height="1"><br>
                                                <font color="ForestGreen"><b>Contact Information</b></font>
                                                </td>
                                            </tr>
                                        </tbody></table>    
                                    </td>       
                                    <td class="smaller" width="100%" valign="bottom" align="right">
                                        <!-- text can go here -->
                                        <img src="images/spacer.gif" width="1" height="2"><br>          
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody><tr>
                                                <td bgcolor="#dfe7df">
                                                <img src="images/spacer.gif" width="100%" height="1"><br>                                   
                                                </td>
                                            </tr>
                                        </tbody></table>        
                                    </td>
                                </tr>
                            </tbody></table>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                <td width="100%" valign="top" align="left">
    Buy custom lessons from  Marion Charlotte Oploh.<br>
    Send email <a href="SendTeacher.asp?uid=21752" title="Contact this teacher.">here</a>.<br>
    Telephone contact is not available. Please <a href="SendTeacher.asp?uid=21752" title="Contact this teacher.">send email here</a>.
                                </td>
                            </tr>
                            </tbody></table>
                        </td>
                    </tr>

                </tbody></table>
            </td>
          </tr>
        </tbody></table>
               
        </td>
     </tr>
    </tbody></table>
    <br>     
    <a href="SendTeacher.asp?uid=21752" title="Contact this teacher."><b>Contact Marion Charlotte Oploh now</b></a> to buy personal and custom lessons.<br>

    <br>
     


<!-- Navigation -->   
<!-- Share on Facebook, etc. -->
<!-- script type="text/javascript" src="http://cdn.wibiya.com/Toolbars/dir_1019/Toolbar_1019630/Loader_1019630.js"></script><noscript><a href="http://www.wibiya.com/">Web Toolbar by Wibiya</a></noscript-->


<br>

    <a href="TeacherReviews.asp?UId=21752"><b>Read reviews of this teacher</b></a>&nbsp;&nbsp;
    
  <a href="ReviewT.asp?UId=21752"><b>Write a review of this teacher</b></a><br>

  <a href="/Teachers/Default.asp?selX6=53&amp;selCountry=119&amp;txtCity=Addis+Ababa"><b>Back to Search Results</b></a>&nbsp;&nbsp;

<a href="default.asp"><b>Search teachers</b></a>&nbsp;&nbsp;


            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/TeacherInfo.asp?uid=21752" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FTeacherInfo.asp%3Fuid%3D21752&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f38cfb61b898c" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a3079c63ea5fe%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff37c0b88fd4a042%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FTeacherInfo.asp%3Fuid%3D21752&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
        </tr>
