<tr>
          <td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin -->
<h2>Your Profile Summary</h2>

	<div style="max-width: 760px; width:92vw; overflow:auto;">
     <table bordercolorlight="Moccasin" width="99.5%" cellspacing="0" cellpadding="3" bordercolor="DarkMagenta" border="1">
     <tbody><tr bgcolor="ForestGreen">
     <!-- tr bgcolor="#d4e6d4" -->
       <td width="1%" valign="bottom"><b><font color="Ivory">Screen Name</font></b></td>
       <td width="1%" valign="bottom"><b><font color="ivory">Email Address</font></b></td>
       <td width="1%" valign="bottom"><b><font color="ivory">Profile (Teacher Wanted Ad)</font></b></td>
     </tr>
        <tr bgcolor="Ivory">
          <td valign="top">
            <b>cleoordioni</b>
          </td>
          <td valign="top">
            
              <b>cleo.ordioni@gmail.com</b>
            
          </td>
          <td valign="top">
          
            Learn: <b>English</b><br>
            City: <b>paris</b><br>
            Country: <b>France</b><br>
            <a href="LearnerAdCreate.asp?showmenu=1">Edit my profile</a>
          
          </td>
        </tr>
    </tbody></table>
	</div>


<br>
<a href="SignUpLearner.asp?showmenu=1">Edit my profile</a><br>
<a href="PassWReset.asp?IsTeacher=0">Change password</a><br>
<a href="LearnerAdCreate.asp?showmenu=1">Deactivate my profile</a> - set Activate This Ad to No<br>
<a href="LearnerDelete.asp">Delete my profile</a><br>
<a href="MsgAllL.asp">View messages and statuses</a><br>
<br>
<br>
<br>
<a name="Contacts"></a>
<h2>Contacts Summary</h2>


<table width="25%" cellspacing="1" cellpadding="1" border="0">
    <tbody><tr>
        <td nowrap="">Total number of messages :</td>
        <td>0</td>
    </tr>
    <tr>
        <td nowrap="">Total number of teachers :</td>
        <td>0</td>
    </tr>
</tbody></table>
<a href="MsgAllL.asp">View messages and statuses</a>
<br>
<br>




 <br>
 <br>
 <br>
           
    
            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/Learner.asp" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLearner.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f294b873d9d5e82" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1ee51ee927a862%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ffe02b2992e29a8%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLearner.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
        </tr>
