<td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin --> 
<h2>Create Multimedia Self-study Language Lessons and Quizzes</h2>


<table class="Narrow100Pct" width="25%" cellspacing="0" cellpadding="3" border="0" bgcolor="Ivory" align="right">
    <tbody><tr bgcolor="ForestGreen">
        <td><font color="Ivory"><b>Create Language Lesson</b></font>
        </td>
    </tr>
    <tr bgcolor="ForestGreen">
        <td>
            <table width="100%" cellspacing="1" cellpadding="2" border="0" bgcolor="WHITE">
                <tbody><tr>
                    <td bgcolor="WHITE">
                        <a href="rte/rte/LessonPhraseEdit.asp">Lesson/Quiz Generator</a>
                        <!-- i><b><font color=ForestGreen>Best!</font></b></i-->
                    </td>
                </tr>
                <tr>
                    <td bgcolor="WHITE">
                        <a href="rte/rte/LessonFCardEdit.asp">Flash Card Quiz Creator</a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="WHITE">
                        <a href="rte/rte/LessonMChoiceEdit.asp">Multiple Choice Quiz Creator</a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="WHITE">
                        <a href="rte/rte/LessonEdit.asp?Type=13">Fill-in-the-blank Quiz Creator</a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="WHITE">
                        <a href="rte/rte/LessonEdit.asp">Advanced Lesson Editor</a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="WHITE">
                        <a href="rte/rte/LessonEdit.asp?Type=91">Articles</a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="WHITE">
                        <a href="LessonListMine.asp">Edit My Lessons</a>
                    </td>
                </tr>
                    
                
            </tbody></table>
        </td>
    </tr>
</tbody></table>

<h3>Promote Yourself to More Learners</h3>
<ul>
    <li>Get exposure to learners <b><i>before</i></b> they start looking for a teacher.
    </li><li>Establish credibility!
    </li><li>Build trust and develop rapport with potential clients!
    </li><li>Earn more tuition per hour.
    </li><li>Increase your conversion ratio.
    </li><li>Complement your personal classes.
    </li><li>Increase your rankings in the teachers search results on this site!
    </li><li>Web-based. We publish your lessons to the world!
</li></ul>
<br>

<h3>Powerful!</h3>
<ul>
<li>Insert your own voice recording.
</li><li>Insert images for quizzes or friendlier appearance.
</li><li>Type in any language. All languages are rendered correctly on the same page simultaneously.
For example, teach Chinese characters to a Russian learner using Russian as the language of instruction.
</li><li>Instant rich text formatting. You have complete contol over color and formatting! 
</li><li>Make quizzes to reinforce the material in your lessons. Make multiple choice, flashcard or fill-in-the-blanks type quizzes.
</li><li>Link to your other lessons or quizzes to create an entire language course!
<!--LI>Learner progress is tracked by system so she can repeat difficult materials.
  (Lesson/quiz generator only.)-->
</li><li>Several authoring tools to choose from. Use templates for speed and ease.
Or use the advanced lesson editor to have complete control of appearance, composition and function.
</li></ul>

<h3>Easy!</h3>
<ul>
<li>Insert voice and picture files 
  like attaching files to your email.
</li><li>Format your text and images with a few clicks like in Word! 
</li><li>Record your own voice files using 
  your computer and a regular computer microphone!
</li><li>Create quizzes automatically! Use a template and just fill in the blanks.
For example, our Lesson/Quiz Generator creates both a lesson and a set of random flashcard quizzes simultaneously.
</li><li>Preview your lesson instantly. See and hear your lesson as a learner.
</li><li>Save as draft and preview. Go live at any time. 
</li></ul>




<h3>Samples and Demos</h3>
See a <a target="_blank" href="rte/rte/LessonView.asp?Id=436">sample language lesson here</a>.<br>
Take a <a target="_blank" href="rte/rte/LessonPhraseView.asp?Id=513">sample lesson and quizzes</a>
where both were simultaneously created by the Lesson/Quiz Generator.
Quiz results are tracked by the system!<br>
Try a <a target="_blank" href="rte/rte/LessonView.asp?Type=13&amp;Id=579">fill-in-the-blank quiz</a><br>
Try a <a target="_blank" href="rte/rte/LessonFCardView.asp?Id=171">sample audio flash card quiz here</a>.<br>
Try a <a target="_blank" href="rte/rte/LessonMChoiceView.asp?Id=430">sample audio multiple choice quiz here</a>.<br>
Create a lesson with the <a href="rte/rte/LessonEdit.asp?demo=1">Advanced Lesson Editor demo now</a>!<br>

<br> 

<h3>How to Create Your Language Lesson</h3>

You can choose from any of the following tools to create your lessons or quizzes easily.<br>
<ul>
<li><a href="rte/rte/LessonPhraseEdit.asp">Lesson/Quiz Generator</a> -
<!-- i><b><font color=ForestGreen>Best!</font></b></i> - -->
Makes integrated lesson and flash card quizzes automatically.
Learner quiz results are tracked so he can review difficult materials.
Enter up to 12 phrases along with audio or script or picture images.
See <a target="_blank" href="rte/rte/LessonPhraseView.asp?Id=274">example lesson/quiz here</a>.<br>
</li><li><a href="rte/rte/LessonFCardEdit.asp">Flash Card Quiz Creator</a> - 
Manually define your audio/picture quiz. Fill in the blanks.
<br>
</li><li><a href="rte/rte/LessonMChoiceEdit.asp">Multiple Choice Quiz Creator</a> - 
Manually define up to 12 audio/picture questions and answers. 
Fill in the blanks.<br>
</li><li><a href="rte/rte/LessonEdit.asp">Advanced Lesson Editor</a> -
Rich text editor gives you complete control of alignment, color, text size, etc. 
Insert audio links or images anywhere you want.
</li><li><a href="rte/rte/LessonEdit.asp?Type=13">Fill-in-the-blank Quiz Creator</a> -
Create free format quiz. Insert your blank anywhere on your page. Combine with all
features of the rich text editor to create fun and interesting quizzes.
<a href="rte/rte/LessonEdit.asp?demo=1&amp;Type=13">Try a demo</a>.
<br>
</li></ul>
<br>


<a href="LessonListMine.asp">Edit My Lessons</a> - Edit lessons and quizzes you have already created.
<br>
<br>

            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/LessonCreate.asp" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLessonCreate.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f2246fcf82251f" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2f7d855585ded6%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff249803a1d7caec%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLessonCreate.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
