<tr>
          <td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin --> 
<h2>Lesson/Quiz Generator - Phrases</h2>


<ul>
    <li>Make integrated lesson and flash card quizzes automatically.<br>
    </li><li>Learner quiz results are tracked so he can review difficult materials.<br>
    </li><li>Enter up to 12 phrases along with audio or script or picture images.<br>
    </li><li>At least 4 phrases are required to generate quizzes.<br>
    </li><li>See <a target="_blank" href="LessonPhraseView.asp?Id=274">example lesson/quiz</a>.<br>
</li></ul>
<br>
<br>

 
 <table width="100%" cellspacing="0" cellpadding="0" border="0">
   <tbody><tr><td bgcolor="ForestGreen"><font color="#FFFFFF"><b>&nbsp;Page 1/2 - Summary Information</b></font></td></tr>
   <tr>
     <td bgcolor="Ivory">  
       <form method="post" action="/Teachers/rte/rte/LessonPhraseEdit.asp" name="LessonForm" id="LessonForm">
         <table class="TblInputForm" width="100%" cellspacing="0" cellpadding="0" border="0">

           <tbody><tr>
             <td>Title:</td>
             <td><input type="text" name="txtTitle" value="" style="max-width: 450px; width:100%"></td>
           </tr>

           <tr>
             <td width="30%">
               Language learned:
             </td>
             <td>
               <script>$(document).ready(function() {    $('.select-suggestselX3Learn').select2();});</script><select name="selX3Learn" id="selX3Learn" size="1" class="select-suggestselX3Learn select2-hidden-accessible" data-select2-id="selX3Learn" tabindex="-1" aria-hidden="true"><option value="null" data-select2-id="2"></option><option value="77">Afrikaans</option><option value="60">Albanian</option><option value="94">Amharic (Ethiopian)</option><option value="18">Arabic, Egyptian</option><option value="3">Arabic, Middle Eastern</option><option value="2">Arabic, Moroccan</option><option value="4">Arabic, other</option><option value="82">Aramaic</option><option value="64">Armenian</option><option value="78">Assyrian</option><option value="72">Azerbaijani</option><option value="7">Basque</option><option value="8">Bengali</option><option value="9">Berber</option><option value="59">Bosnian</option><option value="10">Bulgarian</option><option value="97">Burmese</option><option value="65">Cambodian (Khmer)</option><option value="55">Catalan</option><option value="104">Cebuano (Bisaya)</option><option value="95">Chichewa (Nyanja)</option><option value="11">Chinese, Cantonese</option><option value="12">Chinese, Mandarin</option><option value="13">Chinese, other</option><option value="14">Creole</option><option value="83">Croatian</option><option value="15">Czech</option><option value="16">Danish</option><option value="17">Dutch</option><option value="1">English</option><option value="19">Esperanto</option><option value="63">Estonian</option><option value="88">Fijian</option><option value="20">Filipino (Tagalog)</option><option value="21">Finnish</option><option value="22">French</option><option value="68">Gaelic (Irish)</option><option value="69">Gaelic (Scottish)</option><option value="79">Galician</option><option value="110">Ganda (Luganda)</option><option value="71">Georgian</option><option value="23">German</option><option value="24">Greek</option><option value="74">Gujarati</option><option value="112">Hausa</option><option value="73">Hawaiian</option><option value="25">Hebrew</option><option value="26">Hindi</option><option value="27">Hungarian</option><option value="56">Icelandic</option><option value="108">Igbo (Ibo)</option><option value="5">Indonesian</option><option value="28">Iranian</option><option value="29">Italian</option><option value="30">Japanese</option><option value="107">Kachchi</option><option value="67">Kannada</option><option value="91">Kazakh</option><option value="31">Korean</option><option value="53">Kurdish</option><option value="103">Kyrgyz</option><option value="84">Lao</option><option value="57">Latin</option><option value="62">Latvian</option><option value="61">Lithuanian</option><option value="66">Lombard</option><option value="87">Macedonian</option><option value="93">Malayalam</option><option value="6">Malaysian</option><option value="96">Maltese</option><option value="85">Marathi</option><option value="106">Montenegrin</option><option value="101">Native American (Ojibway, Cree, Algonquian, etc.)</option><option value="81">Nepali</option><option value="32">Norwegian (Norsk)</option><option value="90">Oriya</option><option value="33">Persian (Farsi, Dari)</option><option value="34">Polish</option><option value="35">Portuguese</option><option value="36">Punjabi</option><option value="58">Pushto (Pashto)</option><option value="80">Quechua</option><option value="37">Romanian</option><option value="89">Romansch</option><option value="38">Russian</option><option value="109">Rwanda (Kinyarwanda, Urunyaruanda)</option><option value="99">Sanskrit</option><option value="39">Serbian (Serbo-Croatian)</option><option value="40">Sign Language</option><option value="76">Sindhi</option><option value="86">Sinhalese</option><option value="41">Slovak</option><option value="54">Slovenian</option><option value="100">Somali</option><option value="42">Spanish</option><option value="43">Swahili</option><option value="44">Swedish</option><option value="111">Swiss German</option><option value="45">Tamil</option><option value="75">Telugu</option><option value="46">Thai</option><option value="47">Tibetan</option><option value="105">Tigrigna (Tigray, Tigrinya)</option><option value="92">Tswana</option><option value="102">Tumbuka</option><option value="48">Turkish</option><option value="49">Ukrainian</option><option value="50">Urdu</option><option value="114">Uzbek</option><option value="51">Vietnamese</option><option value="70">Welsh</option><option value="52">Yiddish</option><option value="113">Yoruba</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 328.133px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-selX3Learn-container"><span class="select2-selection__rendered" id="select2-selX3Learn-container" role="textbox" aria-readonly="true" title=""></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
             </td>
           </tr>

           <tr>
             <td>Language of instruction:<br>
             <font color="gray"><small>(explanations, etc. )</small></font>
             </td>
             <td>
               <script>$(document).ready(function() {    $('.select-suggestselX3Inst').select2();});</script><select name="selX3Inst" id="selX3Inst" size="1" class="select-suggestselX3Inst select2-hidden-accessible" data-select2-id="selX3Inst" tabindex="-1" aria-hidden="true"><option value="null"></option><option value="77">Afrikaans</option><option value="60">Albanian</option><option value="94">Amharic (Ethiopian)</option><option value="18">Arabic, Egyptian</option><option value="3">Arabic, Middle Eastern</option><option value="2">Arabic, Moroccan</option><option value="4">Arabic, other</option><option value="82">Aramaic</option><option value="64">Armenian</option><option value="78">Assyrian</option><option value="72">Azerbaijani</option><option value="7">Basque</option><option value="8">Bengali</option><option value="9">Berber</option><option value="59">Bosnian</option><option value="10">Bulgarian</option><option value="97">Burmese</option><option value="65">Cambodian (Khmer)</option><option value="55">Catalan</option><option value="104">Cebuano (Bisaya)</option><option value="95">Chichewa (Nyanja)</option><option value="11">Chinese, Cantonese</option><option value="12">Chinese, Mandarin</option><option value="13">Chinese, other</option><option value="14">Creole</option><option value="83">Croatian</option><option value="15">Czech</option><option value="16">Danish</option><option value="17">Dutch</option><option value="1" selected="" data-select2-id="4">English</option><option value="19">Esperanto</option><option value="63">Estonian</option><option value="88">Fijian</option><option value="20">Filipino (Tagalog)</option><option value="21">Finnish</option><option value="22">French</option><option value="68">Gaelic (Irish)</option><option value="69">Gaelic (Scottish)</option><option value="79">Galician</option><option value="110">Ganda (Luganda)</option><option value="71">Georgian</option><option value="23">German</option><option value="24">Greek</option><option value="74">Gujarati</option><option value="112">Hausa</option><option value="73">Hawaiian</option><option value="25">Hebrew</option><option value="26">Hindi</option><option value="27">Hungarian</option><option value="56">Icelandic</option><option value="108">Igbo (Ibo)</option><option value="5">Indonesian</option><option value="28">Iranian</option><option value="29">Italian</option><option value="30">Japanese</option><option value="107">Kachchi</option><option value="67">Kannada</option><option value="91">Kazakh</option><option value="31">Korean</option><option value="53">Kurdish</option><option value="103">Kyrgyz</option><option value="84">Lao</option><option value="57">Latin</option><option value="62">Latvian</option><option value="61">Lithuanian</option><option value="66">Lombard</option><option value="87">Macedonian</option><option value="93">Malayalam</option><option value="6">Malaysian</option><option value="96">Maltese</option><option value="85">Marathi</option><option value="106">Montenegrin</option><option value="101">Native American (Ojibway, Cree, Algonquian, etc.)</option><option value="81">Nepali</option><option value="32">Norwegian (Norsk)</option><option value="90">Oriya</option><option value="33">Persian (Farsi, Dari)</option><option value="34">Polish</option><option value="35">Portuguese</option><option value="36">Punjabi</option><option value="58">Pushto (Pashto)</option><option value="80">Quechua</option><option value="37">Romanian</option><option value="89">Romansch</option><option value="38">Russian</option><option value="109">Rwanda (Kinyarwanda, Urunyaruanda)</option><option value="99">Sanskrit</option><option value="39">Serbian (Serbo-Croatian)</option><option value="40">Sign Language</option><option value="76">Sindhi</option><option value="86">Sinhalese</option><option value="41">Slovak</option><option value="54">Slovenian</option><option value="100">Somali</option><option value="42">Spanish</option><option value="43">Swahili</option><option value="44">Swedish</option><option value="111">Swiss German</option><option value="45">Tamil</option><option value="75">Telugu</option><option value="46">Thai</option><option value="47">Tibetan</option><option value="105">Tigrigna (Tigray, Tigrinya)</option><option value="92">Tswana</option><option value="102">Tumbuka</option><option value="48">Turkish</option><option value="49">Ukrainian</option><option value="50">Urdu</option><option value="114">Uzbek</option><option value="51">Vietnamese</option><option value="70">Welsh</option><option value="52">Yiddish</option><option value="113">Yoruba</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="3" style="width: 328.133px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-selX3Inst-container"><span class="select2-selection__rendered" id="select2-selX3Inst-container" role="textbox" aria-readonly="true" title="English">English</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
             </td>
           </tr>
           
           <tr>
             <td>Proficiency level:</td>
             <td>
               <script>$(document).ready(function() {    $('.select-suggestselLevel').select2();});</script><select name="selLevel" id="selLevel" size="1" class="select-suggestselLevel select2-hidden-accessible" data-select2-id="selLevel" tabindex="-1" aria-hidden="true"><option value="null" data-select2-id="6"></option><option value="1">Beginner</option><option value="2">Beginner/Intermediate</option><option value="3">Intermediate</option><option value="4">Advanced/Intermediate</option><option value="5">Advanced</option><option value="6">All levels</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="5" style="width: 173.25px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-selLevel-container"><span class="select2-selection__rendered" id="select2-selLevel-container" role="textbox" aria-readonly="true" title=""></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
             </td>
           </tr>
           
           <tr>
             <td>Area of study:</td>
             <td>
               <script>$(document).ready(function() {    $('.select-suggestselCat1').select2();});</script><select name="selCat1" id="selCat1" size="1" class="select-suggestselCat1 select2-hidden-accessible" data-select2-id="selCat1" tabindex="-1" aria-hidden="true"><option value="null" data-select2-id="8"></option><option value="1">Conversation</option><option value="2">Pronounciation</option><option value="3">Grammar</option><option value="4">Vocabulary</option><option value="5">Comprehension</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="7" style="width: 125.433px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-selCat1-container"><span class="select2-selection__rendered" id="select2-selCat1-container" role="textbox" aria-readonly="true" title=""></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
             </td>
           </tr>
           
           <!-- tr>
             <td><font color="red"></font>Type of material</td>
             <td>
               <script>$(document).ready(function() {    $('.select-suggestselCat2').select2();});</script><select name="selCat2" id="selCat2" size="1"   class='select-suggestselCat2'><option value="null" ><option value="1" >Lesson<option value="2" >Exercise<option value="3" >Quiz/Test<option value="4" >Drill<option value="5" >Game</select>
             </td>
           </tr-->
            <!-- Hard code to Lesson until others available-->
            <input type="hidden" value="1" name="selCat2" id="selCat2">  
           
           <tr bgcolor="#dfe7df">
             <td colspan="6">&nbsp;&nbsp;<br>
             </td>
           </tr>

	       <tr>
	         <td colspan="6">
				<input type="hidden" value="1" name="hidPNum" id="hidPNum">  
				<input type="hidden" value="1" name="hidProc" id="hidProc">
				<input type="submit" value="Next" id="submit" name="submit">
				&nbsp;Go to lesson editor.
			 </td>
		   </tr>
         </tbody></table>
       </form>
     </td>
   </tr>     
 </tbody></table>     


<br>
<br>
<a href="../../LessonList.asp"><b>Lessons Home</b></a><br>
<a href="../../LessonListMine.asp"><b>Edit My Lessons</b></a> - Edit your existing lessons, quizzes, etc.<br>

            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/rte/rte/LessonPhraseEdit.asp" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2Frte%2Frte%2FLessonPhraseEdit.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f3aec12b9f20374" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df218518ac2c6aea%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff39d98b96ac93a%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2Frte%2Frte%2FLessonPhraseEdit.asp&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
        </tr>
