<tr>
          <td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin -->
<h2>Self-study Online Lessons and Quizzes of Teacher: <a style="font-size: 10pt" href="TeacherInfo.asp?uid=21752">Marion Charlotte Oploh</a></h2>

  <small>
  Sort results by:
  
    <font color="gray">Rating</font> |
  
    <a class="FadeLinkSmall" href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Sort=Title">Title</a> |
  
    <a class="FadeLinkSmall" href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Sort=CrDate">Creation date</a>
  <br><br></small>Click on a title to view.<br>Total found: 24 !<br>Pages:&nbsp;&nbsp;<font class="PageCurr">1</font>&nbsp;&nbsp;<a href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Cnt=2"><font class="PageNums">2</font></a>&nbsp;&nbsp;<a href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Cnt=3"><font class="PageNums">3</font></a>&nbsp;&nbsp;<a href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Cnt=2"><font class="PageNums">[Next&gt;&gt;]</font></a>&nbsp;&nbsp;<br>
  <table bordercolorlight="Ivory" width="100%" cellspacing="0" cellpadding="1" bordercolor="#d4e6d4" border="1">
  <tbody><tr bgcolor="#d4e6d4">
    <td width="65%">
      <b><font color="DarkGreen">Title</font></b>
    </td>
    <td>
      <b><font color="DarkGreen">Type</font></b>
    </td>
    <td>
      <b><font color="DarkGreen">Learn</font></b>
    </td>
    <td>
      <b><font color="DarkGreen"># Views</font></b>
    </td>
  </tr>
<tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=420" class="BoldLink">02-B:   Nouns and Articles - Introduction (2)</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 104 reviews</font>
        <br>
          <font color="gray"><small>
          August 13, 2010
          </small></font>
        </td>
        <td valign="top">
          Lesson
        </td>
        <td valign="top">
          
            <a href="LessonList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner/Intermediate, Grammar)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          2193
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=416" class="BoldLink">06-A:   Numbers from 1 to 39 and pronunciation (1)</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 70 reviews</font>
        <br>
          <font color="gray"><small>
          August 11, 2010
          </small></font>
        </td>
        <td valign="top">
          Lesson
        </td>
        <td valign="top">
          
            <a href="LessonList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner, Pronounciation)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          1202
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=419" class="BoldLink">02-A:   Nouns and Articles - Introduction (1)</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 81 reviews</font>
        <br>
          <font color="gray"><small>
          August 13, 2010
          </small></font>
        </td>
        <td valign="top">
          Lesson
        </td>
        <td valign="top">
          
            <a href="LessonList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner/Intermediate, Grammar)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          1828
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Type=13&amp;Id=578" class="BoldLink">02-C: Nouns and Articles  -  Test</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 55 reviews</font>
        <br>
          <font color="gray"><small>
          April 17, 2011
          </small></font>
        </td>
        <td valign="top">
          Quiz, fill-in-the-blank
        </td>
        <td valign="top">
          
          <small>
          <font color="gray">
          (Beginner/Intermediate, Comprehension)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          942
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=417" class="BoldLink">06-B:   Numbers from 40 to 100 and pronunciation (2)</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 62 reviews</font>
        <br>
          <font color="gray"><small>
          August 11, 2010
          </small></font>
        </td>
        <td valign="top">
          Lesson
        </td>
        <td valign="top">
          
            <a href="LessonList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner, Pronounciation)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          1044
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=534" class="BoldLink">08:   Prepositions</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 35 reviews</font>
        <br>
          <font color="gray"><small>
          February 12, 2011
          </small></font>
        </td>
        <td valign="top">
          Lesson
        </td>
        <td valign="top">
          
            <a href="LessonList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner/Intermediate, Grammar)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          2469
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Type=13&amp;Id=579" class="BoldLink">03-D:   Auxiliary verbs SEIN = to be + HABEN = to have   -   TEST</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 37 reviews</font>
        <br>
          <font color="gray"><small>
          April 20, 2011
          </small></font>
        </td>
        <td valign="top">
          Quiz, fill-in-the-blank
        </td>
        <td valign="top">
          
          <small>
          <font color="gray">
          (Beginner/Intermediate, Comprehension)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          555
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=425" class="BoldLink">12:   Weekdays and Months</a><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 37 reviews</font>
        <br>
          <font color="gray"><small>
          August 17, 2010
          </small></font>
        </td>
        <td valign="top">
          Lesson
        </td>
        <td valign="top">
          
            <a href="LessonList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner, Vocabulary)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          905
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonMChoiceView.asp?Id=430" class="BoldLink">14:   Multiple choice quiz - miscellaneous from lessons by Marion</a><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 67 reviews</font>
        <br>
          <font color="gray"><small>
          August 19, 2010
          </small></font>
        </td>
        <td valign="top">
          Quiz, multiple choice
        </td>
        <td valign="top">
          
            <a href="LessonQuizList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner/Intermediate, Comprehension)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          1415
        </td>
    </tr><tr bgcolor="Ivory">
        <td valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=437" class="BoldLink">03-B:   Table of conjugation of regular an irregular  Verbs</a><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 55 reviews</font>
        <br>
          <font color="gray"><small>
          August 21, 2010
          </small></font>
        </td>
        <td valign="top">
          Lesson
        </td>
        <td valign="top">
          
            <a href="LessonList.asp?X3Id=23">German</a>
          
          <small>
          <font color="gray">
          (Beginner/Intermediate, Grammar)
          </font></small>
          
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
        <td valign="top">
          1289
        </td>
    
  </tr></tbody></table>
  Total found: 24 !<br>Pages:&nbsp;&nbsp;<font class="PageCurr">1</font>&nbsp;&nbsp;<a href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Cnt=2"><font class="PageNums">2</font></a>&nbsp;&nbsp;<a href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Cnt=3"><font class="PageNums">3</font></a>&nbsp;&nbsp;<a href="/Teachers/LessonListTeacher.asp?uid=21752&amp;Cnt=2"><font class="PageNums">[Next&gt;&gt;]</font></a>&nbsp;&nbsp;<br>   
<br>

<br>
<b><font color="DarkGreen">Teachers and Tutors:</font></b><br>
<a href="LessonCreate.asp">Create Lesson/quiz</a> - Create your own lessons and/or quizzes!<br>
<!-- a href="rte/rte/LessonEdit.asp">Create a Lesson</a> - Publish your own language lessons and promote your services!<br>
<a href="rte/rte/LessonFCardEdit.asp">Create a Quiz</a> - Publish your own language quiz!<br -->
<a href="LessonListMine.asp">Edit My Lessons</a> - Update and improve your existing lessons or quizzes.<br>
<br>
<br>

<br>
<br>
<a href="LessonList.asp">Online Lessons Home</a>

            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/LessonListTeacher.asp?uid=21752" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLessonListTeacher.asp%3Fuid%3D21752&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f26238b859fa8c6" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df21035c30e064be%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff13fa696395cea%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLessonListTeacher.asp%3Fuid%3D21752&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
        </tr>
