<td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin --> 
<h2>Learn to Speak Hindi Online - Free Hindi Lessons</h2>


  <a href="LessonList.asp">Self-study Lessons</a>  

  &gt; <a href="LessonList.asp?X3id=26">Hindi</a>

    <br>
    <br>

<br>


  <small>
  Sort results by:
  
    <font color="gray">Rating</font> |
  
    <a class="FadeLinkSmall" href="/Teachers/LessonList.asp?x3Id=26&amp;Sort=Title">Title</a> |
  
    <a class="FadeLinkSmall" href="/Teachers/LessonList.asp?x3Id=26&amp;Sort=CrDate">Creation date</a>
  <br><br></small><small>Click on a title to view.</small><br>Total found: 15 !<br>Pages:&nbsp;&nbsp;<font class="PageCurr">1</font>&nbsp;&nbsp;<a href="/Teachers/LessonList.asp?x3Id=26&amp;Cnt=2"><font class="PageNums">2</font></a>&nbsp;&nbsp;<a href="/Teachers/LessonList.asp?x3Id=26&amp;Cnt=2"><font class="PageNums">[Next&gt;&gt;]</font></a>&nbsp;&nbsp;<br>
  <table class="TblDataRecs" bordercolorlight="Ivory" width="100%" cellspacing="0" cellpadding="1" bordercolor="#d4e6d4" border="1">
  
  <thead>
  <tr class="table-heading" bgcolor="#d4e6d4">
    <td width="65%">
      <b><font color="DarkGreen">Title</font></b>
    </td>
    <td>
      <b><font color="DarkGreen">Learn</font></b>
    </td>
    <!-- td>
      <b><font color=DarkGreen>Type</font></b></a>
    </td -->
    <td>
      <b><font views<="" font="" color="DarkGreen#"></font></b><font views<="" font="" color="DarkGreen#">
    </font></td>
  </tr>
  </thead>
<tbody><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=613" class="BoldLink">Useful Word and pronounce by Asha Patel</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=30740">asha patel</a>
          </font><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 372 reviews</font>
        <br>
          <font size="-2" color="gray">
          July 3, 2011
          <!--Edited: July 6, 2011</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner/Intermediate, Vocabulary)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         25603
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=813" class="BoldLink">Common Travel Expressions in Hindi</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=40863">hindihour.com Hindi Lessons for Foreigners in India</a>
          </font><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 235 reviews</font>
        <br>
          <font size="-2" color="gray">
          January 5, 2013
          <!--Edited: January 6, 2013</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner/Intermediate, Conversation)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         12398
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=568" class="BoldLink">Common Phrases &amp; Introductions</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=29801">Suhana Mishra</a>
          </font><br>
          
      <img src="images/Star4of5.jpg" alt="4 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 856 reviews</font>
        <br>
          <font size="-2" color="gray">
          April 11, 2011
          <!--Edited: April 11, 2011</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (All levels, Vocabulary)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         51203
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=187" class="BoldLink">Hindi script Devanagari and phonetics - vowels 2</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=9110">Pending</a>
          </font><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 285 reviews</font>
        <br>
          <font size="-2" color="gray">
          April 26, 2009
          <!--Edited: April 29, 2009</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner, Pronounciation)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         4562
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=88" class="BoldLink">Hindi greetings</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=9110">Pending</a>
          </font><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 407 reviews</font>
        <br>
          <font size="-2" color="gray">
          November 26, 2008
          <!--Edited: April 28, 2009</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner, Conversation)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         5028
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonView.asp?Id=106" class="BoldLink">Hindi Numbers 0-10</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=9110">Pending</a>
          </font><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 812 reviews</font>
        <br>
          <font size="-2" color="gray">
          December 10, 2008
          <!--Edited: October 25, 2009</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner, Vocabulary)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         49652
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=664" class="BoldLink">Hindi</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=33984">Himalayan Language Institute</a>
          </font><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 105 reviews</font>
        <br>
          <font size="-2" color="gray">
          December 1, 2011
          <!--Edited: December 1, 2011</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (All levels, Vocabulary)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         2164
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=586" class="BoldLink">colours</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=26505">Pending</a>
          </font><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 109 reviews</font>
        <br>
          <font size="-2" color="gray">
          April 27, 2011
          <!--Edited: April 27, 2011</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner, Conversation)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         10736
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=274" class="BoldLink">Hindi Greetings + quiz</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=9110">Pending</a>
          </font><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 285 reviews</font>
        <br>
          <font size="-2" color="gray">
          September 28, 2009
          <!--Edited: October 25, 2009</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner, Conversation)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         16992
        </td>
    </tr><tr bgcolor="Ivory">
		<td data-th="Title" class="userdata" valign="top">
          
          <a href="rte/rte/LessonPhraseView.asp?Id=941" class="BoldLink">Hindi Present Tense (conjugation)</a><br>

          <font color="gray">
          by <a href="LessonListTeacher.asp?uid=9110">Pending</a>
          </font><br>
          
      <img src="images/Star3of5.jpg" alt="3 stars of 5" width="69" height="14">
    
          <font size="-2" color="gray">- 85 reviews</font>
        <br>
          <font size="-2" color="gray">
          September 8, 2014
          <!--Edited: September 12, 2014</a-->
          </font>
        </td>
		<td data-th="Learn" class="userdata" valign="top">
          <a href="LessonList.asp?X3Id=26">Hindi</a>
          <small>
          <font color="gray">
          (Beginner, Grammar)
          </font></small>
        </td>
        <!-- td valign="top">
          <small>Lesson</small>
        </td -->
 		<td data-th="# Views" class="userdata" valign="top">
         4536
        </td>
    
  </tr></tbody></table>
  Total found: 15 !<br>Pages:&nbsp;&nbsp;<font class="PageCurr">1</font>&nbsp;&nbsp;<a href="/Teachers/LessonList.asp?x3Id=26&amp;Cnt=2"><font class="PageNums">2</font></a>&nbsp;&nbsp;<a href="/Teachers/LessonList.asp?x3Id=26&amp;Cnt=2"><font class="PageNums">[Next&gt;&gt;]</font></a>&nbsp;&nbsp;<br>   
    
    
<br>
<br>


<br>
<b><font color="DarkGreen">Teachers and Tutors:</font></b><br>
<a href="LessonCreate.asp">Create Lesson/quiz</a> - Create your own lessons and/or quizzes!<br>
<!-- a href="rte/rte/LessonEdit.asp">Create a Lesson</a> - Publish your own language lessons and promote your services!<br>
<a href="rte/rte/LessonFCardEdit.asp">Create a Quiz</a> - Publish your own language quiz!<br -->
<a href="LessonListMine.asp">Edit My Lessons</a> - Update and improve your existing lessons or quizzes.<br>

<br>
<br>

            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/LessonList.asp?x3Id=26" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLessonList.asp%3Fx3Id%3D26&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f14a9562dcf784" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1948b3297e46%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff1b276c61fdf%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2FLessonList.asp%3Fx3Id%3D26&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
