<td colspan="2" valign="top" bgcolor="#FFFFFF" align="left">
          <hr width="100%" size="1">
        <!-- Page Begin -->
  <a href="../../LessonList.asp">Self-study Lessons</a>
    &gt; <a href="../../LessonList.asp?X3id=26">Hindi</a>
    &gt; <a href="../../LessonList.asp?X3id=26&amp;Lid=1">Beginner</a> &gt; 

    <br>
    <br>

<h2 class="LessonH2">Hindi script Devanagari and phonetics - vowels 2</h2>


<br>

<table width="100%" cellspacing="0" cellpadding="1" border="0" bgcolor="#FFFFFF">
<tbody><tr> 
  <td valign="top"> 
    <style>.responsiveIMG {  max-width: 100%;  height: auto;}</style><br><div>
<table style="WIDTH: 430px; HEIGHT: 487px" width="296" cellspacing="1" cellpadding="1" border="0" align="left">
<tbody>
<tr valign="top">
<td colspan="3"><font size="5">Simple vowels</font></td></tr>
<tr valign="top">
<td width="15%"><font face="Times New Roman, Times, serif"><font size="5">अ</font></font></td>
<td width="15%">a</td>
<td><a id="Audio426200913138" onmouseover="SWFEmbed('Audio426200913138','my_documents/my_audios/9110/a.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/a.mp3"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></a></td></tr>
<tr valign="top">
<td><font face="Times New Roman, Times, serif"><font size="5">आ</font></font></td>
<td>aa</td>
<td><a id="Audio426200913203" onmouseover="SWFEmbed('Audio426200913203','my_documents/my_audios/9110/aa.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/aa.mp3"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></a></td></tr>
<tr valign="top">
<td><font face="Times New Roman, Times, serif"><font size="5">इ</font></font></td>
<td>i</td>
<td><a id="Audio426200913227" onmouseover="SWFEmbed('Audio426200913227','my_documents/my_audios/9110/i.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/i.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: 'Times New Roman'; mso-ansi-language: IT; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: IT; mso-bidi-language: AR-SA"><font face="Times New Roman, Times, serif"><font size="5">ई</font></font></span></td>
<td>ii</td>
<td><a id="Audio426200913610" onmouseover="SWFEmbed('Audio426200913610','my_documents/my_audios/9110/ii.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/ii.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: 'Times New Roman'; mso-ansi-language: IT; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: IT; mso-bidi-language: AR-SA"><font face="Times New Roman, Times, serif"><font size="5">उ</font></font></span></td>
<td>u</td>
<td><a id="Audio426200913642" onmouseover="SWFEmbed('Audio426200913642','my_documents/my_audios/9110/u.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/u.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: 'Times New Roman'; mso-ansi-language: IT; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: IT; mso-bidi-language: AR-SA"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 'Times New Roman'; mso-ansi-language: IT; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: IT; mso-bidi-language: AR-SA"><font face="Times New Roman, Times, serif"><font size="5">ऊ</font></font></span></span></td>
<td>uu</td>
<td><a id="Audio426200913707" onmouseover="SWFEmbed('Audio426200913707','my_documents/my_audios/9110/uu.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/uu.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td><span style="FONT-SIZE: 12pt; FONT-FAMILY: 'Times New Roman'; mso-ansi-language: IT; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: IT; mso-bidi-language: AR-SA"><span style="FONT-SIZE: 12pt; FONT-FAMILY: 'Times New Roman'; mso-ansi-language: IT; mso-fareast-font-family: 'Times New Roman'; mso-fareast-language: IT; mso-bidi-language: AR-SA"><font face="Times New Roman, Times, serif"><font size="5">ऋ</font></font></span></span></td>
<td>ri</td>
<td><a id="Audio426200913730" onmouseover="SWFEmbed('Audio426200913730','my_documents/my_audios/9110/ri.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/ri.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td colspan="3"><font size="5">Diphtongs</font></td></tr>
<tr valign="top">
<td><font face="Times New Roman, Times, serif"><font size="5">ए</font></font></td>
<td>e</td>
<td><a id="Audio426200913758" onmouseover="SWFEmbed('Audio426200913758','my_documents/my_audios/9110/e.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/e.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td><font face="Times New Roman, Times, serif"><font size="5">ऐ</font></font></td>
<td>ai</td>
<td><a id="Audio426200913819" onmouseover="SWFEmbed('Audio426200913819','my_documents/my_audios/9110/ai.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/ai.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td><font face="Times New Roman, Times, serif"><font size="5">ओ</font></font></td>
<td>o</td>
<td><a id="Audio426200913913" onmouseover="SWFEmbed('Audio426200913913','my_documents/my_audios/9110/o.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/o.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr>
<tr valign="top">
<td><font face="Times New Roman, Times, serif"><font size="5">औ</font></font></td>
<td>au</td>
<td><a id="Audio426200913937" onmouseover="SWFEmbed('Audio426200913937','my_documents/my_audios/9110/au.mp3'); return false;" title="Play sound" href="http://www.language-school-teachers.com/rte/rte/my_documents/my_audios/9110/au.mp3"><font size="5"><img class="responsiveIMG" src="http://www.language-school-teachers.com/rte/rte/images/MP3Player.bmp" width="73" height="24" border="0"></font></a></td></tr></tbody></table></div><br><br><br><br><br><br>
    
  </td>
</tr>
</tbody></table>


<br>
<table width="200" cellspacing="1" cellpadding="1" border="0">
<tbody><tr bgcolor="#dfe7df"> 
<td>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
    <tbody><tr bgcolor="#dfe7df"> 
      <td colspan="5" valign="top"><b><font color="ForestGreen">Was this lesson helpful?</font></b></td>
    </tr>
    
    
  <tr> 
  <!-- Separate TD is needed for IE innerHTML to work - it cannot set TR element -->
  <td id="ScoreAddForm"> 
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr> 
          <td align="center"><small><font color="black">No</font></small></td>
          <td></td>
          <td></td>
          <td></td>
          <td align="center"><small><font color="black">Yes!</font></small></td>
        </tr>
        <tr> 
          <td align="center"><a href="/Teachers/rte/rte/LessonView.asp?Id=187&amp;Score=1" onclick="ScoreAdd(1); return false;" rel="nofollow" class="TopMenuLinks2" title="Vote: Not useful">&nbsp;1&nbsp;</a></td>
          <td align="center"><a href="/Teachers/rte/rte/LessonView.asp?Id=187&amp;Score=2" onclick="ScoreAdd(2); return false;" rel="nofollow" class="TopMenuLinks2" title="Vote: Little bit useful">&nbsp;2&nbsp;</a></td>
          <td align="center"><a href="/Teachers/rte/rte/LessonView.asp?Id=187&amp;Score=3" onclick="ScoreAdd(3); return false;" rel="nofollow" class="TopMenuLinks2" title="Vote: Somewhat useful">&nbsp;3&nbsp;</a></td>
          <td align="center"><a href="/Teachers/rte/rte/LessonView.asp?Id=187&amp;Score=4" onclick="ScoreAdd(4); return false;" rel="nofollow" class="TopMenuLinks2" title="Vote: useful">&nbsp;4&nbsp;</a></td>
          <td align="center"><a href="/Teachers/rte/rte/LessonView.asp?Id=187&amp;Score=5" onclick="ScoreAdd(5); return false;" rel="nofollow" class="TopMenuLinks2" title="Vote: Very useful! Excellent lesson!">&nbsp;5&nbsp;</a></td>
        </tr>
        <!--tr>
          <td colspan=5 align=left>
            <small>Comments:</small><br>
            <textarea name="txaScore" Id="txaScore" rows="2"></textarea>
          </td>
        </tr-->
        </tbody></table>
    </td>
    </tr>
    
    </tbody></table>
</td>
</tr>
</tbody></table>
<script language="JavaScript">
<!--//

function ScoreAdd(Score) {
  //alert('AAAss');
  ajaxLessonScoreAdd(Score);
  //alert('BBBBAAAss');
  window.document.getElementById('ScoreAddForm').innerHTML='<tr><td>&nbsp;<br>Thank you for your feedback!</td></tr>';
}


function ajaxLessonScoreAdd(Score)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {
  // code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else if (window.ActiveXObject)
  {
  // code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
else
  {
  alert("Your browser does not support XMLHTTP!");
  }
xmlhttp.open("GET","LessonScoreAdd.asp?Id=187&Score="+Score,true);
//xmlhttp.open("GET","LessonScoreAdd.asp?Id=187&Score="+Score+"&Cmt="+Cmt,true);
xmlhttp.send(null);
  
}

//-->
</script>
 

<br>
            <!-- End of Page contents -->
              <!-- Facebook Like, etc. -->
              <br>
              <br>
              <br>
              <br>
              <fb:like href="http://www.mylanguageexchange.com/Teachers/rte/rte/LessonView.asp?Id=187" send="true" width="310px" show_faces="true" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=254680024583689&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2Frte%2Frte%2FLessonView.asp%3FId%3D187&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f37394f0bfa84fa" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/plugins/like.php?app_id=254680024583689&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df28fa79d0c19de%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff3a6fb25387e8d4%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fwww.mylanguageexchange.com%2FTeachers%2Frte%2Frte%2FLessonView.asp%3FId%3D187&amp;locale=en_US&amp;sdk=joey&amp;send=true&amp;show_faces=true&amp;width=310px" height="1000px" frameborder="0"></iframe></span></fb:like>
              <br>
            </td>
