 <tr>
     <td valign="top"><small>219153</small></td>
     <td class="userdata" valign="top">
       <b><a href="BBoardView.asp?MsgId=219153&amp;selX3=22&amp;selX6=1&amp;selCat=10&amp;txtSubj=&amp;txtBody=&amp;Cnt=">It members here?</a></b><br>
       Hie , anyone who is expert in phone and computer  repairing email me . <br><br>Spanish and French is what I want to learn .Anybody to teach ? <br>I will teach him/her English and Chichewa/Nyanja
		 <br>
		 <br>
         
         <small><font color="gray">Language pair: English;&nbsp;&nbsp;French</font></small><br>
         <small><font color="gray">Category: Computer Technology</font></small><br>
     </td>
     <td class="userdata" valign="top">
        Abraham<br>Samuel<br>
		<font color="gray"><small>November 4, 2015</small></font>
	 </td> 
     </tr>
