<table bordercolorlight="Ivory" width="100%" cellspacing="0" cellpadding="1" bordercolor="ForestGreen" border="1">
         <tbody><tr>
            <td valign="top">
            <table width="100%" cellspacing="0" cellpadding="2" border="0" bgcolor="Ivory">
                <tbody><tr>
                  <td bgcolor="#e9f2e9">Learner Name:
                  </td>
                  <td>
                     <a href="LearnerAd.asp?uid=190533"><b>Boer2001</b></a>
                  </td>
                </tr>
                <tr>
                    <td width="30%" valign="top" bgcolor="#e9f2e9" align="left">Learning Language</td>
                    <td>
                      Afrikaans
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">
                    City, State or Province
                    </td>
                    <td valign="top">Johannesburg, Gauteng
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">Country</td>
                    <td>South Africa</td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">Wants Lessons<br> Delivered by</td>
                    <td valign="top">
                      Live, in person,<br>Online or Telephone
                    </td>
                </tr>
                <tr>
                    <td valign="top" bgcolor="#e9f2e9" align="left">Description</td>
                    <td>
                      I want a female teacher that can do video call or skype, zoom, Google meet or any other video calls
                    </td>
                </tr>
            </tbody></table>
           
            </td>
         </tr>
         </tbody></table>
         <br>
