
				

                <!-- Page Begin -->

<h2>How to Do A Language Exchange</h2>
<table cellspacing="0" cellpadding="0" border="0">
<tbody><tr>
<td>
<p>You should practice using the Cormier method, a language exchange method that
has been proven for over 3 years at the C.E.L.M. school in Montreal, Canada.</p>
<h3>Overview</h3>
Following the Cormier method, you will practice with native speakers of the language you're learning, in small mixed groups of speakers of the two languages - ideally, between 2 and 4 people. Half the time, you will be speaking in the language you're practicing, and half the time in your own language - to give your exchange partners a chance to practice too.<br>
<br>
During your practice, you should use the lesson plans in the Chat Companion. This will provide the structure and activities needed in your language exchange. It is the next best thing to having an actual qualified teacher facilitate your practice session. But unlike in the typical teacher-led conversation class, you will totally forget the idea of grammar and instead practice using what you know - what you've studied before. The activities you will do and the way you will do them will help your listening comprehension, pronunciation and vocabulary. Your grammar will improve on its own with practice. In addition, depending on the lesson plan you use, you will work on other communication and conversation skills.<br>
<br>
This is the best practice that's ever been designed for people who have an intermediate level in their second language!<br>
<br>
Since MyLanguageExchange.com does not provide a teacher to facilitate your online language exchange, you will have to do some preparation work on your own before the actual practice, as well as try to follow some guidelines during the practice.&nbsp;<br>
<br>
<h3>Before You Practice</h3>
Before you practice, you should do the following to prepare.&nbsp;<br>
<br>
1.	Judge your level.<br>
2.	Form your practice group - choose your lesson plan.<br>
3.	Choose a guide for the practice session.

<h4><a name="a1"></a>1. Judge Your Level</h4>
<ul>
	<li>To practice live conversation, such as face-to-face meet up or using voice chat, you need to be at least at an intermediate level. You are at an intermediate level if you:
		<ul type="circle">
			<li>have mastered the basics of the language, which include basic vocabulary, grammar and pronunciation
			</li><li>can carry on a simple conversation - even if your sentences are not always grammatically correct, and even if you sometimes don't catch a word or a phrase
			</li><li>can get the gist of what is being said in everyday conversations with or by native speakers
			</li><li>understand 40 to 70 % of what native speakers 
          of the language say when they speak slowly.</li>                
		</ul>
	</li><li>If you're a beginner, you should start with 
        penpals and text chat - you can still use our Chat Companion with text 
        chat, but you can go slowly and there's no pressure to reply right away. 
        <a href="penpals.asp">Penpals</a> are for everyone because you can take your time writing email.
	</li><li>If you're not sure about your level, you can sit in on a voice chat session and just listen or try talking a little if you feel like it.
	</li><li>If your level is above intermediate, you're 
        perfect for live conversation either in a face-to-face meet up or via voice chat!</li>          
</ul>

<h4>2.	Forming Your Group - Choosing the Lesson Plan</h4>
<ul>
	<li>You should practice in small groups. This makes it easier to speak out and you get more opportunities to speak: 2 to 4 people is ideal. We provide lesson plans for larger groups, but encourage you to break up into smaller groups. Your group size will help determine which lesson plan to use.
	</li><li>When organizing your practice session, strive for equal numbers of speakers of each language.
	</li><li>Also, you can learn more if members practicing 
        the same language are at about the same level.</li>                
</ul>

<h4>3.	Choose a Guide</h4>
<ul>
  <li>We recommend that you select a guide from within your group and rotate guides at each practice session (take turns being the guide). The guide's role is to ensure that everyone gets a good practice session. He or she will:
  <ul type="circle">
  	<li>Operate the timer: tell everyone else to disable their timer by setting it to zero. When the timer expires, tell everyone to switch languages and change their lesson plans to the other language. 
  	</li><li>Read out the questions or instructions and make sure everyone understands what to do.
  	</li><li>Make sure people stick to the language being 
          practiced.</li>        
	</ul></li>
</ul>

<h3>During Your Practice</h3>

During your practice session, you should try to follow these guidelines for an effective practice.<br>
<br>
1.	Use the timer.<br>
2.	Take charge of your own learning when speaking in your second language.<br>
3.	Be sensitive to your partners' needs when speaking in your own language.<br>
4.	Don't correct grammar all the time - strive for communication.<br>
5.	Be considerate to others.<p></p>

<h4>1.	Use the Timer - Respect everyone's practice time</h4>
<ul>
  <li>Use the timer to make sure everyone gets equal practice time.
  </li><li>The timer tells you when to switch languages. Remember: everyone speaks in one language then everyone switches to the other language. This is to ensure a fair exchange - not to make things harder for you. If you don't know how to say something in your second language, feel free to say it in your first language!
  </li><li>The only exceptions are the warm-up and 
        summary, where the timer is used to limit the total time. More details 
        will be given in the lesson plans.</li>                          
</ul>

<h4>2.	Take Charge Of Your Own Learning (when speaking in your second language)</h4>
<ul>
  <li>Ask for explanations immediately when something is not clear - it's your responsibility to say so.
  </li><li>Feel free to ask your partners to repeat, explain or translate when you don't understand something - this is the whole reason behind this language exchange: for you to be able to follow the conversation and participate!
  </li><li>Ask your partners to slow down if they speak too fast.
  </li><li>Make an effort to speak out, even if you're 
        shy.</li>         
</ul>

<h4>3.	Be Sensitive to Your Partners' Needs (when speaking in your language)</h4>
<ul>
  <li>When speaking in your own language, please keep in mind that you're doing this so your partners can practice - encourage them to participate, and make sure they can follow the conversation.
  </li><li>Explain, repeat, write down or translate when necessary, and slow down if your partners ask you to.
  </li><li>If someone says a word that you don't understand (because of poor pronunciation, for example), just ask them to write it in the text box, then say it for them. Pronunciation is important!
  </li><li>Encourage those who are too shy to speak. For example, you can ask: "What do you think, Lolita? You've been very quiet."
  </li><li>Don't correct grammar all the time.</li>     
</ul>

<h4>4.	Giving Corrections</h4>
<ul>
  <li>Strive for communication, not correction. Our goal is to communicate and be understood.
  </li><li>Don't correct grammar all the time, and especially do not interrupt someone in the middle of a sentence to correct him or her - too much correction interferes with the conversation and can frustrate and block speakers. Do however clear up errors that interfere with understanding.
  </li><li>If someone insists on being corrected, ask him or her what he or she wants you to focus on: verbs, prepositions, pronunciation, gender, etc.
  </li><li>The best way to correct is to just repeat the 
        word or phrase the way you would say it, even if it is not proper 
        language. No need to explain anything unless the person asks.</li>                                  
</ul>

<h4>5.	Be Considerate</h4>
<ul>
  <li>Speak loudly and clearly - think of when you give an address over the phone.
  </li><li>Give everyone a chance to speak - don't monopolize the conversation.
  </li><li>Develop a listening attitude.
  </li><li>Allow others their point of view - you can comment, but don't judge.
  </li><li>If you're in a large group and decide to write 
        private messages to someone, please tell others and try to find another 
        room to practice.</li>                        
</ul>

<h3>	Practice Regularly, and Have Fun!</h3>
<ul>
  <li>Practice regularly. It's like physical exercise: a little here and there is fun, but not very effective. You need regular, quality practice to see results. It's also easier to organize if you practice regularly with the same partners.
  </li><li>Please do not skip the warm-ups. They may not seem very challenging - and maybe a little silly - but that's the point. Those games are designed to help everyone relax and be comfortable in order to benefit from the practice.
  </li><li>Relax and enjoy!</li>  
</ul>

<h3>	Report Disruptive Behavior</h3>
<ul>
  <li>This site is for learning and we strive for a 
        positive, relaxed atmosphere. Abusive behavior will not be tolerated. If 
        anyone is being inconsiderate, gently (politely) remind him or her of 
        these language exchange guidelines. If the person repeatedly disrupts 
        your practice, or doesn't respect everyone's practice time, please email 
        us about it.</li>                                                    
</ul>

<!-- p align="right"><i>- April 5, 2001</i>&nbsp;&nbsp;</p -->
</td>
</tr>
</tbody></table>
<br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/HowTo.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FHowTo.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f3f50ab40a212b4" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a0296f6f1c7aa%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff11ce736a56c786%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FHowTo.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
             
