<td valign="top">
				<!-- Page Begin -->



Learn French online by practicing with a native speaker who is learning your language.
Write or speak French online to improve grammar or conversation.<br>
<br>
A language exchange complements other forms of learning such as classroom, 
cultural immersion and multimedia, because you get to practice 
<b>all that you have learned</b>
with native speakers in a <b>safe and supportive</b> environment.<br>
<br>

<div id="BasicsInline">
<table class="TblCardSm" width="100%" cellspacing="0" cellpadding="2" border="0">
  <tbody><tr class="table-heading" valign="middle" align="left">
	<td valign="middle">
	  The Basics
	</td>
  </tr>
	<tr>
	  <td>
	  <a href="../faq.asp#_a1">What</a> is a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="../faq.asp#_a2">Why</a>  do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="../HowTo.asp">How</a> to do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="../SignUp.asp?showmenu=1">Sign up</a> now - add your free profile!<br>
	</td></tr>
</tbody></table>	
	
<br>
<br>
</div>

<table width="160" cellspacing="4" cellpadding="0" border="0" align="right">
    <tbody><tr>
        <td><img src="../images/spacer.gif" width="1" height="80" border="0"></td>
        <td bgcolor="DarkSlateGray"><img src="../images/spacer.gif" width="3" height="120" border="0"></td>
        <td><img src="../images/spacer.gif" width="1" height="80" border="0"></td>
        <td><br><font style="FONT-SIZE: 12pt; FONT-family: Serif; COLOR: DarkSlateGray">
...one of &nbsp;<em>"the best ways to learn a foreign language."</em>
</font>
<p align="right">

  <font style="FONT-SIZE: 8pt;" color="DarkSlateGray">- The Wall Street Journal<br><!--November 18, 2002--></font>

</p>
        </td>
        <td><img src="../images/spacer.gif" width="1" height="80" border="0"></td>
    </tr>
</tbody></table>

Advantages of language exchange learning include:
<ul>
    <li>Learning the real French language (slang, expressions, etc.) used by ordinary native speakers
    </li><li>Getting accustomed to the way native speakers speak in real (casual) French conversation
    </li><li>Making a friend in the French-speaking culture.
</li></ul>

Language exchange learning is also inexpensive because we provide free tips and conversation lesson plans
that allow you to do a language exchange on your own.<br> 
<br>
For more advantages, please see <a href="../faq.asp#_a2">why do a language exchange</a>.<br>
<br>
<h2>What You Can Do Here</h2>
Here at MyLanguageExchange.com, you can <br>
<ul>
    <li>Find French-speaking language exchange partners.
    </li><li>Practice your French by writing emails (<a href="../penpals.asp">pen pals</a>).
    </li><li>Practice written conversation using <a href="../TextChat.asp">text chat</a>.
    </li><li>Practice speaking using <a href="../voiceChat.asp">voice chat</a>.
    <!-- LI>Learn French expressions, slang and idioms by playing French <a href="../Hangman.asp">Hangman word games</a>.
    <LI><a href="../Signup.asp?showmenu=1">Add your profile</a> to the language exchange 
        community and let others contact you to for language exchange learning.
    <LI>Participate in public discussions about French in the <a href="../BBoard.asp">bulletin board</a>.
    -->
</li></ul>
We provide free, helpful guidelines and tips on <a href="../HowTo.asp">how</a> to do a language exchange, 
as well as free
<!-- a href="" onclick="CFOpen(0); return false;" -->lesson plans<!-- /a --> designed by an <a href="../Helene.asp">expert</a> in 
language exchange learning. The activities are fun so you can easily "break the ice" with your 
new learning partner and get effective practice.<br>
<br>
In short, you have everything you need to practice and learn French via a language exchange. 
<br>

<br>
<br>
<h2>Email, Text Chat or Voice Chat?</h2>

The type of exchange that is right for you depends on your proficiency level in French 
and your learning goals. Find out which 
<a href="Type_Ex.asp?HU=French.asp">type of language exchange</a> is right for you.
<br>
<br>
<br>
<h2>Before Practicing</h2>

Before you begin practicing, please read the free guideline, <a href="../HowTo.asp">How To Do A Language Exchange</a> 
for hints on doing an effective language exchange.<br>
<br>
<br>
<h2>Find a Partner Now</h2>


Find a <a href="../Search.asp?selX3=22">French language exchange partner</a> 
now, and have fun! <br>
<br>
  <table class="TblUserForm" cellspacing="0" cellpadding="1" border="0">
   <tbody><tr class="table-heading"><td>Find a&nbsp; French-speaking Partner</td></tr>
   <tr>
    <form method="get" action="../Search.asp" id="form1" name="form1"></form>
     <td>  
       <div align="left">  
       <!-- Find someone who has: -->
       </div>
         <!-- small><strong>Note:</strong> You don't have to fill all fields.</small -->
     
       <table class="TblInputForm" cellspacing="0" cellpadding="1" border="0" align="center">

           <tbody><tr>
             <td nowrap="">Your native language:</td>
             <td><script>$(document).ready(function() {    $(".select-suggestselX6").select2();});</script><select name="selX6" id="selX6" size="1" class="select-suggestselX6 select2-hidden-accessible" data-select2-id="select2-data-selX6" tabindex="-1" aria-hidden="true"><option value="null" selected="" data-select2-id="select2-data-2-w3cz">- Choose one -</option><option value="120">- Other -</option><option value="77">Afrikaans</option><option value="106">Akan</option><option value="60">Albanian</option><option value="94">Amharic (Ethiopian)</option><option value="18">Arabic, Egyptian</option><option value="3">Arabic, Middle Eastern</option><option value="2">Arabic, Moroccan</option><option value="4">Arabic, other</option><option value="168">Arabic, Palestinian</option><option value="82">Aramaic</option><option value="64">Armenian</option><option value="112">Assamese</option><option value="78">Assyrian</option><option value="72">Azerbaijani</option><option value="165">Bambara (Bamana)</option><option value="145">Baoulé (Baule, Bawule)</option><option value="7">Basque</option><option value="144">Bavarian (Austro-Bavarian)</option><option value="100">Belarusian</option><option value="153">Bemba (Chiwemba, Wemba)</option><option value="8">Bengali</option><option value="9">Berber (Tamazight)</option><option value="59">Bosnian</option><option value="116">Breton</option><option value="10">Bulgarian</option><option value="96">Burmese</option><option value="65">Cambodian (Khmer)</option><option value="55">Catalan</option><option value="136">Cebuano (Bisaya)</option><option value="95">Chichewa (Nyanja)</option><option value="11">Chinese, Cantonese</option><option value="12">Chinese, Mandarin</option><option value="13">Chinese, other</option><option value="167">Chinese, Taiwanese (Hokkien, Minnanhua)</option><option value="147">Chuvash (Bulgar)</option><option value="14">Creole</option><option value="83">Croatian</option><option value="15">Czech</option><option value="16">Danish</option><option value="17">Dutch</option><option value="1">English</option><option value="19">Esperanto</option><option value="63">Estonian</option><option value="146">Faroese</option><option value="88">Fijian</option><option value="20">Filipino (Tagalog)</option><option value="21">Finnish</option><option value="155">Fon (Dahomeen, Djedji, Fongbe)</option><option value="22">French</option><option value="68">Gaelic (Irish)</option><option value="170">Gaelic (Manx)</option><option value="69">Gaelic (Scottish)</option><option value="79">Galician</option><option value="71">Georgian</option><option value="23">German</option><option value="24">Greek</option><option value="74">Gujarati</option><option value="138">Hausa</option><option value="73">Hawaiian</option><option value="25">Hebrew</option><option value="26">Hindi</option><option value="117">Hmong</option><option value="27">Hungarian</option><option value="56">Icelandic</option><option value="109">Ido</option><option value="157">Igbo (Ibo)</option><option value="5">Indonesian (Bahasa)</option><option value="108">Interlingua</option><option value="29">Italian</option><option value="30">Japanese</option><option value="159">Kachchi</option><option value="67">Kannada</option><option value="91">Kazakh</option><option value="141">Kituba (Kikoongo, Munukutuba)</option><option value="123">Konkani</option><option value="143">Konkani (Kunabi, Cugani, Bankoti)</option><option value="31">Korean</option><option value="53">Kurdish</option><option value="135">Kyrgyz (Kara-Kirgiz, Kirghiz, Kirgiz)</option><option value="133">Ladino</option><option value="84">Lao</option><option value="57">Latin</option><option value="62">Latvian</option><option value="114">Ligurian</option><option value="142">Lingala (Ngala)</option><option value="61">Lithuanian</option><option value="66">Lombard</option><option value="148">Luxembourgeois (Luxemburgian)</option><option value="87">Macedonian</option><option value="115">Malagasy</option><option value="6">Malay (Bahasa Malaysia)</option><option value="93">Malayalam</option><option value="119">Maldivian (Dhivehi)</option><option value="101">Maltese</option><option value="160">Mandinka</option><option value="122">Maori (New Zealand Maori)</option><option value="85">Marathi</option><option value="105">Mongolian</option><option value="158">Montenegrin</option><option value="104">Native American (Ojibway, Cree...)</option><option value="81">Nepali</option><option value="102">Newari</option><option value="32">Norwegian</option><option value="151">Nyanja (Chewa, Chinyanja)</option><option value="154">Occitan (Occitani)</option><option value="90">Oriya</option><option value="152">Oromo (Oromoo , Oromiffa)</option><option value="161">Papiamento (or Papiamentu)</option><option value="124">Paraguayan Guarani</option><option value="33">Persian (Farsi, Dari)</option><option value="34">Polish</option><option value="35">Portuguese</option><option value="128">Pulaar</option><option value="36">Punjabi</option><option value="166">Purépecha (Tarascan)</option><option value="58">Pushto (Pashto)</option><option value="80">Quechua</option><option value="169">Rapa Nui</option><option value="37">Romanian</option><option value="89">Romansch</option><option value="150">Romany (Gypsy, Danubian)</option><option value="140">Rundi (Kirundi, Urundi)</option><option value="38">Russian</option><option value="139">Rwanda (Kinyarwanda)</option><option value="121">Saami (sami)</option><option value="132">Samoan</option><option value="111">Sanskrit</option><option value="39">Serbian</option><option value="98">Shona</option><option value="131">Sicilian</option><option value="40">Sign Language</option><option value="76">Sindhi</option><option value="86">Sinhalese</option><option value="41">Slovak</option><option value="54">Slovenian</option><option value="99">Somali</option><option value="42">Spanish</option><option value="43">Swahili</option><option value="44">Swedish</option><option value="163">Swiss German</option><option value="149">Tajiki (Tajiki, Tadzhik)</option><option value="45">Tamil</option><option value="126">Tatar (Tartar)</option><option value="75">Telugu</option><option value="103">Tetum</option><option value="46">Thai</option><option value="47">Tibetan</option><option value="137">Tigrigna (Tigray, Tigrinya)</option><option value="162">Tok Pisin</option><option value="107">Tongan</option><option value="92">Tswana</option><option value="134">Tumbuka</option><option value="48">Turkish</option><option value="49">Ukrainian</option><option value="50">Urdu</option><option value="127">Uyghur (Wighor)</option><option value="97">Uzbek</option><option value="113">Venetian</option><option value="51">Vietnamese</option><option value="70">Welsh</option><option value="129">Wolof</option><option value="118">Xhosa</option><option value="52">Yiddish</option><option value="130">Yoruba</option><option value="125">Zulu</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-1-ikwc" style="width: 281.683px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-selX6-container" aria-controls="select2-selX6-container"><span class="select2-selection__rendered" id="select2-selX6-container" role="textbox" aria-readonly="true" title="- Choose one -">- Choose one -</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></td>
           </tr>

           <tr>
             <!-- td colspan=2 bgcolor="#CB6A1F" -->
             <td align="left"></td>
             <td align="left">
                <input type="hidden" value="22" id="selX3" name="selX3">
                <input type="submit" value="Search" id="submit1" name="submit1">
             </td>
           </tr>

       </tbody></table>
     </td>
    
   </tr>       
  </tbody></table>

<br>
Click <a href="../Search.asp">here</a> for advanced search.
<br>
<br>
<br>
<br>

<table class="TblTranspose" width="75%" cellspacing="0" cellpadding="0" border="0">
<tbody>
    <tr>
        <td valign="top">

<table width="30%" cellspacing="0" cellpadding="1" border="0" bgcolor="Sienna">
    <tbody><tr>
        <td>
<table width="100%" cellspacing="0" cellpadding="6" border="0" bgcolor="ivory">
    <tbody><tr>
        <td>
<table cellspacing="1" cellpadding="0" border="0">
    <tbody><tr bgcolor="ivory">
      <td align="center">
    <em>MyLanguageExchange.com is doing "<b>extraordinary things online</b></em>."<br>
    <br>
    <a href="../awards.asp"><img src="../images/YilLogo2.gif" alt="Yahoo! Internet Life Magazine Logo" width="163" height="44" border="0"></a><br>
    <!--small style="FONT-SIZE: 8pt;">- January 2001</small-->
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>
        </td>
    </tr>
</tbody></table>

        </td>
        <td valign="top"><img src="../images/spacer.gif" width="55" height="1">
        </td>
        <td valign="top">

<table width="250" cellspacing="5" cellpadding="4" border="0">
    <tbody><tr bgcolor="white">
        <td>
    <em>"<b><font color="Black">Our level of knowledge has increased a lot. You made my dream come true.</font></b>"</em>
    <p align="right">
    <small style="FONT-SIZE: 8pt;">- Juan José Guerrero, Seville (Spain)<!--br>February 25, 2002--></small> <br>
    <a href="../" onclick="TestimonialDream(); return false;"><small>Read entire testimonial</small></a>
    </p>
        </td>
    </tr>
</tbody></table>

        </td>
    </tr>
</tbody>
</table>
<br>
<script type="text/javascript">
function GTranslate(Num){
	var sTmp;
	sTmp = $('#DESC'+Num).text();
	sTmp = "http://translate.google.com/#auto|en|" + encodeURI(sTmp);
	window.open(sTmp);
}
</script>


  <h2>Our Newest French-speaking Members</h2>
  Here are 20 of our most recent French-speaking members that could become your partner.<br>To view all registered French native speakers, please click <a href="../Search.asp?selX3=22">here</a>.<br>Click on a name for more information or to contact the member.<br><table class="TblDataRecs TblSrchResults" width="100%" cellspacing="0" cellpadding="1" border="1"><thead><tr class="table-heading"><td>Name</td> <td>Country<br>(City)</td> <td>Native Language</td> <td>Practicing Language</td> <td>Description</td> </tr></thead>
      
      
      <tbody>
          
          
         <%=render partial:"mylearner"%>
   
    </tbody>
  
  
  </table><br>Click <a href="../Search.asp?selX3=22">here</a> to view all French-speaking members.<br>
  Click <a href="../Search.asp">here</a> for advanced search.<br>
  <br>
  
<br>        
    </td>
