<!-- Page Begin -->
<h2>Language Lessons</h2>


We offer 4 types of language learning lessons.<br>
<br>

<h3>Language Exchange Lesson Plans by Language Exchange Teacher and Co-founder</h3>

Use <a href="ChatCompanion.asp">Language exchange lesson plans</a> during your language exchange practice. You and your partner do these activities together, spending half the time in your native language and half the time in your target language. Designed by a teacher specializing in language exchange and co-founder of this website Hélène Cormier, you will practice effectively while using everything you have learned in your target language.<br> 
<br>
The lesson plans are available in our <a href="ChatCompanion.asp">chat companion</a> - a tool that runs along side your voice or video chat program and includes a timer for switching languages, a dictionary and your own notepad for your convenience.<br>
<br>
Before you practice, please read <a href="HowTo.asp">How to do a language exchange</a>. Our proven method of language exchange developed by our language teacher and co-founder Helene Cormier will ensure you get effective practice.<br>
<br>

<h3>Words or Phrases by Community Members</h3>
Review or play word match games with words or phrases shared by our language exchange community members. Learn, play, comment, share. <a href="LessonScatter.asp">Click here</a><br>
<br>

<h3>Lessons, Quizzes and Articles by Registered Language Teachers</h3>
<a href="Teachers/LessonList.asp">Lessons</a>, <a href="Teachers/LessonQuizList.asp">quizzes</a> and <a href="Teachers/LessonArticleList.asp">articles</a> shared by our <a href="Teachers/">registered teachers</a>. <br>
<br>
<a href="Teachers/LessonList.asp">Click here for lessons</a>.<br>
<a href="Teachers/LessonQuizList.asp">Click here for quizzes</a>.<br>
<a href="Teachers/LessonArticleList.asp">Click here for articles</a>.<br>
<a href="Teachers/">Click here for language teachers</a>.<br>
<br>

<h3>Lessons, Quizzes and Articles by Members of the Language Exchange Community</h3>

<a href="https://speakerdeck.com/danlearner/learn-basic-mandarin-chinese-pinyin-traditional-and-simplified-characters">Learn Basic Mandarin Chinese - Pinyin, Traditional and Simplified Characters</a> by <a href="https://www.mylanguageexchange.com/Minfo.asp?UId=4048209">Andrew Moxham</a>.<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

 

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/Language-Lessons.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FLanguage-Lessons.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="fe1003992240ce" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3acb51a4f1d0c4%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ff2de9ea067006b2%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FLanguage-Lessons.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
               