<tr>
			<td>
				
				<a href="../city/Auckland__New_Zealand.asp"><img src="../images/bullet.gif" alt="language exchange in Auckland" width="12" height="14" border="0" align="texttop"></a>
				<a href="../city/Auckland__New_Zealand.asp">Auckland</a>
			</td>
		  </tr>
