<tr>
    <td data-th="Name" class="userdata" valign="top">
    <table cellspacing="0" cellpadding="2" border="0">
        <tbody><tr>
            <td>
	  <a href="#" data-featherlight="<img src='../Uploads/HomePics/4118066.jpg' height='300'>" data-featherlight-open-speed="1" data-featherlight-close-speed="1"><img src="../Uploads/HomePics/4118066.jpg" class="HomePic" border="0"></a>
	<br>
			<a href="../MemberInfo.asp?uid=4118066" class="rounded-btn icon-text btn-teal"><i class="material-icons-outlined notranslate">person</i> Stephanie</a>
                <br>
                <small><font color="gray">July 25, 2022</font></small>
            </td>
        </tr>
    </tbody></table>
    </td>
    <td data-th="Country(City)" class="userdata" valign="top">
    <table cellspacing="0" cellpadding="2" border="0">
        <tbody><tr>
            <td class="userdata">
              New Zealand 
            </td>
        </tr>
        
        <tr>
            <td class="userdata">
				<div class="NarrowOnWideScreen">
					(Auckland)
				</div>
            </td>
        </tr>
          
    </tbody></table>
    </td>
         
    <td data-th="Native Language" class="userdata" valign="top">
            <table width="100%" cellspacing="0" cellpadding="2" border="0">
                <tbody><tr>
                    <td class="userdata" align="left">
						<div class="NarrowOnWideScreen">
							English
						</div>
					</td>
                </tr>
                
            </tbody></table>
    </td>
    
    <td data-th="Practicing Language" class="userdata" valign="top">
           <table width="100%" cellspacing="0" cellpadding="2" border="0">
                <tbody><tr>
                    <td class="userdata">
						<div class="NarrowOnWideScreen">
							French
						</div>
					</td>
                </tr>
                
                <tr>
                    <td class="userdata" align="left">
						<div class="NarrowOnWideScreen">
							Korean
						</div>
					</td>
                </tr>
                
                <tr>
                    <td class="userdata" align="left">
						<div class="NarrowOnWideScreen">
							Chinese, Mandarin
						</div>
					</td>
                </tr>
                
                <tr>
                    <td class="userdata" align="left">
						<div class="NarrowOnWideScreen">
							German
						</div>
					</td>
                </tr>
                
            </tbody></table>    </td>

    <td data-th="Country(City)" class="userdata" valign="top">
    <table width="100%" cellspacing="0" cellpadding="2" border="0">
        <tbody><tr>
            <td class="userdata">
				<table width="100%" cellspacing="0" cellpadding="0">
				<tbody><tr valign="top">
				<td width="99%">
				<span id="DESC15">
                Hi, I'm Steph from New Zealand :) I'm from the hustle and bustle of a city that is auckland, and I love languages and getting to know other cultures!

I'm very keen to practice my Mandarin as I grew up with it, but it's at a ver..... 
				</span>
				</td>
				<td width="1%">
				<a href="" class="circle-btn btn-lt floating" onclick="GTransBr('DESC15'); return false;" style="margin: 3px 3px 3px 12px;"><i class="material-icons notranslate">translate</i></a>
				</td>
				</tr>
				</tbody></table>
            </td>
        </tr>
    </tbody></table>
    </td>

    </tr>
