<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->

<h2>Word Match Games - My Lessons</h2>


		<table width="99.5%" cellspacing="0" cellpadding="3" border="1" bgcolor="#81c6e2">
		<tbody><tr class="table-heading">
			<td width="60%" valign="bottom" nowrap=""><b>Title</b></td>
			<td width="10%" valign="bottom" nowrap=""><b>Languages</b></td>
			<td width="10%" valign="bottom" nowrap=""><b>Edited</b></td>
			<td width="1%" valign="bottom" nowrap=""><strong>Status</strong></td>
		</tr>
		
			<tr bgcolor="Ivory">
				<td class="userdata" valign="top">
					<a href="LessonTableEdit.asp?Id=1103"><b>aapprende l'alphabet russe</b></a><br>
					<br>
					<font size="-1" color="gray">No reviews yet.</font> <br>
					<a href="CLScatterPlay.asp?LessonID=1103"><small>Play</small></a>
					<a href="Notepad.asp?LessonID=1103"><small>View</small></a>
					<a href="LessonTableEdit.asp?Id=1103"><small>Edit</small></a>
				</td>
				<td class="userdata" valign="top">Russian - French</td>
				<td class="userdata" valign="top">
					July 31, 2022
				</td>

				<td>
					<form method="post" action="/LessonListMine.asp?lang=">
					   <input type="hidden" value="1103" name="hidLessonId">
					   
					   <select name="selLiveStatus" id="selLiveStatus">  
						 <option selected="" value="1">Live
						 </option><option value="0">Sleep
						 </option><option value="-1">Delete
					   </option></select>
					   <input type="submit" value="Set" id="submit1" name="submit1">
					</form> 
				</td>
			</tr>
			
		</tbody></table>
		




<br>
<table width="100%" cellspacing="1" cellpadding="1" border="0">
    <tbody><tr>
        <td>
            <b><a href="LessonTableEdit.asp">Create Word Match Lesson</a></b><br>
        </td>
        <td align="right">
            <!--b><a href="LessonTableEdit.asp">Create a Lesson</a></b-->
        </td>
    </tr>
</tbody></table>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/LessonListMine.asp?lang=" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FLessonListMine.asp%3Flang%3D&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f53c550daa94ae" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df36f9ecda04ff3e%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Fffc2a1bba46568%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FLessonListMine.asp%3Flang%3D&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
