
<h2>Hangman Game Builder</h2>

<table class="WidthMaxLim TblUserForm" border="0" cellpadding="0" cellspacing="0">
   <tr class="table-heading"><td>Step 1 - Create Your Hangman Game</td></tr>
   <tr>
     <td>  
	   
         <%=render 'hangman/form'%>
     </td>
   </tr>     
 </table>      


				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like" data-href="https://www.mylanguageexchange.com/HManBuilder.asp?x3=22&Cat1=&Cat2=" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>				
				&nbsp;&nbsp;