<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->


<h2>Hangman Game Feedback</h2>


<table cellspacing="0" cellpadding="0" border="0">
	<tbody><tr>
		<td align="left"><h5>Title:</h5>
		</td>
		<td valign="top" align="left"><b><span class="userdata">Faire du cheval</span></b>
		</td>
	</tr>
	<tr>
		<td align="left"><h5>Answer:</h5>
		</td>
		<td valign="top" align="left"><b><span class="userdata">équitation</span></b>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left">
			<b>French</b>
			&gt; <b>Popular Expression</b>
			&gt; <b>Sports</b>
		</td>
	</tr>
	<!-- TR>
		<TD align=left><b>Language:</b>
		</TD>
		<TD align=left><small>French</small>
		</TD>
	</TR>
	<TR>
		<TD align=left><b>Type:</b>
		</TD>
		  <td valign="top"><small>Popular Expression</small></td>
	</TR>
	<TR>
		<TD align=left><b>Category:</b>
		</TD>
		  <td valign="top"><small>Sports</small></td>
	</TR-->
</tbody></table>

<br>
<br>
<table class="TblInfoForm" cellspacing="0" cellpadding="2" border="0">
	<tbody><tr class="table-heading">
	  <td>
	    <b>Game Summary Statistics</b>
	  </td>
	</tr>
			
	<tr>
	  <td>
<table cellspacing="1" cellpadding="1" border="0">
	<tbody><tr>
		<td>Average Rating
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" align="left">3.5
		</td>
	</tr>
	<tr>
		<td># of votes
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" align="left">17
		</td>
	</tr>
	<tr>
		<td># of Garbage Votes
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" align="left">2
		</td>
	</tr>
	<tr>
		<td># of Garbage Votes by native speakers
		</td>
		<td><img src="images/spacer.gif" width="10" border="0">
		</td>
		<td class="userdata" valign="top" align="left">1
		</td>
	</tr>
</tbody></table>
	  </td>
	</tr>
</tbody></table>


<br>
<br>
<h3>Individual Ratings and Comments</h3>
This list may differ from the summary statistics above because only approved ratings are shown.<br>
<br>

<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: 15 !<br><span class="PageNumActive">1</span> &nbsp;<a class="PageNumBig" href="/HmanRatings.asp?GId=14453&amp;Cnt=2">2</a> &nbsp;<a class="PageArrow" style="margin-left: 3px;" href="/HmanRatings.asp?GId=14453&amp;Cnt=2"><svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg><!-- <i class="fas fa-arrow-right notranslate"></i> --></a> &nbsp;<br>
  <table class="TblSrchResults" width="99%" cellspacing="0" cellpadding="3" border="1">
  <tbody><tr class="table-heading">
    <td width="17%" valign="BOTTOM">Reviewer</td>
    <td valign="top">Comments</td>
  </tr>
   
     <tr>
		<td valign="top">
			
			  <a href="MemberInfo.asp?UId=2170726">Martin</a>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">5</span>
				  
				</td>
				<td align="right">November 10, 2013
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  Merci bcp!<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=141355"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  <a href="MemberInfo.asp?UId=2141520">Georgie Armstrong</a>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">2</span>
				  
				</td>
				<td align="right">August 28, 2012
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
						Instead of "<span class="userdata">équitation</span>",  in English we say "<span class="userdata">horse riding</span>"<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=133211"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  Guest
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">4</span>
				  
				</td>
				<td align="right">August 15, 2012
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=132815"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  <a href="MemberInfo.asp?UId=2058217">Peiya XIAO</a>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">3</span>
				  
				</td>
				<td align="right">April 27, 2012
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
						Instead of "<span class="userdata">équitation</span>",  in Chinese, Cantonese we say "<span class="userdata">骑马</span>"<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=130310"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  <a href="MemberInfo.asp?UId=1953589">Anne Salberg Pedersen</a>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">4</span>
				  
				</td>
				<td align="right">November 1, 2011
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
						Instead of "<span class="userdata">équitation</span>",  in Norwegian we say "<span class="userdata">Ridning</span>"<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=125946"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  Guest
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">4</span>
				  
				</td>
				<td align="right">February 14, 2010
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=109788"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  <a href="MemberInfo.asp?UId=1412053">Lesley</a>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">4</span>
				  
				</td>
				<td align="right">September 6, 2009
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=104687"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  <a href="MemberInfo.asp?UId=1405219">Maddie Harris</a>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">5</span>
				  
				</td>
				<td align="right">June 26, 2009
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
						Instead of "<span class="userdata">équitation</span>",  in English we say "<span class="userdata">horse riding</span>"<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=102352"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  Guest
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">5</span>
				  
				</td>
				<td align="right">September 29, 2008
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
						Instead of "<span class="userdata">équitation</span>",  in French we say "<span class="userdata">équitation</span>"<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=91636"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
     <tr>
		<td valign="top">
			
			  <a href="MemberInfo.asp?UId=1097066">pierre lebarbier</a>
			
			  <br>
			  <span class="userdata"><small>(native speaker)</small></span><br>
			
		</td>
		<td valign="top">
		<table width="100%" cellspacing="1" cellpadding="0" border="0">
			<tbody><tr>
				<td>
				  
				    Rating: <span class="userdata">5</span>
				  
				</td>
				<td align="right">April 11, 2008
				</td>
			</tr>
		</tbody></table>
		  <table width="100%" cellspacing="1" cellpadding="0" border="0">
				<tbody><tr>
					<td>
					  &nbsp;<br>
					  
					</td>
					<td valign="bottom" align="right">
					  <a href="HManMsgAdd.asp?MId=84156"><small>Reply</small></a>
					</td>
				</tr>
		  </tbody></table>
		  
		</td>
     </tr>
     
   </tbody></table>
   
<style>
.PageNumBig {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageNumBig:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc; */
}
.PageNumActive {
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: black;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #cb6a1f;
}
.PageArrow {
	display: inline-block;
	padding: 6px 24px; 
	margin: 1px 0px; 
	border-radius: 4px; 
	color: gray;/*#854514;*/
	font-size: 12px;
	background-color: #f5f2f0; /*#f2f2f2; */
	border: 1px solid gray;/*#877364;*/
}
.PageArrow:hover {
	font-size: 12px;
	background-color: #cccccc; /*#cccccc;*/
}
.PageGoBtn{
	display: inline-block;
	padding: 6px 10px; 
	margin: 1px 0px; 
	font-size: 12px;
	border: 1px outset slategray ;
}
</style>			
Total found: 15 !<br><span class="PageNumActive">1</span> &nbsp;<a class="PageNumBig" href="/HmanRatings.asp?GId=14453&amp;Cnt=2">2</a> &nbsp;<a class="PageArrow" style="margin-left: 3px;" href="/HmanRatings.asp?GId=14453&amp;Cnt=2"><svg class="svg-inline--fa fa-arrow-right fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"></path></svg><!-- <i class="fas fa-arrow-right notranslate"></i> --></a> &nbsp;<br>
  <br>
  <a href=""><b>Play Another Game</b></a>

<br>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/HmanRatings.asp?GId=14453" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FHmanRatings.asp%3FGId%3D14453&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f146507492270ce" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2175d832a9608c%26domain%3Dwww.mylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwww.mylanguageexchange.com%252Ff9a198f71594c8%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FHmanRatings.asp%3FGId%3D14453&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
