<h2>Hangman Game Builder</h2>

<table class="WidthMaxLim TblUserForm" border="0" cellpadding="0" cellspacing="0">
   <tr class="table-heading"><td>Step 3 - Optional Information</td></tr>
   <tr>
     <td>  
	        
         <%=render "hangman/form3", hangman: @hangman%>
     </td>
   </tr>     
 </table>      


				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like" data-href="https://www.mylanguageexchange.com/HManBuilder.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>				
				&nbsp;&nbsp;