
			<tr>
			 <td class="userdata" width="45%" valign="top">
				 H
					<font color="gray"><small>(Russian)</small></font>
				 
				<div style="position: relative; float: right">
				 <a title="Translate, Web search, Hear it spoken" href="#" class="circle-btn btn-lt floating" onclick="dropdownSiblingToggle(this); return false;"><i class="material-icons notranslate">more_vert</i></a>
				 
				 <div class="dropdown-content hide" style="width:100px">
							
				 <a target="_blank" rel="nofollow" title="Web search" href="http://www.google.com/search?hl=en&amp;q=%22H%22+-site%3Amylanguageexchange.com&amp;btnG=Search" class="circle-btn" onclick="dropdownAncestorClose(this);"><i class="material-icons notranslate">search</i></a>
				 
				 <a target="_blank" rel="nofollow" title="Translate &amp; listen" href="http://translate.google.com/#auto/en/H" onclick="dropdownAncestorClose(this);" class="circle-btn"><i class="material-icons notranslate">translate</i></a>
				 
				 <a onclick="RVSpeak('H','Russian Female'); return false;" href="/Notepad.asp" class="circle-btn"><i class="material-icons notranslate">play_arrow</i></a>
					</div>
             </div></td>
			 <td class="userdata" width="45%" valign="top">
             n
				<font color="gray"><small>(French)</small></font>
			 

			<div style="position: relative; float: right">
             <a title="Translate, Web search, Hear it spoken" href="#" class="circle-btn btn-lt floating" onclick="dropdownSiblingToggle(this); return false;"><i class="material-icons notranslate">more_vert</i></a>
			 <div class="dropdown-content hide" style="width:100px">
				 <a target="_blank" rel="nofollow" title="Web search" href="http://www.google.com/search?hl=en&amp;q=%22n%22+-site%3Amylanguageexchange.com&amp;btnG=Search" class="circle-btn" onclick="dropdownAncestorClose(this);"><i class="material-icons notranslate">search</i></a>
				 
				 <a target="_blank" rel="nofollow" title="Translate &amp; listen" href="http://translate.google.com/#auto/en/n" onclick="dropdownAncestorClose(this);" class="circle-btn"><i class="material-icons notranslate">translate</i></a>
				 
				 <a onclick="RVSpeak('n','French Female'); return false;" href="/Notepad.asp" class="circle-btn"><i class="material-icons notranslate">play_arrow</i></a>
			</div>
			</div>
           </td>  
           
			<td valign="top" nowrap="">
               
              <a href="NotepadAdd.asp?MsgId=64171"><i class="material-icons notranslate" style="font-size: 18px">edit</i></a>&nbsp; 
              <a href="Notepad.asp?lang1=&amp;lang2=&amp;hidProc=1&amp;srch=&amp;show=2&amp;bars=&amp;ClubLibId=64171&amp;del=1" onclick="return (confirm(&quot;Do you really want to delete this record from the Notepad?&quot;));"><i class="material-icons  notranslate" style="font-size: 18px">delete</i></a> 
			</td>
           
         </tr>
