<html><head>
    <title>Member Notepad Help</title>
    <link rel="stylesheet" type="text/css" href="st.css">
  </head>
  <body>  
   <table cellspacing="0" cellpadding="5" border="0" align="center">
     <tbody><tr>
       <td>
         <div align="center"><h2>Member Notepad Help</h2></div>
     Record new words and expressions as you learn them in your language exchange practice. Come back and review them later.<br><br>
     Made so many notes that you can't find what you are looking for? Use the search feature to find it!<br><br>
     Share a cool expression with the club. Just select <em>public</em> before you click on the <em>Submit</em> button to save a copy to the Club Library.<br><br>
     <strong>Note</strong>: if you want to just say hello or meet others in the club, you should use the bulletin board.
     Others can reply with a public message, or follow a link to your profile where they can send you a private message.
       </td>
     </tr>
	
   </tbody></table>
   <br>
   <p align="center"><a href="" onclick="window.close();return false;" align="center">Close Window</a></p>
    
    

</body></html>
