<td style="padding: 5px;" width="100%" valign="top">
				

                <!-- Page Begin -->
<h2>Job Center - Add Your Resume</h2>


	Post your resume. It is completely free!<br>
	<br>
	<br>

	<b>Post Your Resume Now</b><br>
	<br>
	To list your resume, just complete the following form and press the Preview button.<br>
	You will be able to preview and edit your resume before submitting it.<br> 
	After an approval period of usually 24 hours, your resume will be listed.<br>
	<br>
	<br>

 <table class="TblUserForm" cellspacing="0" cellpadding="2" border="1">
   <tbody><tr class="table-heading"><td>Fill this form and press the SUBMIT button</td></tr>
   <tr>
     <td>  
       Fields in <b>bold</b> are required.
       <form action="Jobs-Resumes-Add.asp" method="post" id="form2" name="form2">
         <table class="TblInputForm" width="100%" cellspacing="0" cellpadding="2" border="1" align="center">

           <tbody><tr>
             <td colspan="2">
               <b>Title</b><br>
               Summarize the skills that you offer in 12 - 20 words.<br>
               For example, do not write "My Resume" or "Job Seeker".<br> 
               <small>180 characters maximum</small>
               <input type="text" name="txtTitle" id="txtTitle" value="" style="width: 320px;" maxlength="180" width="32">
             </td>
           </tr>
           <tr>
             <td colspan="2">
               <b>Your Name</b><br>
               <input type="text" name="txtEmpName" id="txtEmpName" value="" style="width: 320px;" maxlength="180" width="32">
             </td>
           </tr>
           <tr>
             <td><b>City</b></td>
             <td><input type="text" name="txtCity" id="txtCity" value="" style="width: 320px;" maxlength="80" width="32"></td>
           </tr>
           <tr>
             <td><font color="red"></font><b>Country</b></td>
			 <td><script>$(document).ready(function() {    $(".select-suggestselCountry").select2();});</script><select name="selCountry" id="selCountry" size="1" class="select-suggestselCountry select2-hidden-accessible" data-select2-id="select2-data-selCountry" tabindex="-1" aria-hidden="true"><option value="null" selected="" data-select2-id="select2-data-2-sdrh"></option><option value="98">- Other -</option><option value="1">Afghanistan</option><option value="171">Albania</option><option value="108">Algeria</option><option value="189">Andorra</option><option value="197">Angola</option><option value="2">Argentina</option><option value="3">Armenia</option><option value="4">Australia</option><option value="5">Austria</option><option value="118">Azerbaijan</option><option value="6">Bahamas</option><option value="7">Bahrain</option><option value="8">Bangladesh</option><option value="107">Barbados</option><option value="9">Belarus</option><option value="10">Belgium</option><option value="11">Belize</option><option value="168">Benin</option><option value="157">Bermuda</option><option value="173">Bhutan</option><option value="12">Bolivia</option><option value="13">Bosnia and Herzegovina</option><option value="172">Botswana</option><option value="14">Brazil</option><option value="15">Bulgaria</option><option value="162">Burkina Faso</option><option value="135">Burma (Myanmar)</option><option value="194">Burundi</option><option value="16">Cambodia</option><option value="17">Cameroon</option><option value="18">Canada</option><option value="19">Cayman Islands</option><option value="114">Central African Republic</option><option value="166">Chad</option><option value="20">Chile</option><option value="21">China</option><option value="22">Colombia</option><option value="174">Comoros</option><option value="111">Congo</option><option value="23">Costa Rica</option><option value="24">Croatia</option><option value="25">Cuba</option><option value="175">Curacao</option><option value="169">Cyprus</option><option value="26">Czech Republic</option><option value="27">Denmark</option><option value="28">Dominican Republic</option><option value="29">Ecuador</option><option value="30">Egypt</option><option value="31">El Salvador</option><option value="129">Estonia</option><option value="133">Ethiopia</option><option value="160">Faroe Islands (Faeroe Islands)</option><option value="176">Fiji</option><option value="32">Finland</option><option value="33">France</option><option value="177">French Polynesia</option><option value="198">Gabon</option><option value="188">Gambia</option><option value="117">Georgia</option><option value="34">Germany</option><option value="35">Ghana</option><option value="37">Greece</option><option value="161">Greenland</option><option value="156">Guam</option><option value="38">Guatemala</option><option value="202">Guinea</option><option value="178">Guyana</option><option value="39">Haiti</option><option value="40">Honduras</option><option value="41">Hong Kong</option><option value="42">Hungary</option><option value="43">Iceland</option><option value="44">India</option><option value="45">Indonesia</option><option value="46">Iran</option><option value="47">Iraq</option><option value="48">Ireland (Republic of)</option><option value="49">Israel</option><option value="50">Italy</option><option value="167">Ivory Coast</option><option value="51">Jamaica</option><option value="52">Japan</option><option value="53">Jordan</option><option value="139">Kazakhstan</option><option value="54">Kenya</option><option value="55">Kuwait</option><option value="158">Kyrgyzstan</option><option value="115">Laos</option><option value="127">Latvia</option><option value="56">Lebanon</option><option value="57">Liberia</option><option value="150">Libya</option><option value="190">Liechtenstein</option><option value="128">Lithuania</option><option value="58">Luxembourg</option><option value="106">Macedonia</option><option value="148">Madagascar</option><option value="134">Malawi</option><option value="59">Malaysia</option><option value="141">Maldives</option><option value="193">Mali</option><option value="116">Malta</option><option value="201">Martinique</option><option value="179">Mauritania</option><option value="102">Mauritius</option><option value="60">Mexico</option><option value="136">Moldova</option><option value="61">Monaco</option><option value="151">Mongolia</option><option value="203">Montenegro</option><option value="62">Morocco</option><option value="146">Mozambique</option><option value="180">Namibia</option><option value="155">Nepal</option><option value="63">Netherlands</option><option value="159">New Caledonia</option><option value="64">New Zealand</option><option value="65">Nicaragua</option><option value="112">Niger</option><option value="132">Nigeria</option><option value="66">North Korea</option><option value="67">Norway</option><option value="68">Oman</option><option value="69">Pakistan</option><option value="196">Palestine</option><option value="70">Panama</option><option value="181">Papua New Guinea</option><option value="71">Paraguay</option><option value="72">Peru</option><option value="73">Philippines</option><option value="74">Poland</option><option value="75">Portugal</option><option value="76">Puerto Rico</option><option value="77">Qatar</option><option value="78">Romania</option><option value="79">Russia</option><option value="182">Rwanda</option><option value="80">Saudi Arabia</option><option value="154">Senegal</option><option value="170">Serbia</option><option value="165">Seychelles</option><option value="82">Singapore</option><option value="103">Slovakia</option><option value="104">Slovenia</option><option value="83">Somalia</option><option value="84">South Africa</option><option value="85">South Korea</option><option value="86">Spain</option><option value="145">Sri Lanka</option><option value="110">Sudan</option><option value="164">Suriname</option><option value="87">Sweden</option><option value="88">Switzerland</option><option value="89">Syria</option><option value="90">Taiwan</option><option value="163">Tajikistan</option><option value="113">Tanzania</option><option value="91">Thailand</option><option value="183">Togo</option><option value="147">Trinidad and Tobago</option><option value="109">Tunisia</option><option value="92">Turkey</option><option value="199">Turkmenistan</option><option value="184">Uganda</option><option value="140">Ukraine</option><option value="93">United Arab Emirates</option><option value="195">United Kingdom</option><option value="94">United States</option><option value="95">Uruguay</option><option value="137">Uzbekistan</option><option value="96">Venezuela</option><option value="97">Vietnam</option><option value="185">Yemen</option><option value="105">Yugoslavia</option><option value="186">Zambia</option><option value="138">Zimbabwe</option></select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-1-16k2" style="width: 206.283px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-selCountry-container" aria-controls="select2-selCountry-container"><span class="select2-selection__rendered" id="select2-selCountry-container" role="textbox" aria-readonly="true"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></td>
           </tr>
           <tr>
           </tr><tr>
             <td>
               <b>Your Email Address</b><br>
               <small>
               This will be shared only with employers having an active job opening
               registered in the Job Center.
               </small>
             </td>
             <td>
               <input type="email" name="txtEmail" id="txtEmail" value="" style="width: 150px;" maxlength="80" width="15">
             </td>
           </tr>
           <tr>
             <td>
               <b>Create Password (4 to 12 characters):</b>
             </td>
             <td colspan="3"><input type="password" name="pasPassword1" id="pasPassword1" value="" size="15" maxlength="12" required=""></td>
           </tr>
           <tr>
             <td><b>Re-enter password:</b></td>
             <td colspan="3"><input type="password" name="pasPassword2" id="pasPassword2" value="" size="15" maxlength="12" required=""></td>
           </tr>
           <tr>
             <td colspan="2">
               <b>Resume Details</b><br>
               <small>
               Do not write your email address or any form of contact information. <br>
               Do not write or refer to other website addresses where you can be contacted.<br>
               Potential employers will be able to access your email address on a separate page.<br>
               </small>
               <textarea name="txaDescr" id="txaDescr" rows="28" cols="43" style="width: 100%;"></textarea>
             </td>
           </tr>
         </tbody></table>
  
         <input type="hidden" value="1" name="hidProc" id="hidProc">  
         <br>                             
         <div align="left">
         <input type="Submit" value="Preview" id="submit1" name="submit1">
         </div>
       </form>
     </td>
   </tr>     
 </tbody></table>      
  
  
 
    
<br>
<br>

  <a href="Jobs.asp">Job Center Home</a>

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like fb_iframe_widget" data-href="https://www.mylanguageexchange.com/Jobs-resumes-Add.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobs-resumes-Add.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small"><span style="vertical-align: top; width: 0px; height: 0px; overflow: hidden;"><iframe name="f1b2c8e4d5a5b74" data-testid="fb:like Facebook Social Plugin" title="fb:like Facebook Social Plugin" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" style="border: medium none; visibility: visible; width: 0px; height: 0px;" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1d0b6d78358a46%26domain%3Dmylanguageexchange.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fmylanguageexchange.com%252Ffe002a98216d9%26relation%3Dparent.parent&amp;container_width=846&amp;href=https%3A%2F%2Fwww.mylanguageexchange.com%2FJobs-resumes-Add.asp&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true&amp;size=small" width="1000px" height="1000px" frameborder="0"></iframe></span></div>				
				&nbsp;&nbsp;
                </td>
