<!DOCTYPE html>
<html style="height: 100%;" class="fontawesome-i2svg-active fontawesome-i2svg-complete"><head>
  <title>Voice Chat: Free International Chat Rooms &amp; Programs</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="CONTENT-LANGUAGE" content="Spanish">
<meta http-equiv="EXPIRES" content="NEVER"> 
<meta name="rating" content="general">
<meta name="KEYWORDS" content="voice, chat, language, learn, Spanish, English, French, German, Chinese, Japanese, Korean improve, speaking, writing, listening, on-line, foreign, online, second, Practice, training, elearning, e-learning, audioconferencing, teacher">
<meta name="DESCRIPTION" content="Voice Chat: Free International Chat Rooms &amp; Programs.">
  <!--meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" /-->
<!--meta http-equiv="Pragma" content="no-cache" /-->
<!--meta http-equiv="Expires" content="0" /-->
<!-- Send full URL because we are checking in Psigate gateway -->
<meta name="referrer" content="no-referrer-when-downgrade">

    <script async="" src="voicechat_files/analytics.js"></script><script src="voicechat_files/jquery.min.js"></script>
	
	<style type="text/css">svg:not(:root).svg-inline--fa{overflow:visible}.svg-inline--fa{display:inline-block;font-size:inherit;height:1em;overflow:visible;vertical-align:-.125em}.svg-inline--fa.fa-lg{vertical-align:-.225em}.svg-inline--fa.fa-w-1{width:.0625em}.svg-inline--fa.fa-w-2{width:.125em}.svg-inline--fa.fa-w-3{width:.1875em}.svg-inline--fa.fa-w-4{width:.25em}.svg-inline--fa.fa-w-5{width:.3125em}.svg-inline--fa.fa-w-6{width:.375em}.svg-inline--fa.fa-w-7{width:.4375em}.svg-inline--fa.fa-w-8{width:.5em}.svg-inline--fa.fa-w-9{width:.5625em}.svg-inline--fa.fa-w-10{width:.625em}.svg-inline--fa.fa-w-11{width:.6875em}.svg-inline--fa.fa-w-12{width:.75em}.svg-inline--fa.fa-w-13{width:.8125em}.svg-inline--fa.fa-w-14{width:.875em}.svg-inline--fa.fa-w-15{width:.9375em}.svg-inline--fa.fa-w-16{width:1em}.svg-inline--fa.fa-w-17{width:1.0625em}.svg-inline--fa.fa-w-18{width:1.125em}.svg-inline--fa.fa-w-19{width:1.1875em}.svg-inline--fa.fa-w-20{width:1.25em}.svg-inline--fa.fa-pull-left{margin-right:.3em;width:auto}.svg-inline--fa.fa-pull-right{margin-left:.3em;width:auto}.svg-inline--fa.fa-border{height:1.5em}.svg-inline--fa.fa-li{width:2em}.svg-inline--fa.fa-fw{width:1.25em}.fa-layers svg.svg-inline--fa{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.fa-layers{display:inline-block;height:1em;position:relative;text-align:center;vertical-align:-.125em;width:1em}.fa-layers svg.svg-inline--fa{-webkit-transform-origin:center center;transform-origin:center center}.fa-layers-counter,.fa-layers-text{display:inline-block;position:absolute;text-align:center}.fa-layers-text{left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);-webkit-transform-origin:center center;transform-origin:center center}.fa-layers-counter{background-color:#ff253a;border-radius:1em;-webkit-box-sizing:border-box;box-sizing:border-box;color:#fff;height:1.5em;line-height:1;max-width:5em;min-width:1.5em;overflow:hidden;padding:.25em;right:0;text-overflow:ellipsis;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.fa-layers-bottom-right{bottom:0;right:0;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom right;transform-origin:bottom right}.fa-layers-bottom-left{bottom:0;left:0;right:auto;top:auto;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:bottom left;transform-origin:bottom left}.fa-layers-top-right{right:0;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top right;transform-origin:top right}.fa-layers-top-left{left:0;right:auto;top:0;-webkit-transform:scale(.25);transform:scale(.25);-webkit-transform-origin:top left;transform-origin:top left}.fa-lg{font-size:1.33333em;line-height:.75em;vertical-align:-.0667em}.fa-xs{font-size:.75em}.fa-sm{font-size:.875em}.fa-1x{font-size:1em}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-6x{font-size:6em}.fa-7x{font-size:7em}.fa-8x{font-size:8em}.fa-9x{font-size:9em}.fa-10x{font-size:10em}.fa-fw{text-align:center;width:1.25em}.fa-ul{list-style-type:none;margin-left:2.5em;padding-left:0}.fa-ul>li{position:relative}.fa-li{left:-2em;position:absolute;text-align:center;width:2em;line-height:inherit}.fa-border{border:solid .08em #eee;border-radius:.1em;padding:.2em .25em .15em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left{margin-right:.3em}.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fa-rotate-90{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-webkit-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-webkit-transform:scale(-1,1);transform:scale(-1,1)}.fa-flip-vertical{-webkit-transform:scale(1,-1);transform:scale(1,-1)}.fa-flip-horizontal.fa-flip-vertical{-webkit-transform:scale(-1,-1);transform:scale(-1,-1)}:root .fa-flip-horizontal,:root .fa-flip-vertical,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-rotate-90{-webkit-filter:none;filter:none}.fa-stack{display:inline-block;height:2em;position:relative;width:2em}.fa-stack-1x,.fa-stack-2x{bottom:0;left:0;margin:auto;position:absolute;right:0;top:0}.svg-inline--fa.fa-stack-1x{height:1em;width:1em}.svg-inline--fa.fa-stack-2x{height:2em;width:2em}.fa-inverse{color:#fff}.sr-only{border:0;clip:rect(0,0,0,0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.sr-only-focusable:active,.sr-only-focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}</style><link rel="stylesheet" type="text/css" href="voicechat_files/MyleStyle_Min205.css">
	<script src="voicechat_files/MyleJS_Min.js" defer="defer"></script>	

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<link rel="apple-touch-icon" sizes="180x180" href="https://mylanguageexchange.com/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://mylanguageexchange.com/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://mylanguageexchange.com/favicon-16x16.png">
	<link rel="manifest" href="https://mylanguageexchange.com/manifest.json">
	<link href="voicechat_files/featherlight.min.css" type="text/css" rel="stylesheet">	
	<script src="voicechat_files/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous" defer="defer">
	</script>
	<link href="voicechat_files/css.css" rel="stylesheet">
	<!-- Google Translate -->	
	<script type="text/javascript">
	function googleTranslateElementInit() {
	  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, autoDisplay: false, multilanguagePage: true}, 'google_translate_element');
	}
	function GTransBr(elmID){
	// Translate element ID elmID to browser's viewing language 
		var sTmp;
		sTmp = $('#'+elmID).text();
		sTmp = "http://translate.google.com/#auto|en|" + encodeURI(sTmp);
		window.open(sTmp);
	}
	</script>
	<script type="text/javascript" src="voicechat_files/element.js" defer="defer"></script>
		

<!-- You can use Open Graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<meta property="og:url" content="http://www.mylanguageexchange.com/VoiceChat.asp">
<meta property="og:type" content="website">
<meta property="og:title" content="My Language Exchange">
<meta property="og:description" content="Language Learning Community for Safe Effective Practice">
<meta property="og:image" content="http://www.mylanguageexchange.com/images/logoNew.gif">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-103187136-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- Select with suggest -->
<link href="voicechat_files/select2.min.css" rel="stylesheet">
<script src="voicechat_files/select2.min.js"></script>
<!--link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /-->
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script-->

<!-- Push Notifications -->
<script src="voicechat_files/OneSignalSDK.js" async=""></script>
<script>
    var OneSignal = window.OneSignal || [];
	// Do NOT call init() twice
	OneSignal.push(["init", {
		appId: "3655c02b-8d29-46b3-a392-b1c67d82cdc3",
		autoRegister: false,
		notifyButton: {
			enable: false, /* Set to false to hide */
			displayPredicate: function() {
				return OneSignal.isPushNotificationsEnabled()
					.then(function(isPushEnabled) {
						/* The user is subscribed, so we want to return "false" to hide the notify button */
						return !isPushEnabled;
					});
			}
		},
		welcomeNotification: {
		"title": "Thanks for subscribing!",
		"message": "Make friends, practice, learn!",
		// "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
		},
		promptOptions: {
			/* These prompt options values configure both the HTTP prompt and the HTTP popup. */
			/* actionMessage limited to 90 characters */
			actionMessage: "We'd like to send a browser notification when someone wants to  language practice with you.",
			/* acceptButtonText limited to 15 characters */
			acceptButtonText: "Allow",
			/* cancelButtonText limited to 15 characters */
			cancelButtonText: "No thanks"
		}
	}]);


//alert('hi');

//alert('bPushPromptPermission=0');


/* 
	Work-around mobile safari label bug 
	https://stackoverflow.com/questions/7358781/tapping-on-label-in-mobile-safari
*/

$('label').click(function() {});

$(document).ready(function(){
	// Add notranslate class to all icons
	$(".material-icons-outlined").addClass("notranslate");
	$(".material-icons").addClass("notranslate");
	$(".material-icons").addClass("notranslate");
	$(".fas").addClass("notranslate");
	$(".far").addClass("notranslate");
	$(".fa").addClass("notranslate");
});
</script>

<script src="voicechat_files/OneSignalPageSDKES6.js" async=""></script><link type="text/css" rel="stylesheet" charset="UTF-8" href="voicechat_files/translateelement.css"><script type="text/javascript" charset="UTF-8" src="voicechat_files/m=el_main"></script><link rel="stylesheet" href="voicechat_files/OneSignalSDKStyles.css"></head>

<body style="position: relative; min-height: 100%; top: 0px;"> 

	<!-- Header start -->
    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
	  <!-- Header Wide Begin -->
      <tr class="ScreenWide">
        <td width="15%" valign="top">
		    <!-- Language Exchange logo start -->
            <a href="https://mylanguageexchange.com/"><img id="Logo1" src="voicechat_files/logoNew.gif" alt="Voice Chat : Free International Chat Rooms and Programs" style="margin-top:9px;" height="64" border="0"></a>
		    <!-- Logo end -->
        </td>

       <td valign="bottom" align="center">  
		    
			<center><h1>Voice Chat</h1>
			<h2>Free International Chat Rooms and Programs</h2></center>
       </td>
       
       <td width="15%" valign="top" align="center">  
       </td>
      </tr>
	  <!-- Header Wide End -->

	  <!-- Header Mobile Begin -->
	  <tr>
		<td colspan="3">
			
<table id="myTopnav" class="topnavbar ScreenMobile" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
		<td rowspan="2" valign="middle">
			<a href="https://mylanguageexchange.com/"><img id="Logo1" src="voicechat_files/logoNew.gif" style="width:117px;height:auto;" alt="language exchange"></a>
		</td>
		<td align="right">
			<font face="Arial"> 
			
				  <a href="https://mylanguageexchange.com/Member.asp" class="topmenulinks" title="View contacts, edit profile">Hi cleo!</a>
				  <a href="#" id="mysidenavAccbtn" class="topmenulinks sidenavAccbtn ScreenMobile icon-text" onclick="SideNavAccToggle(); return false;" style="margin:1px 1px 0 0"><i class="material-icons-outlined notranslate">account_circle</i></a>
				  <span style="display:inline;">
				  
<div id="mySidenavAcc" class="sidenavAcc">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody><tr><td width="80%" align="left">
	  <img src="voicechat_files/logoNew.gif" alt="Language exchange" style="margin: 12px;" height="46" border="0">
	</td>
	<td align="right">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeSideNavAcc(); return false;">×</a>
	</td></tr>
	</tbody></table> 
	
	  <a href="https://mylanguageexchange.com/Member.asp" class="sidenavAccLink aDead">Account</a>
	  <a href="https://mylanguageexchange.com/Inbox.asp" class="sidenavAccLink aDead">Emails</a>
	  <a href="https://mylanguageexchange.com/HiSearch.asp" class="sidenavAccLink aDead">Hi!s</a>
	  <a href="https://mylanguageexchange.com/FavSearch.asp" class="sidenavAccLink aDead">Favorites</a>
	 
  <br>
</div>

				  </span>
			  
			  <span class="ScreenWide">
              <a href="https://mylanguageexchange.com/Member.asp" title="View contacts, Edit profile" class="topmenulinks rounded-btn-outline icon-text"><i class="material-icons-outlined notranslate">account_circle</i> Hi cleo!</a>
				<a class="topmenulinks icon-text notranslate" href="https://mylanguageexchange.com/HiSearch.asp" title="View my Hi!s"><i class="material-icons-outlined notranslate">emoji_people</i>Hi!s</a>								
				<a class="topmenulinks icon-text" href="https://mylanguageexchange.com/Inbox.asp" title="View emails received or sent"><i class="material-icons-outlined notranslate">email</i>Emails</a>
				<a class="topmenulinks icon-text" href="https://mylanguageexchange.com/FavSearch.asp" title="View and search my favorites"><i class="material-icons-outlined notranslate">favorite_border</i>Favorites</a>
			  </span>
            
			</font>
		</td>
	</tr>
	<tr>
		<td colspan="2" valign="bottom" align="right">
			<a href="https://mylanguageexchange.com/" class="sidenavbtn topmenulinks" onclick="SideNavToggle(); return false;"><i class="material-icons-outlined notranslate" style="font-size:30px; padding:4px; margin:0px 10px;">menu</i></a><br>
			
			<a href="https://mylanguageexchange.com/" id="mysidenavLangbtn" class="sidenavLangbtn topmenulinks rounded-btn-outline icon-text " onclick="SideNavLangToggle(); return false;">
			<i class="material-icons-outlined notranslate">language</i> Site language</a>
		 
            <a href="https://mylanguageexchange.com/LogOut.asp" class="topmenulinks" style="margin:0 5px 0 0;">Log Out</a>
          
		
		<div id="mySidenav" class="sidenav">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody><tr><td width="40%" align="left">
			  <img src="voicechat_files/logoNew.gif" alt="Language exchange" style="margin: 12px;" height="46" border="0">
			</td>
			<td align="right">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">×</a>
			</td>
			</tr>
			<tr>
			<!--td align=right><span style="color: white;">
			  
			</TD-->
			<td colspan="2" width="40%" align="right"><span style="color: white; margin-right:13px;">
			  <a href="https://mylanguageexchange.com/AddToHomeScreen.asp" style="color: white;">
			  <svg class="svg-inline--fa fa-plus-square fa-w-14 fa-lg" style="margin: 3px;" aria-hidden="true" data-prefix="far" data-icon="plus-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M352 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm96-160v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"></path></svg><!-- <i class="far fa-plus-square fa-lg" style="margin:3px;"></i> -->
			  Add to Home screen
			  </a>
			</span></td>
			</tr>
			</tbody></table>
			<br>
			 <a href="https://mylanguageexchange.com/" class="sidenavLink aDead">Home</a>
<a href="https://mylanguageexchange.com/penpals.asp" class="sidenavLink aDead">Penpals</a>
<a href="https://mylanguageexchange.com/HowTo.asp" class="sidenavLink aDead">How to</a>
<a href="https://mylanguageexchange.com/search.asp" class="sidenavLink aDead">Search</a>
<a href="https://mylanguageexchange.com/Games.asp" class="sidenavLink aDead">Word Games</a>
<a href="https://mylanguageexchange.com/Language-Lessons.asp" class="sidenavLink aDead">Lessons</a>
<a href="https://mylanguageexchange.com/Teachers/" class="sidenavLink aDead">Teachers</a>
<a href="https://mylanguageexchange.com/Member.asp" class="sidenavLink aDead">Edit Your Data</a>
<a href="https://mylanguageexchange.com/Notepad.asp?show=2" class="sidenavLink aDead">Member Notepad</a>
<a href="https://mylanguageexchange.com/Notepad.asp?show=1" class="sidenavLink aDead">Club Library</a>
<a href="https://mylanguageexchange.com/BBoard.asp" class="sidenavLink aDead">Bulletin Board</a>
<a href="" onclick="TranslOpen(); return false;" class="sidenavLink aDead">Translations</a>
<a href="https://mylanguageexchange.com/TextChat.asp" class="sidenavLink aDead">Text Chat</a>
<a href="https://mylanguageexchange.com/VoiceChat.asp" class="sidenavLink aDead">Voice Chat</a>
<a href="https://mylanguageexchange.com/faq.asp" class="sidenavLink aDead">FAQs</a>
<a href="https://mylanguageexchange.com/Jobs.asp" class="sidenavLink aDead">Jobs</a>
<a href="https://mylanguageexchange.com/ContactUs.asp" class="sidenavLink aDead">Contact Us</a>
<br>
<br>

		</div>
		<div id="mySidenavLang" class="sidenavLang">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tbody><tr><td width="80%" align="left">
			  <img src="voicechat_files/logoNew.gif" alt="Language exchange" style="margin: 12px;" height="46" border="0">
			</td>
			<td align="right">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeSideNavLang(); return false;">×</a>
			</td></tr>
			</tbody></table>
		  
	  <a href="https://mylanguageexchange.com/VoiceChat_fr.asp" class="sidenavLangLink notranslate aDead">Français</a>
	  <a href="https://mylanguageexchange.com/VoiceChat.asp" class="sidenavLangLink notranslate aDead">English</a>
	  <a href="https://mylanguageexchange.com/VoiceChat_spn.asp" class="sidenavLangLink notranslate aDead">Español</a>&nbsp;		  
	  <a href="https://mylanguageexchange.com/VoiceChat_gmn.asp" class="sidenavLangLink notranslate aDead">Deutsche</a>
	  <a href="https://mylanguageexchange.com/VoiceChat_chisim.asp" class="sidenavLangLink notranslate aDead">简体中文</a>
	  <a href="https://mylanguageexchange.com/VoiceChat_chitra.asp" class="sidenavLangLink notranslate aDead">繁體中文</a> 
	  <a href="https://mylanguageexchange.com/VoiceChat_jpn.asp" class="sidenavLangLink notranslate aDead">日本語</a>
	  <a href="https://mylanguageexchange.com/VoiceChat_ko.asp" class="sidenavLangLink notranslate aDead">한국어</a>
		 
	<br>
	<script>
	
		if ($(window).width()<=699 || true){
			document.write("<div id='google_translate_element' class='GTranMain scrollHide' style='max-width: 280px; width: 250px; overflow-wrap: anywhere; overflow: scroll;padding:4px 0px'></div>");
		}
	
	</script><div id="google_translate_element" class="GTranMain scrollHide" style="max-width: 280px; width: 250px; overflow-wrap: anywhere; overflow: scroll;padding:4px 0px"><div class="skiptranslate goog-te-gadget" dir="ltr" style=""><div id=":0.targetLanguage" style="display: inline;"><select class="goog-te-combo" aria-label="Widget de traduction"><option value="" selected="selected">Sélectionner une langue</option><option value="fr">Français</option><option value="af">Afrikaans</option><option value="sq">Albanais</option><option value="de">Allemand</option><option value="am">Amharique</option><option value="en">Anglais</option><option value="ar">Arabe</option><option value="hy">Arménien</option><option value="as">Assamais</option><option value="ay">Aymara</option><option value="az">Azéri</option><option value="bm">Bambara</option><option value="eu">Basque</option><option value="bn">Bengali</option><option value="bho">Bhodjpouri</option><option value="be">Biélorusse</option><option value="my">Birman</option><option value="bs">Bosniaque</option><option value="bg">Bulgare</option><option value="ca">Catalan</option><option value="ceb">Cebuano</option><option value="ny">Chichewa</option><option value="zh-CN">Chinois (simplifié)</option><option value="zh-TW">Chinois (traditionnel)</option><option value="si">Cingalais</option><option value="ko">Coréen</option><option value="co">Corse</option><option value="ht">Créole haïtien</option><option value="hr">Croate</option><option value="da">Danois</option><option value="dv">Divéhi</option><option value="doi">Dogri</option><option value="es">Espagnol</option><option value="eo">Espéranto</option><option value="et">Estonien</option><option value="ee">Ewe</option><option value="fi">Finnois</option><option value="fy">Frison</option><option value="gd">Gaélique (Écosse)</option><option value="gl">Galicien</option><option value="cy">Gallois</option><option value="ka">Géorgien</option><option value="el">Grec</option><option value="gn">Guarani</option><option value="gu">Gujarati</option><option value="ha">Haoussa</option><option value="haw">Hawaïen</option><option value="iw">Hébreu</option><option value="hi">Hindi</option><option value="hmn">Hmong</option><option value="hu">Hongrois</option><option value="ig">Igbo</option><option value="ilo">Ilocano</option><option value="id">Indonésien</option><option value="ga">Irlandais</option><option value="is">Islandais</option><option value="it">Italien</option><option value="ja">Japonais</option><option value="jw">Javanais</option><option value="kn">Kannada</option><option value="kk">Kazakh</option><option value="km">Khmer</option><option value="rw">Kinyarwanda</option><option value="ky">Kirghiz</option><option value="gom">Konkani</option><option value="kri">Krio</option><option value="ku">Kurde (Kurmandji)</option><option value="ckb">Kurde (Sorani)</option><option value="lo">Laotien</option><option value="la">Latin</option><option value="lv">Letton</option><option value="ln">Lingala</option><option value="lt">Lituanien</option><option value="lg">Luganda</option><option value="lb">Luxembourgeois</option><option value="mk">Macédonien</option><option value="mai">Maïthili</option><option value="ms">Malaisien</option><option value="ml">Malayalam</option><option value="mg">Malgache</option><option value="mt">Maltais</option><option value="mi">Maori</option><option value="mr">Marathi</option><option value="mni-Mtei">Meitei (Manipuri)</option><option value="lus">Mizo</option><option value="mn">Mongol</option><option value="nl">Néerlandais</option><option value="ne">Népalais</option><option value="no">Norvégien</option><option value="or">Odia (Oriya)</option><option value="om">Oromo</option><option value="ug">Ouïgour</option><option value="uz">Ouzbek</option><option value="ps">Pachtô</option><option value="pa">Panjabi</option><option value="fa">Persan</option><option value="tl">Philippin</option><option value="pl">Polonais</option><option value="pt">Portugais</option><option value="qu">Quechua</option><option value="ro">Roumain</option><option value="ru">Russe</option><option value="sm">Samoan</option><option value="sa">Sanscrit</option><option value="nso">Sepedi</option><option value="sr">Serbe</option><option value="st">Sesotho</option><option value="sn">Shona</option><option value="sd">Sindhî</option><option value="sk">Slovaque</option><option value="sl">Slovène</option><option value="so">Somali</option><option value="su">Soundanais</option><option value="sv">Suédois</option><option value="sw">Swahili</option><option value="tg">Tadjik</option><option value="ta">Tamoul</option><option value="tt">Tatar</option><option value="cs">Tchèque</option><option value="te">Telugu</option><option value="th">Thaï</option><option value="ti">Tigrigna</option><option value="ts">Tsonga</option><option value="tr">Turc</option><option value="tk">Turkmène</option><option value="ak">Twi</option><option value="uk">Ukrainien</option><option value="ur">Urdu</option><option value="vi">Vietnamien</option><option value="xh">Xhosa</option><option value="yi">Yiddish</option><option value="yo">Yorouba</option><option value="zu">Zoulou</option></select></div>&nbsp;&nbsp;Fourni par&nbsp;<span style="white-space:nowrap"><a class="goog-logo-link" href="https://translate.google.com/" target="_blank"><img src="voicechat_files/googlelogo_color_42x16dp.png" style="padding-right: 3px" alt="Google Traduction" width="37px" height="14px">Traduction</a></span></div></div>	

		  <br>
		</div>
		
		</td>
	</tr>
</tbody></table>


		</td>
      </tr>
	  <!-- Header Mobile End -->
		
		<tr>
		  <td colspan="3" class="ScreenWide topnavbarHdr1">
			
		<a href="https://mylanguageexchange.com/" title="Language Exchange Home">Language Exchange</a> &gt; 
		
		<a href="https://mylanguageexchange.com/VoiceChat.asp">Voice Chat</a>

		  </td>
		</tr>
	</tbody>
	</table>
	<!-- Header end -->

	<!-- Body begin -->
	<table id="myMain" class="main" width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
		  <td align="CENTER"> 
		  
		  <!-- Viewing Languages menu start -->
		  <span class="ScreenWide LangMenuHdr1" style="border-bottom: 1px solid #dd2c00; /* deep orange acc4*/">
		  
	  <a href="https://mylanguageexchange.com/VoiceChat_fr.asp" class="topmenulinks">Français</a>&nbsp;
	  <a href="https://mylanguageexchange.com/VoiceChat.asp" class="topmenulinks">English</a>&nbsp;
	  <a href="https://mylanguageexchange.com/VoiceChat_spn.asp" class="topmenulinks">Español</a>&nbsp;			  
	  <a href="https://mylanguageexchange.com/VoiceChat_gmn.asp" class="topmenulinks">Deutsche</a>&nbsp;
	  <a href="https://mylanguageexchange.com/VoiceChat_chisim.asp" class="topmenulinks">简体中文</a>&nbsp;
	  <a href="https://mylanguageexchange.com/VoiceChat_chitra.asp" class="topmenulinks">繁體中文</a> 
	  <a href="https://mylanguageexchange.com/VoiceChat_jpn.asp" class="topmenulinks">日本語</a>
	  <a href="https://mylanguageexchange.com/VoiceChat_ko.asp" class="topmenulinks">한국어</a>
	
	<div id="google_translate_element" class="LangMenuHdr1"></div>

		  </span>
		  <!-- Viewing Languages menu end -->
		  
			<center class="ScreenMobile LangMenuHdr1"><h1>Voice Chat</h1>
			<h2>Free International Chat Rooms and Programs</h2></center>

		  <!-- 3 Col Layout Start -->
			<br>
		  <table id="LayoutCol3" width="100%" cellspacing="0" cellpadding="2" border="0">
		  <tbody>
			<tr>
				<!-- LCol Start -->
				<td width="15%" valign="top" align="left">
				</td>
				<!-- LCol End -->
				
				<!-- MidCol Start -->
				<%=yield%>
	<!-- RightCol Start -->
    <td width="240px" valign="top">
        <div id="BasicsRMenu">
<table class="TblCardSm" width="100%" cellspacing="0" cellpadding="2" border="0">
  <tbody><tr class="table-heading" valign="middle" align="left">
	<td valign="middle">
	  The Basics
	</td>
  </tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/faq.asp#_a1">What</a> is a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/faq.asp#_a2">Why</a>  do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/HowTo.asp">How</a> to do a language exchange?<br>
	</td></tr>
	<tr>
	  <td>
	  <a href="https://mylanguageexchange.com/SignUp.asp?showmenu=1">Sign up</a> now - add your free profile!<br>
	</td></tr>
</tbody></table>	
	
<br>
<br>
</div>

<table class="TblCardSm" width="100%" cellspacing="0" cellpadding="2" border="0">
	<tbody><tr class="table-heading">
	  <td>
		As featured in...
	  </td>
	</tr>
	
	<tr>
	  <td>
		<a href="https://mylanguageexchange.com/awards.asp" style="font-family: serif; font-size: 12pt; font-weight: bold;">Yahoo! Internet Life<br> Magazine</a>
	  </td>
	</tr>
</tbody></table>
	
<br>
<br>

<table class="TblCardSm" width="100%" cellspacing="0" cellpadding="4" border="0">
  <tbody><tr class="table-heading">
	<td>
	  Member Testimonials
	</td>
  </tr>
  <tr>
	<td>
		

		"My language exchange is working wonderfully." 
		..."We couldn't be happier with the exchange. Thank you for setting it all up.
		Thank you for everything."<br>
		<p align="right"><i><font color="DarkSlateGray">- John C., New York, United States<!--, March 29, 2001--></font></i></p>

		<br>
		"It has been a great experience for me so far." 
		..."this is my #1 favorite online site. Thanks."
		<p align="right"><i><font color="DimGray">- United States<!--, March 29, 2001--></font></i></p>

		<br>
		..."I'll be using your site to practice my French, and I'll
		recommend it to everyone I know.<br>

		<p align="right"><i><font color="DimGray">- Katerina Vallianatos, ESL Teacher, U.S.A.<!--, January 1, 2001--></font></i></p>


		<br>
		..."Cela fait environ un mois que je cherche des sites 
		de ce genre sans en rencontrer un à mon goût. Je vous félicite vraiment et vous remercie beaucoup. 
		Continuer votre beau travail."<br>
		<br>
		<p align="right"><i><font color="DimGray">- Paskoila, St-jean (Québec) Canada<!--, November 3, 2001--></font></i></p>
						   


		<br>
		"I recommended your site to my Spanish professors and other 
		students.  I think it's a great idea!"  ..."I will use it more in the 
		future as a teacher.  Thanks."<br>
		<p align="right"><i><font color="DimGray">- United States<!--, March 29, 2001--></font></i></p>

		<br>
		..."finally something useful on the Internet."
		<p align="right"><i><font color="DimGray">- Niel Smith, Silicon Valley, California, U.S.A.<!--, February 9, 2001--></font></i></p>

		<p align="left"><a href="https://mylanguageexchange.com/awards.asp#Testimonials">Read the full testimonials</a></p>

		
	</td>	  
  </tr>
</tbody></table>
	</td>
	<!-- RightCol End -->


	</tr><!-- Close the row of 3 columns -->
	<tr><!-- New row spanning all 3 columns -->
				<td colspan="3">

				<br>
				<br>
				<!-- FB Like -->
				<div class="fb-like" data-href="https://www.mylanguageexchange.com/VoiceChat.asp" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>				
				&nbsp;&nbsp;
                </td>
            </tr>
		  </tbody>
          </table>
		  <!-- 3 Col Layout End -->	


				<br>
			</td>
        </tr>

		<!--Copyright Start -->
        <tr>
            <td colspan="2" align="center">
				<br>
				
	  <hr width="100%" size="1" noshade="noshade" align="center">
	  <font size="2" face="Arial">Copyright © 2000-2022   MyLanguageExchange.com</font><br>
	
            </td>
        </tr>
		<!--Copyright End -->

        <!--Featured Languages and Bottom Links Row Start -->
        <tr>
            <td colspan="2" align="center">
				<br>
				<!--Languages Featured Start -->
				
	<center>

	
		<table cellspacing="1" cellpadding="1" border="0">
			<tbody><tr>
				<td align="center"><small class="small8">Featuring  languages, including...</small>
				</td>
			</tr>
			<tr>
				<td align="center">
		&nbsp;
		<a class="btmmenulinks" href="/Learn/English.asp"><img src="voicechat_files/check.gif" alt="Learn English online: Learn to speak English free" width="13" height="12" border="0" align="absbottom">English</a>
		<a class="btmmenulinks" href="/Learn/ESL.asp">(ESL)</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Spanish.asp"><img src="voicechat_files/check.gif" alt="Learn Spanish online: Learn to speak Spanish free" width="13" height="12" border="0" align="absbottom">Spanish</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/French.asp"><img src="voicechat_files/check.gif" alt="Learn French online: Learn to speak French free" width="13" height="12" border="0" align="absbottom">French</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Italian.asp"><img src="voicechat_files/check.gif" alt="Learn Italian online: Learn to speak Italian free" width="13" height="12" border="0" align="absbottom">Italian</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/German.asp"><img src="voicechat_files/check.gif" alt="Learn German online: Learn to speak German free" width="13" height="12" border="0" align="absbottom">German</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Japanese.asp"><img src="voicechat_files/check.gif" alt="Learn Japanese online: Learn to speak Japanese free" width="13" height="12" border="0" align="absbottom">Japanese</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Korean.asp"><img src="voicechat_files/check.gif" alt="Learn Korean online: Learn to speak Korean free" width="13" height="12" border="0" align="absbottom">Korean</a>&nbsp;
                <br>
		&nbsp;
                <a class="btmmenulinks" href="/Learn/Chinese.asp"><img src="voicechat_files/check.gif" alt="Learn Chinese online: Learn to speak Chinese free" width="13" height="12" border="0" align="absbottom">Chinese</a>&nbsp;
		<small>(</small>
                <a class="btmmenulinks" href="/Learn/Chinese_Mandarin.asp"><!-- img SRC="images/check.gif" border="0" width="13" height="12" align=absbottom alt="Learn Mandarin online: Learn to speak Mandarin free" -->Mandarin</a>,&nbsp; 
		<a class="btmmenulinks" href="/Learn/Chinese_Cantonese.asp"><!-- img SRC="images/check.gif" border="0" width="13" height="12" align=absbottom alt="Learn Cantonese online: Learn to speak Cantonese free" -->Cantonese</a><small>)</small> 
		<a class="btmmenulinks" href="/Learn/Portuguese.asp"><img src="voicechat_files/check.gif" alt="Learn Portuguese online: Learn to speak Portuguese free" width="13" height="12" border="0" align="absbottom">Portuguese</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Russian.asp"><img src="voicechat_files/check.gif" alt="Learn Russian online: Learn to speak Russian free" width="13" height="12" border="0" align="absbottom">Russian</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Thai.asp"><img src="voicechat_files/check.gif" alt="Learn Thai online: Learn to speak Thai free" width="13" height="12" border="0" align="absbottom">Thai</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Swedish.asp"><img src="voicechat_files/check.gif" alt="Learn Swedish online: Learn to speak Swedish free" width="13" height="12" border="0" align="absbottom">Swedish</a>
		<a class="btmmenulinks" href="/Learn/Greek.asp"><img src="voicechat_files/check.gif" alt="Learn Greek online: Learn to speak Greek free" width="13" height="12" border="0" align="absbottom">Greek</a>&nbsp;
		<a class="btmmenulinks" href="/Learn/Arabic.asp"><img src="voicechat_files/check.gif" alt="Learn Arabic online: Learn to speak Arabic free" width="13" height="12" border="0" align="absbottom">Arabic</a>&nbsp;<br>
		<!-- • --><small>[</small> <a class="btmmenulinks" href="/Learn-Languages.asp"><!-- img SRC="images/ArrowRight.gif" border="0" width="13" height="12" align=absbottom alt="Learn how to speak a foreign language free online" -->View all languages</a> <small>]</small>&nbsp;
				</td>
			</tr>
		</tbody></table>
	
	</center>

				<!--Languages Featured End -->
				<br>

				<!--Bottom links Start -->
				
		<a href="" onclick="PrivacyPopUp(); return false"><small>Privacy</small></a>&nbsp;
		<a href="" onclick="MemberAgreementPopUp(); return false;"><small>Terms of Use</small></a>&nbsp;
		<a href="https://mylanguageexchange.com/scams.asp"><small>Beware of Scams</small></a>&nbsp;
		<a href="https://mylanguageexchange.com/LinkToUs.asp" tabindex="-1"><small>Link to Us</small></a>&nbsp;&nbsp;
		<a href="https://mylanguageexchange.com/FreeGold.asp" tabindex="-1"><small>Free Gold Membership</small></a>&nbsp;&nbsp;
	
				<!--Bottom links End -->
				<br>
				<br>

            </td>
        </tr>
        <!--Featured Languages and Bottom Links Row End -->
      </tbody></table>

<!--script src="//code.jquery.com/jquery-latest.js"></script--><!-- This conflicts with jquery include in HeadInc.asp -->
<script src="voicechat_files/featherlight.min.js" type="text/javascript" charset="utf-8"></script>






    <script language="javascript">
    <!--
    //newWnd=window.open("Music.asp", "Music", "toolbar=0, directories=0, status=0,menubar=0,scrollbars=0,resizable=1,width=240,height=25");
    //window.location.reload(false);    // without this, the pop-up will reload if 'Back button' to first page
    //-->
    </script>
  

<div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="voicechat_files/translate_24dp.png" alt="Google Traduction" width="20" height="20"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Texte d'origine</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Proposer une meilleure traduction</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div><script language="JavaScript"> <!--
function CFOpen(pl) {
  var newW, x, y, w;
  w= 480
  y = 0
  x=screen.width-w-10;
  
  newW=window.open("ChatFacilFrm.asp?pl="+pl, "ChatFacilitator", "toolbar=0,directories=0,menubar=0,scrollbars=1,resizable=1,width=" + w + ",height=510,left=" + x + ",top=" + y);
}

function ChatOpen(S) {
  var y;
  y = Math.round(screen.height * 0.05)
  newW=window.open(S, "ChatWnd", "toolbar=0,menubar=0,scrollbars=0,resizable=1,width=200,height=310,left=0,top=" + y);
}

function LoginPopUp() {
  //' If you change something here, don't forget synchronize it with PopUpLodin in file GenLib.asp 
  var newW 
  newW=window.open("LogIn.asp", "LogIn", "toolbar=1, directories=0, menubar=0,scrollbars=1,resizable=1,width=580,height=340");
}

function InsertAccentsSignUp(ch) {
  document.SignUpForm.txaDescr.value = document.SignUpForm.txaDescr.value + ch
}

function TranslOpen() {
  var newW, x, y, w;
  w= 850
  y = 35
  x=50;
//  newW=window.open("Translator.asp","Translator", "toolbar=0,directories=0,menubar=0,scrollbars=1,resizable=1,width=" + w + ",height=525,left=" + x + ",top=" + y);
  newW=window.open("http://translate.google.com/#","Translator", "toolbar=0,directories=0,menubar=0,scrollbars=1,resizable=1,width=" + w + ",height=400,left=" + x + ",top=" + y);
  newW.focus();
}

function BabelOpen() {
  var newW, x, y, w;
  w= 670
  y = 50
  x=screen.width-w-60;
  newW=window.open("TranslatorBabel.asp","TranslBabel", "toolbar=0,directories=0,menubar=0,scrollbars=1,resizable=1,width=" + w + ",height=425,left=" + x + ",top=" + y);
  newW.focus();
}

function SignupPopUp() {
  var newWnd, h;
  h=screen.height * 0.7
  newWnd=window.open("SignUp.asp", "SignUp", "toolbar=1, directories=0, menubar=0,scrollbars=1,resizable=1,width=520,height=" + h);
}

function MemberAgreementPopUp() {
  var newWnd, h;
  h=screen.height * 0.7
  newWnd=window.open("MemberAgreement.asp", "MemberAgreement", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=520,height=" + h);
}

function MemberAgreementPopUp_fr() {
  var newWnd, h;
  h=screen.height * 0.7
  newWnd=window.open("MemberAgreement_fr.asp", "MemberAgreement", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=520,height=" + h);
}

function PrivacyPopUp() {
  var newWnd;
  newWnd=window.open("Privacy.asp", "Privacy", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=520,height=600");
}

function PopUp(sURL,sName,Width,Height) {
  var newWnd;
  newWnd=window.open(sURL, sName, "toolbar=0, directories=0,menubar=0,scrollbars=0,location=0,resizable=1,width="+Width+",height="+Height+",left=300");
}


function HiddenEmailPopUp() {
  var newWnd;
  newWnd=window.open("HiddenEmail.asp", "HiddenEmail", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=315,height=210");
}

function EmailWhyPopUp() {
  var newWnd;
  newWnd=window.open("EmailWhy.asp", "EmailWhy", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=490,height=310");
}

function EmailNoPartnerPopUp() {
  var newWnd;
  newWnd=window.open("EmailNoPartner.asp", "EmailNoPartner", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=330,height=250");
}

function WhosOnPopUp()
{
  var newW, x, y, w;
  w= 400;
  y = 10;
  x=10;

  newW=window.open("WhosOn.asp", "WhosOn", "toolbar=0,menubar=0,scrollbars=1,resizable=1,width=" + w + ",height=450,left=" + x + ",top=" + y);
}

function EmailWhiteListPopUp() {
  var newWnd;
  newWnd=window.open("EmailWhiteList.asp", "EmailWhiteList", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=490,height=310");
}

function UserIDPopUp() {
  var newWnd;
  newWnd=window.open("UserID.asp", "UserID", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=490,height=310");
}

function HiWhatPopUp() {
  var newWnd;
  newWnd=window.open("HiWhat.asp", "HiWhat", "toolbar=0, directories=0, menubar=0,scrollbars=1,resizable=1,width=490,height=310");
}

<!--    
// by Nannette Thacker
// http://www.shiningstar.net
// This script checks and unchecks boxes on a form
// Checks and unchecks unlimited number in the group...
// Pass the Checkbox group name...
// call buttons as so:
// <input type=button name="CheckAll"   value="Check All"
    //onClick="checkAll(document.myform.list)">
// <input type=button name="UnCheckAll" value="Uncheck All"
    //onClick="uncheckAll(document.myform.list)">
// -->
function checkAll(field)
{
if (field.length==undefined){	// Only 1 checkbox
	if (!field.disabled){
		field.checked = true;
		} 
	}
else{
	for (i = 0; i < field.length; i++)
		if (!field[i].disabled){
			field[i].checked = true ;
		}
	}
}
function uncheckAll(field)
{
if (field.length==undefined){	// Only 1 checkbox
	field.checked = false;
	}
else{
	for (i = 0; i < field.length; i++)
		field[i].checked = false ;
	}
}
function ShowHistory(IdSelf, IdPartner){
var newW, x, y, w, IdSelf, IdPartner;
w= 500;
y = 10;
x=10;

newW=window.open("MembShowHistory.asp?IdSelf="+IdSelf+"&IdPartner="+IdPartner, "MembShowHistory", "toolbar=1,menubar=1,scrollbars=1,resizable=1,width=" + w + ",height=520,left=" + x + ",top=" + y);

}

//-->
</script><div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body></html>